<template lang="html">
  <b-container>
    <b-row class="text-left mb-3">
      <b-col>
        <h2>Detalles del indicador</h2>
      </b-col>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ indicator.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ indicator.description }}</b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Responsable:</b-col>
            <b-col sm="9">
              <b-button
                v-b-modal.responsible-info
                variant="outline-primary"
                size="sm"
              >
                <b-icon icon="person-lines-fill"></b-icon>
              </b-button>
              ID

              <b-modal
                id="responsible-info"
                scrollable
                title="Informacion del responsable"
                ok-only
              >
                <b-row>
                  <b-col sm="3">Nombres: </b-col>
                  <b-col sm="3"> nombre </b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">Correo: </b-col>
                  <b-col sm="3"> correo </b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">Rol: </b-col>
                  <b-col sm="3"> Rol </b-col>
                </b-row>
              </b-modal>
            </b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="9">{{ indicator.status }}</b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Criterios</b-col>
            <b-col sm="7">
              <b-button v-b-modal.create-task-modal
                >Crear Tarea</b-button
              >
              <!--<NewCriteria :PhaseID=phase.id></NewCriteria>-->
            </b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col>
              <b-card>
                Lista de tareas
                <!--<ListCriteria :PhaseID=phase.id></ListCriteria>-->
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col align-self="center">
          <b-button
            variant="outline-primary"
            :to="{ name: 'EditIndicator', params: { indicatorId: indicator.id } }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Indicador
          </b-button>
        </b-col>
        <b-col>
          <b-button v-b-modal.delete-indicator-modal>Eliminar</b-button>
          <DeleteIndicator :IndicatorInfo="indicator"></DeleteIndicator>
        </b-col>
        <b-col>
          <b-button>
            Atras
          </b-button>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
//import axios from "axios";
import DeleteIndicator from "@/components/Indicator/DeleteIndicator";
//const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteIndicator,
  },
  data() {
    return {
      indicatorId: this.$route.params.indicatorId,
      indicator: "",
    };
  },
  methods: {
    getIndicadores() {},
    
    // getUser() {
    //   const path = url + `/user/user/${this.criteria.id_user}`;
    //   axios.get(path).then(response => {
    //     this.user = response.data;
    //   });
    // }
  },
  created() {
    this.getIndicadores();
  },
};
</script>
<style lang="css" scoped></style>
