<template lang="html">
  <b-container>
    <b-modal
      id="delete-studentResult-modal"
      ref="modal"
      title="Eliminar Resultado del Estudiante"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el Resultado del Estudiante
      {{ this.StudentResultInfo.name }} ?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="ok()">
          Confirmar
        </b-button>
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancelar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["StudentResultInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteStudentResult();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-studentResult-modal");
      });
    },

    /**
     * @description Elimina un resultado del estudiante en especifico
     */
    deleteStudentResult() {
      const path =
        url + `process/portfolio/student_result/${this.StudentResultInfo.id}`;
      axios.delete(path);
      swal("Resultado del Estudiante Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push({
          name: "ListStudentResult",
        });
      });
    },
  },
};
</script>

<style></style>
