<template lang="html">
  <div>
    <b-row>
      <div class="my-2  text-left mb-2">
        <b-button :to="{ name: 'ListStudentResult' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <div class="col-12">
        <h3 class="text-center my-0 ">Detalles del Resultado del Estudiante</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ studentResult.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ studentResult.description }}</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="mt-4">
      <b-row class="text-left mt-3" style="margin-left: 15em;">
        <b-col sm="9"></b-col>
        <b-col sm="3" v-if="createPermission()">
          <b-button
            v-b-modal.create-studentResultCriteria-modal
            variant="outline-primary"
          >
            <b-icon icon="plus"></b-icon> Agregar Criterio
          </b-button>
          <NewStudentResultCriteria
            :studentResultId="studentResult.id"
          ></NewStudentResultCriteria>
        </b-col>
      </b-row>

      <br />

      <b-table
        striped
        hover
        show-empty
        small
        stacked="md"
        :items="criteria"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filter-included-fields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        empty-text="No hay criterios para mostrar"
        empty-filtered-text="No hay criterios para mostrar que coincidan con su solicitud"
        class="ltable"
      >
        <template v-slot:cell(actions)="data">
          <b-container>
            <b-row>
              <b-col sm="6">
                <b-button
                  size="sm"
                  variant="outline-primary"
                  @click="infoEdit(data.item.id, data.item.name, $event.target)"
                  v-if="editPermission()"
                >
                  <b-icon icon="pencil-square"></b-icon>
                </b-button>
              </b-col>
              <b-col sm="6">
                <b-button
                  size="sm"
                  variant="danger"
                  class="d-inline-block"
                  @click="
                    infoDelete(data.item.id, data.item.name, $event.target)
                  "
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                </b-button>
              </b-col>
            </b-row>
          </b-container>
        </template>
      </b-table>

      <b-row>
        <b-col sm="5" md="6" class="my-1">
          <b-form-group
            label="Por pagina"
            label-cols-sm="6"
            label-cols-md="4"
            label-cols-lg="3"
            label-align-sm="right"
            label-size="sm"
            label-for="perPageSelect"
            class="mb-0"
          >
            <b-form-select
              v-model="perPage"
              id="perPageSelect"
              size="sm"
              :options="pageOptions"
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-row>

      <b-modal
        :id="deleteModal.id"
        :title="deleteModal.title"
        @ok="handleDeleteOk"
        ok-title="Eliminar"
        cancel-title="Cancelar"
      >
        ¿Está seguro que desea eliminar este criterio?
      </b-modal>

      <b-modal
        :id="editModal.id"
        :title="editModal.title"
        @ok="handleEditOk"
        ok-title="Editar"
        cancel-title="Cancelar"
      >
        <b-form>
          <b-form-group label="Nombre:" label-for="name">
            <b-form-input
              id="name"
              v-model="editModal.name"
              required
              :state="studentResulCriteriaStateNameValidation()"
            ></b-form-input>
            <small class="msg" v-if="!onlyTextAndNumber1(editModal.name)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small class="msg" v-if="!textSize(editModal.name, 2, 32)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 2 y máximo 32 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Descripcion:" label-for="description">
            <b-form-input
              id="description"
              v-model="editModal.description"
              :state="studentResultCriteriaStateDescriptionValidation()"
            ></b-form-input>
            <small>No es obligatorio</small>
            <small
              class="msg"
              v-if="!onlyTextAndNumber2(editModal.description)"
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small
              class="msg"
              v-if="
                !textEmpty(editModal.description) &&
                !textSize(editModal.description, 0, 256)
              "
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 0 caracteres y Máximo 256 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Nivel 1 = Insatifactorio (25%):" label-for="level1">
            <b-form-input
              id="level1"
              v-model="editModal.level1"
              :state="studentResultCriteriaStateLevel1Validation()"
            ></b-form-input>
            <small>No es obligatorio</small>
            <small class="msg" v-if="!onlyTextAndNumber2(editModal.level1)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small
              class="msg"
              v-if="
                !textEmpty(editModal.level1) &&
                !textSize(editModal.level1, 0, 156)
              "
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 0 caracteres y Máximo 156 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Nivel 2 = En proceso (50%):" label-for="level2">
            <b-form-input
              id="level2"
              v-model="editModal.level2"
              :state="studentResultCriteriaStateLevel2Validation()"
            ></b-form-input>
            <small>No es obligatorio</small>
            <small class="msg" v-if="!onlyTextAndNumber2(editModal.level2)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small
              class="msg"
              v-if="
                !textEmpty(editModal.level2) &&
                !textSize(editModal.level2, 0, 156)
              "
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 0 caracteres y Máximo 156 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Nivel 3 = Satisfactorio (75%):" label-for="level3">
            <b-form-input
              id="level3"
              v-model="editModal.level3"
              :state="studentResultCriteriaStateLevel3Validation()"
            ></b-form-input>
            <small>No es obligatorio</small>
            <small class="msg" v-if="!onlyTextAndNumber2(editModal.level3)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small
              class="msg"
              v-if="
                !textEmpty(editModal.level3) &&
                !textSize(editModal.level3, 0, 156)
              "
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 0 caracteres y Máximo 156 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Nivel 4 = Sobresaliente (100%):" label-for="level4">
            <b-form-input
              id="level4"
              v-model="editModal.level4"
              :state="studentResultCriteriaStateLevel4Validation()"
            ></b-form-input>
            <small>No es obligatorio</small>
            <small class="msg" v-if="!onlyTextAndNumber2(editModal.level4)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small
              class="msg"
              v-if="
                !textEmpty(editModal.level4) &&
                !textSize(editModal.level4, 0, 156)
              "
            >
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 0 caracteres y Máximo 156 caracteres
            </small>
          </b-form-group>
        </b-form>
        <b-form>
          <b-form-group label="Niveles sugeridos:">
            <b-form-checkbox-group
              id="checkbox-group-level"
              v-model="editModal.level_suggested"
              :state="studentResultCriteriaStateLevelSuggestedValidation(editModal.level_suggested)"
              :options="options"
            ></b-form-checkbox-group>
            <small
              class="msg"
              v-if="!textSize(editModal.level_suggested, 1,4)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
              Seleccione mínimo 1 nivel sugerido
            </small>
          </b-form-group>
        </b-form>
      </b-modal>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{
              name: 'EditStudentResult',
              params: { studentResultId: studentResult.id },
            }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Resultado del Estudiante
          </b-button>
        </div>
        <div v-if="disablePermission()">
          <div class="text-right float-right ml-3">
            <b-button
              v-if="this.studentResult.status"
              v-b-modal.deactivate-studentResult-modal
              variant="warning"
            >
              <b-icon icon="x-circle"></b-icon>
              Desactivar Resultado del Estudiante
            </b-button>
            <DeactivateStudentResult
              :StudentResultInfo="studentResult"
            ></DeactivateStudentResult>
          </div>
          <div class="text-right float-right ml-3">
            <b-button
              v-if="!this.studentResult.status"
              v-b-modal.activate-studentResult-modal
              variant="success"
            >
              <b-icon icon="check-circle"></b-icon>
              Activar Resultado del Estudiante
            </b-button>
            <ActivateStudentResult
              :StudentResultInfo="studentResult"
            ></ActivateStudentResult>
          </div>
        </div>
        <div class="text-right float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-studentResult-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar Resultado del Estudiante
          </b-button>
          <DeleteStudentResult
            :StudentResultInfo="studentResult"
          ></DeleteStudentResult>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

import NewStudentResultCriteria from "@/components/StudentResult/NewStudentResultCriteria";
import DeleteStudentResult from "@/components/StudentResult/DeleteStudentResult";
import DeactivateStudentResult from "@/components/StudentResult/DeactivateStudentResult";
import ActivateStudentResult from "@/components/StudentResult/ActivateStudentResult";

const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteStudentResult,
    NewStudentResultCriteria,
    DeactivateStudentResult,
    ActivateStudentResult,
  },
  data() {
    return {
      studentResultId: this.$route.params.studentResultId,

      studentResult: [],
      criteria: [],
      scriteria: [],
      options: [
        {
          text: "0",
          value: "0",
        },
        {
          text: "1",
          value: "1",
        },
        {
          text: "2",
          value: "2",
        },
        {
          text: "3",
          value: "3",
        },
      ],
      fields: [
        {
          key: "name",
          label: "Codigo",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "level1",
          label: "Nivel 1 = Insatifactorio (25%)",
          class: "text-center",
        },
        {
          key: "level2",
          label: "Nivel 2 = En proceso (50%)",
          class: "text-center",
        },
        {
          key: "level3",
          label: "Nivel 3 = Satisfactorio (75%)",
          class: "text-center",
        },
        {
          key: "level4",
          label: "Nivel 4 = Sobresaliente (100%)",
          class: "text-center",
        },
        {
          key: "level_suggested",
          label: "Niveles sugeridos",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
          class: "text-center",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name", "description"],

      deleteModal: {
        id: "delete-modal",
        title: "",
        criteria_id: "",
      },

      editModal: {
        id: "edit-modal",
        title: "",
        criteria_id: "",
        name: "",
        description: "",
        level1: "",
        level2: "",
        level3: "",
        level4: "",
        level_suggested: [],
        status: true,
        id_student_result: this.$route.params.studentResultId,
      },

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9_.,:]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
    };
  },
  computed: {},

  /**
   * @description Establecer el número inicial de elementos
   */
  beforeUpdate() {
    this.totalRows = this.criteria.length;
  },
  methods: {
    /**
     * @description Obtiene la informacion de un resultado del estudiante en especifico
     */
    getStudentResult() {
      const path =
        url + `process/portfolio/student_result/${this.studentResultId}/`;

      axios
        .get(path)
        .then((response) => {
          this.studentResult = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @description Obtiene todos los criterios de un resultado del estudiante en especifico
     */
    getCriteria() {
      const path =
        url +
        `process/portfolio/criteria/?id_student_result=${this.studentResultId}`;

      axios
        .get(path)
        .then((response) => {
          this.criteria = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Elimina un criterio en especifico
     */
    deleteCriteria() {
      const path =
        url + `process/portfolio/criteria/${this.deleteModal.criteria_id}`;
      axios.delete(path);
      swal("Criterio Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.getCriteria();
      });
    },

    infoDelete(itemID, itemName, button) {
      this.deleteModal.title = `Eliminar Criterio ${itemName}`;
      this.deleteModal.criteria_id = itemID;
      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },

    /**
     * @description Metodo que se llama al presionar el boton Eliminar del modal de eliminar
     */
    handleDeleteOk() {
      this.deleteCriteria();
      console.log("Borrar criterio");
    },

    /**
     * @description Edita un criterio en especifico
     */
    editCriteria() {
      const path =
        url + `process/portfolio/criteria/${this.editModal.criteria_id}/`;
      axios
        .put(path, this.editModal)
        .then((response) => {
          this.editModal.name = response.data.name;
          this.editModal.description = response.data.description;
          this.editModal.level1 = response.data.level1;
          this.editModal.level2 = response.data.level2;
          this.editModal.level2 = response.data.level3;
          this.editModal.level3 = response.data.level4;
          this.editModal.level_suggested = response.data.level_suggested;
          swal("Criterio Editado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.getCriteria();
          });
        })

        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_student_result, name deben formar un conjunto único.",
              "Ya existe un criterio con ese nombre."
            )
          );
          swal("No se edito el criterio", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },
    /**
     * @description Obtiene informacion del criterio que se va a editar en el modal
     */
    infoEdit(itemID, itemName, button) {
      this.editModal.title = `Editar Criterio de ${itemName}`;
      this.editModal.criteria_id = itemID;

      const path =
        url + `process/portfolio/criteria/${this.editModal.criteria_id}`;

      axios
        .get(path)
        .then((response) => {
          this.editModal.name = response.data.name;
          this.editModal.description = response.data.description;
          this.editModal.level1 = response.data.level1;
          this.editModal.level2 = response.data.level2;
          this.editModal.level3 = response.data.level3;
          this.editModal.level4 = response.data.level4;
          this.editModal.level_suggested = response.data.level_suggested;
        })

        .catch((error) => {
          console.log(error);
        });

      this.$root.$emit("bv::show::modal", this.editModal.id, button);
    },

    /**
     * @description Verifica que se cumplan las validaciones de los campos del criterio de resultado del estudiante
     */
    studentResultCriteriaValidation() {
      return (
        this.studentResultCriteriaNameValidation() &&
        this.studentResultCriteriaDescriptionValidation() &&
        this.studentResultCriteriaLevel1Validation() &&
        this.studentResultCriteriaLevel2Validation() &&
        this.studentResultCriteriaLevel3Validation() &&
        this.studentResultCriteriaLevel4Validation() &&
        this.studentResultCriteriaLevelSuggestedValidation()
      );
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal de editar una incidencia
     * Verifica si se cumplio las validaciones para editar la incidencia
     */
    handleEditOk() {
      if (this.studentResultCriteriaValidation()) {
        this.editCriteria();
      } else {
        swal("Datos incorrectos", "", "error", {
          button: "Aceptar",
        });
      }
    },


    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResulCriteriaStateNameValidation() {
      if (this.textEmpty(this.editModal.name)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentResultCriteriaNameValidation() {
      return (
        this.textSize(this.editModal.name, 2, 32) &&
        this.onlyTextAndNumber1(this.editModal.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateDescriptionValidation() {
      if (this.textEmpty(this.editModal.description)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    studentResultCriteriaDescriptionValidation() {
      return (
        this.textSize(this.editModal.description, 0, 256) &&
        this.onlyTextAndNumber2(this.editModal.description)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level1
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel1Validation() {
      if (this.textEmpty(this.editModal.level1)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel1Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level1
     * @return {boolean}
     */
    studentResultCriteriaLevel1Validation() {
      return (
        this.textSize(this.editModal.level1, 0, 156) &&
        this.onlyTextAndNumber2(this.editModal.level1)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level2
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel2Validation() {
      if (this.textEmpty(this.editModal.level2)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel2Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level2
     * @return {boolean}
     */
    studentResultCriteriaLevel2Validation() {
      return (
        this.textSize(this.editModal.level2, 0, 156) &&
        this.onlyTextAndNumber2(this.editModal.level2)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level3
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel3Validation() {
      if (this.textEmpty(this.editModal.level3)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel3Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level3
     * @return {boolean}
     */
    studentResultCriteriaLevel3Validation() {
      return (
        this.textSize(this.editModal.level3, 0, 156) &&
        this.onlyTextAndNumber2(this.editModal.level3)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level4
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel4Validation() {
      if (this.textEmpty(this.editModal.level4)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel4Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level4
     * @return {boolean}
     */
    studentResultCriteriaLevel4Validation() {
      return (
        this.textSize(this.editModal.level4, 0, 156) &&
        this.onlyTextAndNumber2(this.editModal.level4)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de nivel sugerido
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevelSuggestedValidation() {
      if (this.textEmpty(this.editModal.level_suggested)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevelSuggestedValidation();
    },

    /**
     * @description Metodo que verifica el cantidad de check de nivel sugerido
     * @return {boolean}
     */
    studentResultCriteriaLevelSuggestedValidation() {
      return this.textSize(this.editModal.level_suggested, 1, 4);
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();

    this.getStudentResult();
    this.getCriteria();
  },
};
</script>

<style lang="css" scoped></style>
