<template lang="html">
  <div class="text-left">
    <b-row>
      <div class="my-2 ">
        <b-button :to="{ name: 'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>
          &nbsp;Atrás
        </b-button>
      </div>
      <div class="col-12 mt-3">
        <h5 class="text-nowrap my-0">Listado de Resultados del Estudiante</h5>
      </div>
      <b-col l class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch">
          <b-icon icon="search" aria-hidden="true"></b-icon>
          Buscar
        </b-button>
      </b-col>
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              >
              </b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
      </b-row>
    </b-collapse>
    <br />
    <b-table
      v-if="disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="studentResult"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      empty-text="No hay resultados del estudiante para mostrar"
      empty-filtered-text="No hay resultados del estudiante para mostrar que coincidan con su solicitud"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailStudentResult',
              params: { studentResultId: data.item.id },
            }"
            >Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-table
      v-if="!disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="studentResult"
      :fields="fields2"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      empty-text="No hay resultados del estudiante para mostrar"
      empty-filtered-text="No hay resultados del estudiante para mostrar que coincidan con su solicitud"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailStudentResult',
              params: { studentResultId: data.item.id },
            }"
            >Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-row class="mb-4">
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;
export default {
  data() {
    return {
      studentResult: [],
      studyPlanID: this.$route.params.studyPlanId,
      fields: [
        {
          key: "name",
          label: "Resultados del Estudiante",
          //class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          //class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
          //class: "text-center",
        },
      ],
      fields2: [
        {
          key: "name",
          label: "Resultados del Estudiante",
          //class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
          //class: "text-center",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name", "description"],
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return {
            text: f.label,
            value: f.key,
          };
        });
    },
  },

  /**
   * @description Establece la cantidad de filas de resultados del estudiante
   */
  beforeUpdate() {
    this.totalRows = this.studentResult.length;
  },
  methods: {
    /**
     * @description Obtiene todos los resultados del estudiante de un recurso en especifico
     * @return {student_result}
     */
    getStudentResult() {
      const path =
        url +
        `process/portfolio/student_result/?id_resource=${this.studyPlanID}`;

      axios
        .get(path)
        .then((response) => {
          this.studentResult = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @description Activa la paginación para actualizar el número de botones / páginas debido al filtrado
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();

    this.getStudentResult();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}
</style>
