<template lang="html">
<b-container id="custom-css">
  <b-row>
    <b-col cols="10" class="px-4">
      <h3 class="text-left py-4">Resultados del estudiante</h3>
    </b-col>
    <b-col cols="2" class="py-4">
      <b-icon icon="person-fill" font-scale="2"></b-icon>
    </b-col>
  </b-row>
  <b-row>
    <b-col cols="12 " class="px-4">
      <div title="Card Title" no-body>
        <div header-tag="nav">
          <b-nav card-header tabs>
            <b-nav-item
              :to="{ name: 'ListStudentResult' }"
              exact
              exact-active-class="active"
              v-if="listPermission()">Lista</b-nav-item>
            <b-nav-item
              :to="{ name: 'NewStudentResult' }"
              exact
              exact-active-class="active"
              v-if="createPermission()">Agregar</b-nav-item>
          </b-nav>
        </div>
        <b-card-body>
          <router-view></router-view>
        </b-card-body>
      </div>
    </b-col>
  </b-row>
</b-container>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {

    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio) ||
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },

  created() {
    PermissionService.setUserActive();

    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
