<template lang="html">
<div class="container">
  <h3 class="text-left mt-2 mb-3">Editar desarrollo académico</h3>
  <b-card class="mb-3 text-left">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-row class="text-left mb-1">
        <b-col sm="3">Tipo de Actividad:</b-col>
        <b-col sm="9">
          <b-form-group>
            <b-form-input
            id="input-1"
            type="text"
            v-model="form.activity"
            :formatter="forceLowerCase"
            required
            :state="validateStatei(form.activity)"
            ></b-form-input>
            <small class="msg" v-if="!validateState(form.activity)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 30 caracteres
          </small>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row class="text-left mb-1">
        <b-col sm="3">Tema:</b-col>
        <b-col sm="9">
          <b-form-group >
            <b-form-textarea
            id="input-2"
            type="text"
            name="theme"
            v-model.trim="form.theme"
            :formatter="forceLowerCase"
            :state="validateStatei(form.theme)"
            ></b-form-textarea>
            <small class="msg" v-if="!validateState(form.theme)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 8 y máximo 100 caracteres
            </small>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row clas="py-4">
        <div class="col-12">
          <div class="text-right float-right ml-3">
        <b-button type="submit" variant="secondary" 
          class="float-right"
          ><b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button>
      </div>
      <div class="text-right float-right ml-3">
        <b-button v-b-modal.delete-process-modal variant="danger"
        class="float-left">
          <b-icon icon="trash"></b-icon>
          Eliminar
        </b-button>
        <DeleteAcademicDevelopment :idaw="form.id"></DeleteAcademicDevelopment>
      </div>
      
      </div>
      </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import DeleteAcademicDevelopment from "@/components/ReportAcademicDevelopment/DeleteAcademicDevelopment";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    DeleteAcademicDevelopment,
  },
  data() {
    return {
      idAD: this.$route.params.idAD,
      users: [],
      roles: "",
      form: {
        id: "",
        activity: "",
        theme: "",
        id_course_active: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },

      errors: {
        name: "",
      },
    };
  },
  methods: {
        /**
     * @description Metodo para realizar los cambios de un sesarrollo academico
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.validateStateall()) {
        this.editAcademicDevelopment();
      }
    },
    /**
     * @description resetear el formulario
     */    
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Metodo que construye los parametros de envio(modifica el desarrollo academico)
     */
    editAcademicDevelopment() {
      const path = url + `process/portfolio/academic_development/${this.idAD}/`;

      console.log(this.form);

      axios
        .put(path, this.form)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.activity = response.data.activity;
          this.form.theme = response.data.theme;
          this.form.id_course_active = response.data.id_course_active;

          swal("Proceso Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errors.name = error.response.data.theme;
          swal("No se editó el proceso", this.errors.name, "error");
        });
    },
    /**
     * @description obtener usuarios al proceoso que pertence
     */

    getUsers() {
      const path = url + `user/user/`;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Metodo obtener un desarrollo academico especifico por el id
     */
    getAcademicDevelopment() {
      const path = url + `process/portfolio/academic_development/${this.idAD}/`;
      axios.get(path).then((response) => {
        (this.form.id = response.data.id),
          (this.form.activity = response.data.activity),
          (this.form.theme = response.data.theme),
          (this.form.id_course_active = response.data.id_course_active);
      });
    },
    /**
     * @description metodos de validacion
     */
    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Metodo para obtener el rol del usuario
     */
    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },

    /**
     * @description Metodo para obtener el nombre del rol a partir de un id
     */
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          return this.roles[i].name;
        }
      }
      return;
    },
    /**
     * @description pasar a todo minuscula
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },
    /**
     * @description limpiar parametros de form
     */
    clear() {
      this.form.activity = "";
      this.form.theme = "";
    },
    /**
     * @description validar estado si es diferente de vacio
     */
    validateStatei(name) {
      if (this.textEmpty(name)) {
        return new Boolean(null);
      }
      return this.validateState(name);
    },
    /**
     * @description validar si el parametro corresponde entre 8 y 30 caracteres
     */
    validateState(name) {
      return (
        this.textSize(name, 8, 30) &&
        this.onlyTextAndNumber1(name) &&
        !this.textEmpty(name)
      );
    },
    /**
     * @description validar ambos parametros del formularios
     */
    validateStateall() {
      return (
        this.validateState(this.form.activity) &&
        this.validateState(this.form.theme)
      );
    },
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if ( PermissionService.findPermission(Permission.Edit,Module.Portafolio  )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    aditPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if (PermissionService.findPermission(
        Permission.Edit,
        Module.Portafolio
      )){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio
      ) ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;

    },
  },

  created() {
    this.viewPermission();
    this.getAcademicDevelopment();
  },
  updated() {
    //this.getProcess();
    //this.getUsers();
    //this.getRoles();
  },
  computed: {},
};
</script>
