<template lang="html">
  <b-container>
    <b-modal
      id="deactivate-user-modal"
      ref="modal"
      title="Desactivar Usuario"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere desactivar el usuario:
      {{ this.form.first_name }} {{ this.form.last_name }} ?
    </b-modal>
  </b-container>
</template>
<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["UserId"],
  data() {
    return {
      form: {
        id: "",
        email: "",
        first_name: "",
        last_name: "",
        photo: "",
        signature: "",
        status: "",
        id_role: "",
      },
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deactivateUser();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-user-modal");
      });
    },
    /**
     * @description Desactiva un usuario en especifico de manera fisica
     */
    deactivateUser() {
      const path = url + `user/user/${this.UserId}/`;

      const datos = {
        status: false,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Usuario Desactivado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/users/list");
          });
        })
        .catch((error) => {
          swal("Error al Desactivar Usuario", "", "error", {
            button: "Aceptar",
          });
          console.log(error);
        });
    },
    /**
     * @description Obtiene datos del usuario logueado
     */
    getUser() {
      const path = url + `user/user/${this.UserId}`;
      axios
        .get(path)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.email = response.data.email;
          this.form.first_name = response.data.first_name;
          this.form.last_name = response.data.last_name;
          this.form.status = response.data.status;
          this.form.id_role = response.data.id_role;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getUser();
  },
};
</script>
<style lang="css" scoped></style>
