<template lang="html">
  <b-container>
    <b-modal
      id="delete-user-modal"
      ref="modal"
      title="Eliminar Usuario"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar el usuario:
      {{ this.UserInfo.first_name }} {{ this.UserInfo.last_name }} ?
    </b-modal>
  </b-container>
</template>
<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["UserInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.verificarResponsableProceso();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-user-modal");
      });
    },
    /**
     * @description Elimina un usuario en especifico de manera fisica
     */
    deleteUser() {
      const usuario = url + `user/user/${this.UserInfo.id}`;
      axios.delete(usuario);
      swal("Usuario Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      })
        .then(() => {
          this.$router.push("/users/list");
        })
        .catch((error) => {
          console.log(error);
          swal("Error al Eliminar Usuario", "", "error", {
            button: "Aceptar",
          });
        });
    },
    /**
     * @description Metodo para verificar si un usuario es responsable de un proceso, si lo es
     * no se podra eliminar
     */
    verificarResponsableProceso() {
      const proceso = url + `process/process/?id_user=${this.UserInfo.id}`;
      axios
        .get(proceso)
        .then((response) => {
          if (response.data != "") {
            swal("El usuario es responsable de un proceso", "", "error", {
              button: "Aceptar",
            });
          } else {
            this.verificarResponsablePortfolio();
          }
        })
        .catch(() => {
          swal("El usuario es responsable de un proceso", "", "error", {
            button: "Aceptar",
          });
        });
    },
    /**
     * @description Metodo para verificar si un usuario es responsable de un portafolio, si lo es
     * no se podra eliminar
     */
    verificarResponsablePortfolio() {
      const portafolio =
        url + `process/portfolio/portfolio/?id_user=${this.UserInfo.id}`;
      axios
        .get(portafolio)
        .then((response) => {
          if (response.data != "") {
            swal("El usuario es responsable de un portafolio", "", "error", {
              button: "Aceptar",
            });
          } else {
            this.deleteUser();
          }
        })
        .catch(() => {
          swal("El usuario es responsable de un portafolio", "", "error", {
            button: "Aceptar",
          });
        });
    },
  },
};
</script>
<style lang="css" scoped></style>
