<template lang="html">
  <b-container class="text-left p-4" id='custom-css'>
  
    <b-row>
      <b-col>
        <h3>Listado de Curriculum Vitae</h3>
      </b-col>
    </b-row>
    <div class='row'>
      <div class="col-12 text-left mt-4 mb-3">
          <b-button class="mr-4" :to="{ name: 'listCourses' }">
            <b-icon icon="arrow-left"></b-icon>
            &nbsp;Atrás
          </b-button>
        </div>
    </div>
    <br />
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="usersCurriculum"
      :fields="fields"
      empty-text="No hay Curriculum Vitae por mostrar"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            :to="{
              name: 'CurriculumVitae',
              params: { courseId:courseId, idUser: data.item.id_user},
            }"
            >Ver Curriculum</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission,PermissionService, CourseDatesService } from '@/services';

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      portfolioId: this.$route.params.portfolioId,
      usersCurriculum:[],
      fields: [
        {
          key: "user",
          label: "Nombre",
          class: "text-center",
          sortable: true,
        },
        { key: "actions", label: "Acción", class: "text-center" },
      ],
    };
  },
  methods: {
    getUserCurriculum(){
      const path = url + `process/portfolio/course_active_user/?id_course_active=${this.courseId}`;
      axios.get(path).then((response) => {
        this.usersCurriculum  = response.data;
        this.id_course_active_user = response.data.id;
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }
       if (PermissionService.findPermission(Permission.View, Module.Portafolio)
      ){
        return true
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if ( this.$store.getters.isRespPortCurso ){
         return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
        this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates(){
      if(CourseDatesService.isUserSeeEveything()){
        return;
      } 
      if(!(CourseDatesService.isUserColab() && CourseDatesService.isFirstPhase())) {
        this.$router.push("/");
      }
    }

  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
    this.getUserCurriculum();

    this.viewDates();
    CourseDatesService.getPortfolioDates(this.portfolioId);
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
