<template lang="html">
  <div>
    <!-- Editar -->

    <b-modal
      size="lg"
      id="create-rubrica"
      :title="editModal.title"
      :evidencia="editModal.evidencia"
      @ok="handleOkCreateRubrica"
      ok-title="Guardar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Evidencia</p>
          </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="selectedEvidence"
              :options="optionsEvidence"
              :state="seleccioneEvidencia"
              @change="onChangeEvidence"
              required
            ></b-form-select>
            <small class="msg" v-if="!evidenceValidation()">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Seleccione una evidencia (obligatorio)
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Aspectos a evaluar</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="text"
              id="name-phase"
              v-model="editModal.aspectosEvaluar"
              :state="aspectQuantityValidation()"
              required
            ></b-form-input>
            <small class="msg" v-if="!textSize(editModal.aspectosEvaluar, 30, 100)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Mínimo 30 y máximo 100 caracteres
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Criterio general</p>
          </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="selectedCriteria"
              :options="optionsCriteria"
              @change="onChangeCriteria"
              required
            ></b-form-select>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Descripción del criterio</p>
          </b-col>
          <b-col cols="9">
            <b-form-textarea
              v-model="editModal.criteriaDescription"
              id="textarea"
              :state="descriptionQuantityValidation()"
              placeholder=""
              rows="3"
              max-rows="6"
            ></b-form-textarea>
            <small class="msg" v-if="!textSize(editModal.criteriaDescription, 0, 256)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Máximo 256 caracteres
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Nivel de desempeño insatisfactorio 25%</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              v-model="editModal.nivel25"
              id="textarea"
              :state="levelQuantityValidation(editModal.nivel25)"
              placeholder=""
              rows="3"
              max-rows="6"
            ></b-form-input>
            <small class="msg" v-if="!textSize(editModal.nivel25, 0, 156)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Máximo 156 caracteres
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Nivel de desempeño en proceso 50%</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              v-model="editModal.nivel50"
              id="textarea"
              :state="levelQuantityValidation(editModal.nivel50)"
              placeholder=""
              rows="3"
              max-rows="6"
            ></b-form-input>
            <small class="msg" v-if="!textSize(editModal.nivel50, 0, 156)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Máximo 156 caracteres
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Nivel de desempeño satisfactorio 75%</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              v-model="editModal.nivel75"
              :state="levelQuantityValidation(editModal.nivel75)"
              id="textarea"
              placeholder=""
              rows="3"
              max-rows="6"
            ></b-form-input>
            <small class="msg" v-if="!textSize(editModal.nivel75, 0, 156)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Máximo 156 caracteres
            </small>
          </b-col>
        </b-row>

        <b-row class="mb-4">
          <b-col cols="3">
            <p>Nivel de desempeño sobresaliente 100%</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              v-model="editModal.nivel100"
              id="textarea"
              :state="levelQuantityValidation(editModal.nivel100)"
              placeholder=""
              rows="3"
              max-rows="6"
            ></b-form-input>
            <small class="msg" v-if="!textSize(editModal.nivel100, 0, 156)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Máximo 156 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- End Editar -->

    <!-- Modal para eliminar rúbrica -->
    <b-modal
      id="delete-rubrica"
      title="Eliminar Rubrica"
      ok-title="Eliminar"
      cancel-title="Cancelar"
      @ok="handleOkDeleteRubrica"
    >
      <p>¿Esta seguro(a) de eliminar esta rúbrica (evaluación)?</p>
    </b-modal>

    <!-- ------------------Modales para evidencias-------------------- -->

    <!-- Eliminar evidencia -->
    <b-modal
      id="delete-evidence"
      :title="evidenceModal.title"
      ok-title="Aceptar"
      @ok="handleOkDeleteEvidence"
      cancel-title="Cancelar"
    > 
      <p>¿Esta seguro(a) de eliminar esta evidencia? También se eliminarán las rúbricas (evaluaciones) de esta evidencia.</p>
      <strong>Evidencia:</strong> {{ evidenceModal.description }} <br /><br />
    </b-modal>

    <!-- Crear y editar evidencia -->
    <b-modal
      id="create-evidence"
      :title="evidenceModal.title"
      @hide="resetEvidenceModal"
      ok-title="Guardar"
      @ok="handleOkEvidence"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Descripción:</p>
          </b-col>
          <b-col cols="9">
            <b-form-textarea
              type="text"
              id="name-phase"
              v-model="evidenceModal.description"
              :state="descriptionEvidenceQuantityValidation()"
              required
            />
            <small class="msg" v-if="!textSize(evidenceModal.description, 5, 100)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; De 5 a 100 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- Tabla de evidencias -->
    <b-modal
      id="show-evidence"
      title="Evidencias"
      size="lg" 
      ok-title="Aceptar"
      ok-only
    >

      <p>Las evidencias de este periodo académico son:</p>
      <b-button
        class="mb-4 float-right"
        @click="handleCreateEvidence($event.target)"
        variant="outline-primary"
        v-if="createPermission()"
      >
        <b-icon icon="plus"></b-icon> Crear Evidencia
      </b-button>

      <b-row>
        <b-col class="text-center">
          <!--<h6><strong>Evidencias</strong></h6>-->
        </b-col>
      </b-row>
        <b-table
          hover
          show-empty
          small
          stacked="md"
          :items="lista_evidencias"
          :fields="fieldslistaEvidencias"
          empty-text="No hay evidencias para mostrar"
          empty-filtered-text="No hay evidencias para mostrar que coincidan con su solicitud"
          class="ltable"
        >
          <template v-slot:cell(actions)="item">
            <b-container>
              <!---Editar-->
              <b-button
                class="m-1"
                center
                size="sm"
                variant="secondary"
                v-if="editPermission()"
                 @click="handleEditEvidence(item.item.id, item.item.description, $event.target)"
              >
                <b-icon icon="pencil-square"></b-icon>Editar</b-button
              >&nbsp;

              <b-button
                size="sm"
                variant="danger"
                v-if="deletePermission()"
                @click="handleDeleteEvidence(item.item.id, item.item.description, $event.target)"
              >
                Eliminar</b-button
              >&nbsp;
            </b-container>
          </template>
        </b-table>

    </b-modal>

    <div class="my-4 text-left">
      <b-button
        class="mb-4 ml-3 float-right"
        @click="handleCreateRubrica($event.target)"
        variant="outline-primary"
        v-if="createPermission()"
      >
        <b-icon icon="plus"></b-icon> Crear Rúbrica
      </b-button>
      <b-button
        class="mb-4 float-right"
        v-b-modal.show-evidence
        variant="outline-primary"
      >
        Evidencias
      </b-button>
      <template>
        <div>
          <b-table responsive id="" :items="items" :fields="fields" empty-text="No hay rúbricas para mostrar">
            <template v-slot:cell(actions)="item">
              <b-container>
                <!---Editar-->
                <b-button
                  class="m-1"
                  center
                  size="sm"
                  variant="secondary"
                  v-if="editPermission()"
                  @click="
                    handleEditRubrica(
                      item.item.id,
                      item.item.evidencia,
                      item.item.aspectosEvaluar,
                      item.item.criteriogeneral,
                      item.item.criteriaDescription,
                      item.item.nivel25,
                      item.item.nivel50,
                      item.item.nivel75,
                      item.item.nivel100,
                      $event.target
                    )
                  "
                >
                  Editar</b-button
                >&nbsp;

                <b-button
                  size="sm"
                  variant="danger"
                  @click="handleDeleteRúbrica(item.item.id, $event.target)"
                  v-if="deletePermission()"
                >
                  Eliminar</b-button
                >&nbsp;
              </b-container>
            </template>
          </b-table>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
  },
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      periodAcademicId: this.$route.params.academicPeriodId,
      lista_evidencias: [],
      lista_criterios: [],
      course_student_result: [], // Matchs
      lista_rubricas: [],

      fieldslistaEvidencias: [
        {
          key: "id",
          label: "#",
        },
        {
          key: "description",
          label: "Descripción",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acciones",
        },
      ],

      evidenceModal: {
        title: "",
        idEvidence: "",
        description: "",
      },

      selectedEvidence: null,
      selectedCriteria: null,

      optionsEvidence: [],
      optionsCriteria: [],

      form: {
        name: "",
        id_study_plan: this.$route.params.studyPlanId,
        status: true,
      },

      // Datos para la tabla de rúbricas
      items: [],
      fields: [
        {
          key: "evidenciaDescription",
          label: "Evidencia",
        },
        {
          key: "aspectosEvaluar",
          label: "Aspectos a Evaluar",
        },
        {
          key: "criterioName",
          label: "Criterio General",
        },
        {
          key: "criteriaDescription",
          label: "Descripción del criterio",
        },
        {
          key: "nivel25",
          label: "Nivel de desempeño insatisfactorio 25%",
        },
        {
          key: "nivel50",
          label: "Nivel de desempeño en proceso 50%",
        },
        {
          key: "nivel75",
          label: "Nivel de desempeño satisfactorio 75%",
        },
        {
          key: "nivel100",
          label: "Nivel de desempeño sobresaliente 100%",
        },
        {
          key: "actions",
          label: "Acciones",
        },
      ],
      editModal: {
        title: "title-modal",
        id: "edit-modal",
        evidencia: "",
        aspectosEvaluar: "",
        criteriogeneral: "",
        criteriaDescription: "",
        nivel25: "",
        nivel50: "",
        nivel75: "",
        nivel100: "",
      },
      infoModal: {
        title: "title-modal",
        id: "info-modal",
        evidencia: "",
        aspectosEvaluar: "",
        criteriogeneral: "",
        nivel25: "",
        nivel50: "",
        nivel75: "",
        nivel100: "",
      },

      seleccioneEvidencia: null,

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
    };
  },
  methods: {
    // Obtener las evidencias
    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseActiveId}/`;

      axios
        .get(path)
        .then(async (response) => {
          this.courseActive = response.data;
          
          await this.getPeriodAcademicStudentResults()
          this.getEvidences()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se obtiene todas las evidencias de periodo académico
    */
    getEvidences() {
      const path = url + `process/portfolio/evidence/?id_period_academic=${this.periodAcademicId}`;
      axios
        .get(path)
        .then(async (response) => {
          this.lista_evidencias = response.data

          this.lista_rubricas = []

          this.optionsEvidence = [{value: null, text: "Seleccione una evidencia"}]
          for (const item of response.data) {
            this.optionsEvidence.push({
              value: item.id,
              text: item.description,
            })

            // Obtengo las rúbricas por cada evidencia
            await this.getRubricas(item.id)
          }

          // Cuando ya se tengan todas las rúbricas se colocan en la tabla
          this.items = []

          for (const item of this.lista_rubricas) {
            let evidenceDescription = this.lista_evidencias.find(e => e.id == item.id_evidence).description
            let auxCriteria = this.lista_criterios.find(e => e.id == item.id_criteria)

            let aux = {
              id: item.id,
              evidencia: item.id_evidence,
              evidenciaDescription: evidenceDescription, // Solo para mostrar en la tabla
              aspectosEvaluar: item.aspect,
              criteriogeneral: item.id_criteria,
              criterioName: auxCriteria ? auxCriteria.name : "", // Sólo para mostrar en la tabla
              criteriaDescription: item.criteria,
              nivel25: item.level1,
              nivel50: item.level2,
              nivel75: item.level3,
              nivel100: item.level4,
            }

            this.items.push(aux)
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se crea una evidencia
    */
    createEvidence(data) {
      const path = url + `process/portfolio/evidence/`;
      axios
        .post(path, data)
        .then((response) => {
          console.log("Se ha creado la evidencia: ", response.data)
          swal("Se ha creado la evidencia exitosamente.", "", "success");

          this.getEvidences()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se crea una evidencia
    */
    putEvidence(id, data) {
      const path = url + `process/portfolio/evidence/${id}/`;
      axios
        .put(path, data)
        .then((response) => {
          console.log("Se ha editado la evidencia: ", response.data)
          swal("Se ha editado la evidencia exitosamente.", "", "success");

          this.getEvidences()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se elimina una evidencia
    */
    async deleteEvidence(id) {
      const path = url + `process/portfolio/evidence/${id}/`;
      await axios
        .delete(path)
        .then(() => {
          console.log("Se ha eliminadoo la evidencia: ")
          swal("Se ha eliminado la evidencia.", "", "success");
        })
        .catch((error) => {
          console.log("Error en la edición de evidencia.", error);
        });
    },

    /**
       * @description Se obtiene las rúbricas a partir del id de una evidencia
    */
    async getRubricas(idEvidence) {
      const path = url + `process/portfolio/evaluation/?id_evidence=${idEvidence}`;
      await axios
        .get(path)
        .then((response) => {
          this.lista_rubricas.push(...response.data)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se crea una rúbrica
    */
    async createRubrica(data) {
      const path = url + `process/portfolio/evaluation/`;
      await axios
        .post(path, data)
        .then((response) => {
          console.log("Se ha creado la rubrica: ", response.data)
          swal("Se ha creado la rúbrica exitosamente.", "", "success");
        })
        .catch((error) => {
          console.log("Error en la creación de la rúbrica.", error);
        });
    },

    /**
       * @description Se actualiza una rúbrica
    */
    async putRubrica(id, data) {
      const path = url + `process/portfolio/evaluation/${id}/`;
      await axios
        .put(path, data)
        .then((response) => {
          console.log("Se ha editado la rúbrica: ", response.data)
          swal("Se ha editado la rúbrica exitósamente.", "", "success");
        })
        .catch((error) => {
          console.log("Error en la edición de rúbrica.", error);
        });
    },

    /**
       * @description Se elimina una rúbrica
    */
    async deleteRubrica(id) {
      const path = url + `process/portfolio/evaluation/${id}/`;
      await axios
        .delete(path)
        .then(() => {
          swal("Se ha eliminado la rúbrica.", "", "success");
        })
        .catch((error) => {
          console.log("Error en la eliminación de rúbrica.", error);
        });
    },

    /**
       * @description Se obtiene los matchs entre el periodo académico y sus resultados
    */
    async getPeriodAcademicStudentResults() {
      const path = url + `process/portfolio/period_academic_student_results/${this.periodAcademicId}/`;
      await axios
        .get(path)
        .then(async (response) => {
          this.lista_criterios = []
          this.optionsCriteria = [{value: null, text: "Seleccione un criterio"}]

          await this.getCourseStudentResults();

          response.data.period_academic_student_results.forEach(async(element) => {
            for (const item of this.course_student_result) {
              if (element.id_course_student_result == item.id) {

                let studentResult = await this.getStudentResult(item.id_student_result)

                let criterias = await this.getCriterias(studentResult.id)

                // Obtengo los criterios según los matchs
                for (const criteria of criterias) {
                  this.lista_criterios.push(criteria)

                  let aux = {
                    value: criteria.id, // id del criterio
                    text: criteria.name
                  };
                  this.optionsCriteria.push(aux);
                }
              }
            }
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los match del presente curso con sus resultados del estudiante
     */
    async getCourseStudentResults() {
      const path =
        url +
        `process/portfolio/course_student_results/${this.courseActive.id_course}/`;

      await axios
        .get(path)
        .then((response) => {
          this.course_student_result = response.data.course_student_result;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene un resultado del estudiante del curso normal y lo agrega al arreglo lista_student_results
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getStudentResult(idStudentResult) {
      const path = url + `process/portfolio/student_result/${idStudentResult}/`;

      let res = null;
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },

    /**
     * @description Obtiene los criterios de un resultado del estudiante
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getCriterias(idStudentResult) {
      const path = url + `process/portfolio/criteria/?id_student_result=${idStudentResult}`;

      let res = [];
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },

    async handleOkEvidence(evt) {
      evt.preventDefault();

      if (!this.checkFormValidityEvidence()) {
        return;
      }

      this.$nextTick(() => {
        this.$bvModal.hide("create-evidence");
      });

      let description = this.evidenceModal.description
      if (description.length >= 5 && description.length <= 100) {
        description = description.toLowerCase().trim()
        let data = {
          id_period_academic: this.periodAcademicId,
          description: description,
        }

        if (this.evidenceModal.idEvidence == null || this.evidenceModal.idEvidence == "") {
          await this.createEvidence(data)
        } else {
          await this.putEvidence(this.evidenceModal.idEvidence, data)
        }
      } else {
        swal("Campo no válido: descripción.", "Debe estar entre 5 y 100 caracteres.", "warning");
      }
    },

    resetEvidenceModal() {
      this.evidenceModal.title = ""
      this.evidenceModal.idEvidence =  null
      this.evidenceModal.description = ""
    },

    handleCreateEvidence(button) {
      this.evidenceModal.title = "Nueva Evidencia"

      this.$root.$emit(
          "bv::show::modal",
          "create-evidence",
          button
        );
    },

    handleEditEvidence(idEvidence, description, button) {
      this.evidenceModal.title = "Editar Evidencia"
      this.evidenceModal.idEvidence =  idEvidence
      this.evidenceModal.description = description

      this.$root.$emit(
          "bv::show::modal",
          "create-evidence",
          button
        );
    },

    handleDeleteEvidence(idEvidence, description, button) {
      this.evidenceModal.title = "Eliminar Evidencia"
      this.evidenceModal.idEvidence =  idEvidence
      this.evidenceModal.description = description

      this.$root.$emit(
          "bv::show::modal",
          "delete-evidence",
          button
        );
    },

    async handleOkDeleteEvidence() {
      if (this.evidenceModal.idEvidence != null || this.evidenceModal.idEvidence != "") {
        await this.deleteEvidence(this.evidenceModal.idEvidence)
        this.getEvidences()
      }
    },

    //Métodos para modal de rúbrica

    handleCreateRubrica(button) {
      if(this.lista_evidencias.length == 0) {
        swal("No hay evidencias", "Asegúrese de que existan evidencias para este periodo académico.", "warning");
        return
      }

      this.editModal.title = "Crear Rúbrica"
      this.editModal.id = null
      this.editModal.aspectosEvaluar = ""
      this.editModal.criteriaDescription = ""
      this.editModal.nivel25 = ""
      this.editModal.nivel50 = ""
      this.editModal.nivel75 = ""
      this.editModal.nivel100 = ""

      this.selectedEvidence = null
      this.selectedCriteria = null

      this.seleccioneEvidencia = null

      this.$root.$emit(
          "bv::show::modal",
          "create-rubrica",
          button
        );
    },

    handleEditRubrica(id, evidencia, aspecto, criterio, criterioDescription, nivel1, nivel2, nivel3, nivel4, button) {
      this.editModal.title = "Editar Rúbrica"
      this.editModal.id = id
      this.editModal.aspectosEvaluar = aspecto
      this.editModal.criteriaDescription = criterioDescription
      this.editModal.nivel25 = nivel1
      this.editModal.nivel50 = nivel2
      this.editModal.nivel75 = nivel3
      this.editModal.nivel100 = nivel4

      this.selectedEvidence = evidencia
      this.selectedCriteria = criterio

      this.seleccioneEvidencia = true

      this.$root.$emit(
          "bv::show::modal",
          "create-rubrica",
          button
        );
    },

    handleDeleteRúbrica(idRubrica, button) {
      this.editModal.id = idRubrica

      this.$root.$emit(
          "bv::show::modal",
          "delete-rubrica",
          button
        );
    },

    onChangeEvidence() {
      if(this.selectedEvidence != null) {
        this.seleccioneEvidencia = true
      } else {
        this.seleccioneEvidencia = false
      }
    },

    async handleOkCreateRubrica(evt) {
      evt.preventDefault();

      if (!this.checkFormValidity()) {
        return;
      }

      this.$nextTick(() => {
        this.$bvModal.hide("create-rubrica");
      });

      if (this.selectedEvidence != null) {
        if(this.editModal.aspectosEvaluar.length >= 30 && this.editModal.aspectosEvaluar.length <= 100) {
          let data = {
            id_evidence: this.selectedEvidence,
            id_criteria: this.selectedCriteria,
            aspect: this.editModal.aspectosEvaluar,
            criteria: this.editModal.criteriaDescription,
            level1: this.editModal.nivel25,
            level2: this.editModal.nivel50,
            level3: this.editModal.nivel75,
            level4: this.editModal.nivel100,
          }
          if (this.editModal.id != null && this.editModal.id != "") {
            await this.putRubrica(this.editModal.id, data)
          } else {
            await this.createRubrica(data)
          }
          this.getEvidences()
        } else {
          swal("Campo no válido: Aspecto.", "Debe de tener entre 30 y 100 caracteres.", "warning");
        }
      } else {
        swal("Campos no válido", "Debe seleccionar una evidencia.", "warning");
      }
    },
    
    async handleOkDeleteRubrica() {
      if (this.editModal.id != null || this.editModal.id != "") {
        await this.deleteRubrica(this.editModal.id)
        this.getEvidences()
      }
    },

    onChangeCriteria() {
      // Solo se cargara los datos automáticamente en la creación
      if (this.editModal.id == null) {
        if (this.selectedCriteria) {

          let encontrado = this.lista_criterios.find(e => e.id == this.selectedCriteria)

          this.editModal.criteriaDescription = encontrado.description
          this.editModal.nivel25 = encontrado.level1
          this.editModal.nivel50 = encontrado.level2
          this.editModal.nivel75 = encontrado.level3
          this.editModal.nivel100 = encontrado.level4

        } else { // No se ha seleccionado nada
          this.editModal.criteriaDescription = ""
          this.editModal.nivel25 = ""
          this.editModal.nivel50 = ""
          this.editModal.nivel75 = ""
          this.editModal.nivel100 = ""
        }
      }
    },

    // Validaciones

    checkFormValidity() {
      return (
        this.evidenceValidation() &&
        this.aspectValidation() &&
        this.descriptionValidation() &&
        this.levelValidation(this.editModal.nivel25) &&
        this.levelValidation(this.editModal.nivel50) &&
        this.levelValidation(this.editModal.nivel75) &&
        this.levelValidation(this.editModal.nivel100)
      );
    },

    checkFormValidityEvidence() {
      return (
        this.descriptionEvidenceValidation()
      );
    },
    
    textEmpty(text) {
      return text == "";
    },

    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    evidenceValidation() {
      return this.selectedEvidence != null
    },

    // Validaciones para evidencia

    descriptionEvidenceQuantityValidation() {
      if (this.textEmpty(this.evidenceModal.description)) {
        return new Boolean(null);
      }
      return this.descriptionEvidenceValidation();
    },

    descriptionEvidenceValidation() {
      return this.textSize(this.evidenceModal.description, 5, 100)
    },

    // Validaciones para rúbricas

    aspectQuantityValidation() {
      if (this.textEmpty(this.editModal.aspectosEvaluar)) {
        return new Boolean(null);
      }
      return this.aspectValidation();
    },

    aspectValidation() {
      return this.textSize(this.editModal.aspectosEvaluar, 30, 100)
    },

    descriptionQuantityValidation() {
      if (this.textEmpty(this.editModal.criteriaDescription)) {
        return new Boolean(null);
      }
      return this.descriptionValidation();
    },

    descriptionValidation() {
      return this.textSize(this.editModal.criteriaDescription, 0, 256)
    },

    levelQuantityValidation(level) {
      if (this.textEmpty(level)) {
        return new Boolean(null);
      }
      return this.levelValidation(level);
    },

    levelValidation(level) {
      return this.textSize(level, 0, 156)
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio));
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },


    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio));
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
  #contenidoTabla {
    font-size: 12px;
  }
</style>
