<template lang="html">
  <div>
    <div class="my-4 text-left">
      <b-button
        class="mb-4 float-right"
        v-b-modal.create-subarea-modal
        variant="outline-primary"
        v-if="editPermission()"
      >
        Seleccionar Resultados del Estudiante
      </b-button>
      <NewResultadoEstudiante v-bind:periodAcademicId="this.periodAcademicId"></NewResultadoEstudiante> <!--envío primer periodo y examen-->
    <template>
      <div>
        <b-table responsive id=""  striped hover :items="items" :fields="fields">
          <template v-slot:cell(method)="item">
            <b-form-select
              v-model="item.item.method"
              :options="optionsMethods"
              v-bind:disabled="item.item.isDisabled"
              required
            ></b-form-select>
          </template> 

          <template v-slot:cell(actions)="item" >
            <b-button size="sm" variant="secondary" v-if="item.item.isDisabled && editPermission()" 
            @click="editResult(item.item.id)">
              Editar
            </b-button>
            <b-button size="sm" variant="secondary" v-if="!item.item.isDisabled"
            @click="cancelResult(item.item.id)">
              Cancelar
            </b-button>
            &nbsp;&nbsp;
            <b-button size="sm" variant="primary" v-if="!item.item.isDisabled"
            @click="guardarResult(item.item.id)">
              Guardar
            </b-button>
          </template>
        </b-table>
      </div>
    </template>
  </div>

    <!-- Modal para elegir criterios -->
    <b-modal
      id="edit-criterias"
      size="xl"
      :title="modalEditCriteria.title"
      ok-title="Guardar"
      cancel-title="Cancelar"
    >
      Resultado del estudiante: {{ modalEditCriteria.result }} <br /><br />

      <b-table
        hover
        show-empty
        small
        stacked="md"
        :items="criteria"
        :fields="fieldsCriteria"
        empty-text="No hay criterios para mostrar."
        class="ltable"
      >
      </b-table>
    </b-modal>
  </div>
</template>

<script>
import NewResultadoEstudiante from "@/components/SilaboDufa/NewResultadoEstudiante";

import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    NewResultadoEstudiante,
  },
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      periodAcademicId: this.$route.params.academicPeriodId, // Para eviar al componente NewResultadoEstudiante
      courseActive: null,
      course_student_result: [], // Matchs

      modalEditCriteria: {
        title: "Determinar Criterios",
        result: "",
      },

      optionsMethods: [
        {value: "0", text: "Rúbrica"},
        {value: "1", text: "Lista de cotejos"},
        {value: "2", text: "Otros"}
      ],

      items: [
        //{ id: '0', codigo: 'RE1', description: 'FSDFDSFSD', nivel: 1},
      ],
      fields: [
        {
          key: "codigo",
          label: "Codigo",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Resultado del Estudiante",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "nivel",
          label: "Nivel",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "method",
          label: "Método de evaluación",
        },
        {
          key: 'actions',
          label: 'Acciones'
        }
      ],
      editModal: {
        title: "title-modal",
        id: "edit-modal",
        evidencia: "",
        aspectosEvaluar: "",
        criteriogeneral: "",
      },

      // Modal para criterios
      criteria: [],
      fieldsCriteria: [
        /*{
          key: "student_result",
          label: "Resultado",
          class: "text-center",
          sortable: true,
          sortDirection: "asc",
        },*/
        {
          key: "name",
          label: "Criterio",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "level1",
          label: "1 = Insatifactorio (25%)",
          class: "text-center",
        },
        {
          key: "level2",
          label: "2 = En proceso (50%)",
          class: "text-center",
        },
        {
          key: "level3",
          label: "3 = Satisfactorio (75%)",
          class: "text-center",
        },
        {
          key: "level4",
          label: "4 = Sobresaliente (100%)",
          class: "text-center",
        },
        {
          key: "level_suggested",
          label: "Nivel",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],
    };
  },
  methods: {
    textEmpty(text) {
      return text == "";
    },

    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.courseActiveId}/`;
      axios
        .get(path)
        .then(async (response) => {
          this.courseActive = response.data;

          this.getPeriodAcademicStudentResults()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se obtiene todos resultados del estudiante del curso activo
    */
    async getPeriodAcademicStudentResults() {
      const path = url + `process/portfolio/period_academic_student_results/${this.periodAcademicId}/`;
      await axios
        .get(path)
        .then(async (response) => {
          await this.getCourseStudentResults();

          response.data.period_academic_student_results.forEach(async(element) => {
            for (const item of this.course_student_result) {
              if (element.id_course_student_result == item.id) {

                let studentResult = await this.getStudentResult(item.id_student_result)

                  let aux = {
                    id: item.id, // id del match curso vs estudiantes del estudiante
                    codigo: studentResult.name,
                    description: studentResult.description,
                    nivel: item.level,
                    method: element.method,
                    isDisabled: true,
                  };
                  this.items.push(aux);
                }
              }
            }
          );
          console.log("ITEMS", this.items)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description se guardan los métodos de evaluación de los match de periodo academico vs resultados
    */
    putPeriodAcademicStudentResults() {
      let data = {
        period_academic_student_results: []
      }

      for(const item of this.items) {
        let aux = {
          id_course_student_result: item.id,
          description: item.description,
          method: item.method,
          result: 0,
        }
        data.period_academic_student_results.push(aux)
      }

      const path = url + `process/portfolio/period_academic_student_results/${this.periodAcademicId}/`;
      axios
        .put(path, data)
        .then(() => {
          console.log("Se ha editado las métodos de evaluación.")
          swal("Se ha editado correctamente.", "", "success")
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los match del presente curso con sus resultados del estudiante
     */
    async getCourseStudentResults() {
      const path =
        url +
        `process/portfolio/course_student_results/${this.courseActive.id_course}/`;

      await axios
        .get(path)
        .then((response) => {
          this.course_student_result = response.data.course_student_result;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene un resultado del estudiante del curso normal y lo agrega al arreglo lista_student_results
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getStudentResult(idStudentResult) {
      const path = url + `process/portfolio/student_result/${idStudentResult}/`;

      let res = null;
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },

    handleEditModal(codigoResult, button) {
      this.modalEditCriteria.result = codigoResult;

      this.$root.$emit("bv::show::modal", "edit-criterias", button);
    },

    editResult(itemId){
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });
    },

    cancelResult(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.items = []
      this.getPeriodAcademicStudentResults()
    },

    guardarResult(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.putPeriodAcademicStudentResults()
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false;
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla {
  font-size: 12px;
}
</style>
