<template lang="html">
  <b-container>
    <b-modal
      size="lg"
      id="create-subarea-modal"
      ref="modal"
      title="Resultados del Estudiante"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Guardar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <p>
          Seleccione los resultados del estudiante para el curso
          {{ course.name }}.
        </p>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Descripción</th>
              <th>Nivel</th>
              <th>
                <label class="form-checkbox">
                  <input type="checkbox" v-model="selectAll" @click="select" />
                  <i class="form-icon"></i>
                </label>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="i in items" v-bind:key="i.cod">
              <td>{{ i.cod }}</td>
              <td>{{ i.descrip }}</td>
              <td>{{ i.nivel }}</td>

              <td>
                <label class="form-checkbox">
                  <input type="checkbox" :value="i.cod" v-model="selected" />
                  <i class="form-icon"></i>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["periodAcademicId"],
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      courseActive: null,
      course: {
        name: "",
      },
      periodAcademic: null,
      matchs: [],
      lista_student_results: [],
      lista_competencias: [],

      selected: [],
      selectAll: false,
      items: [],
    };
  },
  methods: {
    resetModal() {
      this.items.name = "";
      this.items.description = "";
    },

    /**
     * @description Se prepara los datos de los match curso activo vs resultados para ser enviados a la bd
     */
    handleOk() {
      let data = {
        period_academic_student_results: []
      }

      let dataCompetencias = {
        period_academic_competences: []
      }
      let matchCompetenciasAgregadas = [] // para no repetir matchs

      this.selected.forEach(select => {
        let encontrado = this.items.find(e => e.cod == select)

        if (encontrado) {
          let aux = {
            id_course_student_result: encontrado.idMatch,
            description: "",
            method: 0,
            result: 0,
          }
          data.period_academic_student_results.push(aux)


          // también estoy guardando el match de periodo academico con competencias
          for (const competence of this.lista_competencias) {
            for (const studentResultId of competence.student_results) {

              if (studentResultId == encontrado.idStudentResult) {

                let idMatchAux = competence.courseCompetenceId
                let existe = matchCompetenciasAgregadas.some(e => e == idMatchAux)

                if (!existe) {
                  let aux = {
                    id_course_competence: idMatchAux,
                    description: "",
                  }
                  dataCompetencias.period_academic_competences.push(aux)
                  matchCompetenciasAgregadas.push(idMatchAux)
                }
              }
            }
          }
        }
      })
      this.putPeriodAcademicStudentResults(data)
      this.putPeriodAcademicCompetences(dataCompetencias)
    },

    /**
    * @description envía los match de curso activo vs resultados a la bd
    * @param {data} data son los datos de los matchs
    */
    putPeriodAcademicStudentResults(data) {
      const path = url + `process/portfolio/period_academic_student_results/${this.periodAcademicId}/`;
      axios
        .put(path, data)
        .then(() => {
          swal("Los datos se han registrado con éxito.", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description envía los match de curso activo vs competencias a la bd
    * @param {data} data son los datos de los matchs
    */
    putPeriodAcademicCompetences(data) {
      const path = url + `process/portfolio/period_academic_competences/${this.periodAcademicId}/`;
      axios
        .put(path, data)
        .then(() => {
          console.log("Se ha registrado Periodo Académico vs Competencias correctamente.")
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description se obtiene los match entre curso activo vs resultados del estudiante
    */
    getPeriodAcademicStudentResults(matchs) {
      const path = url + `process/portfolio/period_academic_student_results/${this.periodAcademicId}/`;

      axios
        .get(path)
        .then((response) => {
          const obj = JSON.parse(JSON.stringify(matchs))
          response.data.period_academic_student_results.forEach(async(element) => {

            let encontrado = null

            for (const item of obj) {
              if (item.id == element.id_course_student_result) {
                encontrado = item;
              }
            }

            // SE comprueba que aún exista en el match course_student_result
            if (encontrado) {
              let result = await this.getStudentResult(
                encontrado.id_student_result
              );

              this.selected.push(result.name);
            }
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },

    select() {
      this.selected = [];
      if (!this.selectAll) {
        for (let i in this.items) {
          this.selected.push(this.items[i].cod);
        }
      }
    },

    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.courseActiveId}/`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;

          this.getCourse();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los datos del curso normal
     */
    async getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      await axios
        .get(path)
        .then(async (response) => {
          this.course = response.data;

          await this.getCourseStudentResults();
          const obj = JSON.parse(JSON.stringify(this.matchs));

          for (const element of JSON.parse(JSON.stringify(obj))) {
            let res = await this.getStudentResult(element.id_student_result);
            this.lista_student_results.push(res);
          }

          // preparación de datos para la tabla
          for (const element of JSON.parse(JSON.stringify(obj))) {
            let auxStudentResult = this.lista_student_results.find(
              (e) => e.id == element.id_student_result
            );

            let aux = {
              idMatch: element.id, // match de curso normal
              idStudentResult: element.id_student_result,
              cod: auxStudentResult.name,
              descrip: auxStudentResult.description,
              nivel: element.level,
            };
            this.items.push(aux);
          }

          this.getPeriodAcademicStudentResults(JSON.parse(JSON.stringify(obj)))

          this.getCourseCompetences()

        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los match del presente curso con sus resultados del estudiante
     */
    async getCourseStudentResults() {
      const path =
        url + `process/portfolio/course_student_results/${this.course.id}/`;

      await axios
        .get(path)
        .then((response) => {
          const res = JSON.parse(JSON.stringify(response.data));
          this.matchs = JSON.parse(JSON.stringify(res.course_student_result));
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene un resultado del estudiante del curso normal y lo agrega al arreglo lista_student_results
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getStudentResult(idStudentResult) {
      const path = url + `process/portfolio/student_result/${idStudentResult}/`;

      let res = null;
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },

    // ---------------------------------- Competencias ------------------------------

    /**
       * @description Se obtiene todas las competencias del curso normal
    */
    async getCourseCompetences() {
      const path =
        url + `process/portfolio/course_competence/?id_course=${this.course.id}`;
      await axios
        .get(path)
        .then(async (response) => {

          for (let element of response.data) {
            await this.getCompetence(element.id_competence, element.id)
          }

          console.log("LISTA COMPETENCIAS ", this.lista_competencias)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description Obtiene una competencia del curso normal y lo agrega al arreglo lista_competencias
    * @param {idCompetence} idCompetence es el identificador para la competencia
    */
    async getCompetence(idCompetence, courseCompetenceId) {
      const path =
        url + `process/portfolio/competence/${idCompetence}`;
      await axios
        .get(path)
        .then((response) => {
          let aux = response.data
          aux['courseCompetenceId'] = courseCompetenceId // agrego el id del match de curso vs competencia

          this.lista_competencias.push(aux)
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped></style>
