<template>
  <b-container class="py-3">
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="6">
        <p><strong>Asignatura:</strong> {{ course.name }}</p>
        <p><strong>Semestre:</strong> {{ semester }}</p>
      </b-col>
      <b-col cols="6">
        <p><strong>Docente(s):</strong></p>
        <li v-for="(item, index) in nameDocentes" :key="index">
          {{ item }}
        </li>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" class="px-4 ">
        <div title="Periodo Académico" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: ex1AcademicPeriodId },
                }"
                exact
                exact-active-class="active"
                >Examen 1</b-nav-item
              >
              <b-nav-item
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: cont1AcademicPeriodId },
                }"
                exact 
                exact-active-class="active"
                >Continua 1</b-nav-item
              >
              <b-nav-item
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: ex2AcademicPeriodId },
                }"
                exact 
                exact-active-class="active" 
                >Examen 2</b-nav-item
              >
              <b-nav-item
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: cont2AcademicPeriodId },
                }" 
                exact 
                exact-active-class="active"
                >Continua 2</b-nav-item
              >
              <b-nav-item 
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: ex3AcademicPeriodId },
                }" 
                exact 
                exact-active-class="active"
                >Examen 3</b-nav-item
              >
              <b-nav-item 
                :to="{ 
                  name: 'EvaluationAcademicPeriod',
                  params: { academicPeriodId: cont3AcademicPeriodId },
                }" 
                exact 
                exact-active-class="active"
                >Continua 3</b-nav-item
              >
            </b-nav>
          </div>
          <div>
            <router-view></router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      courseActive: [],
      course: [],
      semester: "",
      nameDocentes: [],

      ex1AcademicPeriodId: "",
      cont1AcademicPeriodId: "",
      ex2AcademicPeriodId: "",
      cont2AcademicPeriodId: "",
      ex3AcademicPeriodId: "",
      cont3AcademicPeriodId: "",

    };
  },
  methods: {
    /**
       * @description Se obtiene todos los datos del curso activo
    */
    getCourseActive() {
      if (!this.courseActiveId) {
        console.log("Falta id de curso activo.");
        return;
      }
      const path = url + `process/portfolio/course_active/${this.courseActiveId}/`;

      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          console.log("cursos activos -> ", this.courseActive);
          if (this.courseActive.id_course) {
            this.getCourse();

            // Obtener los nombres de los docentes
            for (const docenteId of this.courseActive.users) {
              this.getDocente(docenteId)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se obtiene todos los datos del curso normal
    */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      axios
        .get(path)
        .then((response) => {
          this.course = response.data;
          console.log("curso -> ", this.course);

          if (this.course.semester % 2 == 1) {
            this.semester = "A"
          } else {
            this.semester = "B"
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se obtiene todos los periodos académico del curso activo
    */
    getAcademicPeriods() {
      const path =
        url + `process/portfolio/period_academic/?id_course_active=${this.courseActiveId}`;
      axios
        .get(path)
        .then((response) => {
          
          for(const element of response.data) {

            // se toman los periodos académicos para ser enviados por la url
            if (element.period == 1 && element.modality == 1) {
              this.ex1AcademicPeriodId = element.id
            } else if (element.period == 1 && element.modality == 2) {
              this.cont1AcademicPeriodId = element.id
            } else if (element.period == 2 && element.modality == 1) {
              this.ex2AcademicPeriodId = element.id
            } else if (element.period == 2 && element.modality == 2) {
              this.cont2AcademicPeriodId = element.id
            } else if (element.period == 3 && element.modality == 1) {
              this.ex3AcademicPeriodId = element.id
            } else if (element.period == 3 && element.modality == 2) {
              this.cont3AcademicPeriodId = element.id
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getAcademicPeriods()
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped></style>
