<template>
  <b-container>

    <b-row class="mb-4 text-left border p-3">
      <b-col cols="6">
        <p><strong>Asignatura:</strong> {{ course.name }}</p>
        <p><strong>Semestre:</strong> {{ semester }}</p>
      </b-col>
      <b-col cols="6">
        <p><strong>Docente(s):</strong></p>
        <li v-for="(item, index) in nameDocentes" :key="index">
          {{ item }}
        </li>
      </b-col>
    </b-row>

    <div>
      <b-card class="mb-4">
        <p><strong>Plan de medición de resultados del estudiante</strong></p>

        <template>
          <div>
            <b-table id="contenidoTabla"  striped hover :items="items" :fields="fields">
              <template v-slot:cell(review_week)="item">
                <b-form-input
                  class="input-review-week"
                  v-model="item.item.review_week"
                  v-bind:disabled="item.item.isDisabled"
                  type="number"
                  min="1" max="17"
                  :formatter="forceInput"
                  required
                ></b-form-input>
              </template> 

              <template v-slot:cell(actions)="item" >
                <b-button size="sm" variant="secondary" v-if="item.item.isDisabled && editPermission()" 
                @click="editMedicion(item.item.id)">
                  <b-icon icon="pencil-square"></b-icon> Editar
                </b-button>
                <b-button size="sm" variant="secondary" v-if="!item.item.isDisabled"
                @click="cancelMedicion(item.item.id)">
                  Cancelar
                </b-button>
                &nbsp;&nbsp;
                <b-button size="sm" variant="primary" v-if="!item.item.isDisabled"
                @click="guardarMedicion(item.item.id)">
                  Guardar
                </b-button>
              </template>
            </b-table>
          </div>
        </template>

      </b-card>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      courseActive: [],
      course: [],
      semester: "",
      nameDocentes: [],

      optionsMethods: [
        {value: "0", text: "Rúbrica"},
        {value: "1", text: "Lista de cotejos"},
        {value: "2", text: "Otros"}
      ],

      items: [],
      fields: [
        {
          key: "result",
          label: "Resultado",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "criteria",
          label: "Criterio",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "method",
          label: "Método de medición",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "review_week",
          label: "Instante de medición (semana)",
        },
        {
          key: "percentage",
          label: "Porcentaje esperado",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: 'actions',
          label: 'Acciones'
        }
      ],
    };
  },

  methods: {

    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      if (!this.courseId) {
        console.log("Falta id de curso activo.");
        return;
      }
      const path = url + `process/portfolio/course_active/${this.courseId}/`;

      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          console.log("cursos activos -> ", this.courseActive);
          if (this.courseActive.id_course) {
            this.getCourseActiveReviewPlan()
            this.getCourse()
            
            // Obtener los nombres de los docentes
            for (const docenteId of this.courseActive.users) {
              this.getDocente(docenteId)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los datos del curso normal
     */
    async getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      axios
        .get(path)
        .then(async (response) => {
          this.course = response.data;
          console.log("curso -> ", this.course);

          if (this.course.semester % 2 == 1) {
            this.semester = "A"
          } else {
            this.semester = "B"
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas mediciones de resultados de un curso activo
     */
    getCourseActiveReviewPlan() {
      const path =
        url + `process/portfolio/course_active_review_plan/${this.courseId}/`;
      axios
        .get(path)
        .then((response) => {

          let evaluations = response.data.evaluations

          // se carga los datos a la tabla
          for (const item of evaluations) {
            if(item.id) {
              let aux = {
                id: item.id, // id de la evidencia
                result: item.student_result ? item.student_result : "", 
                criteria: item.criteria ? item.criteria : "", 
                method: item.method ? item.method : "", 
                review_week: item.review_week ? item.review_week : "", 
                percentage: response.data.percent_due ? response.data.percent_due : "", 
                isDisabled: true
              }
              this.items.push(aux)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se edita el instante de medición o semana
     */
    patchEvaluation(id, data) {
      const path =
        url + `process/portfolio/evaluation/${id}/`;
      axios
        .patch(path, data)
        .then(() => {
          console.log("Se ha editado la semana de la evaluación.")
          swal("Se ha editado correctamente.", "", "success")
        })
        .catch((error) => {
          console.log(error);
        });
    },
    
    editMedicion(itemId){
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });
    },

    cancelMedicion(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.items = []
      this.getCourseActiveReviewPlan()
    },

    guardarMedicion(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled

          // Solo se edita la semana de la evaluación
          let data = {
            review_week: element.review_week
          }
          this.patchEvaluation(element.id, data)
        }
      });
    },

    /**
     * @param {String} value Texto ingresado
     * @description Fuerza a que el texto ingresado solo sean los siguientes : -, 0, 1, 2 ,3
     * @return {String}
     */
    forceInput(value) {
      var aux = "";
      if (value >= 1 && value <= 17) {
        aux = value;
      } else {
        aux = "";
      }
      return aux;
    },


    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla {
  font-size: 12px;
}
.input-review-week {
  width: 100px;
  margin-left: 50px;
}
</style>
