<template>
  <b-container>

    <b-row class="mb-4 text-left border p-3">
      <b-col cols="6">
        <p><strong>Asignatura:</strong> {{ course.name }}</p>
        <p><strong>Semestre:</strong> {{ semester }}</p>
      </b-col>
      <b-col cols="6">
        <p><strong>Docente(s):</strong></p>
        <li v-for="(item, index) in nameDocentes" :key="index">
          {{ item }}
        </li>
      </b-col>
    </b-row>

    <div>
      <strong>Competencias del curso</strong><br><br>
      <b-card
        v-for="(competencia, index) in lista_competencias"
        v-bind:key="index"
        class="mb-4"
      >
        <div class="row">
          <div class="col-2 border-right text">
            <span class="float-left mb-2"
              ><strong>Código:</strong> {{ competencia.name }}</span
            >
          </div>
          <div class="col-10">
            <span class="float-left mb-2"
              ><strong>Competencia:</strong> {{ competencia.description }}</span
            >

            <b-table
              hover
              show-empty
              small
              stacked="md"
              :items="competencia['results']"
              :fields="fieldsTableStudentResult"
              empty-text="Esta competencia no tiene resultados del estudiante."
              empty-filtered-text="Esta competencia no tiene resultados del estudiante."
              class="ltable"
            >
            </b-table>
          </div>
        </div>
      </b-card>
    </div>
  </b-container>
</template>

<script>

import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      courseActive: [],
      course: [],
      semester: "",
      nameDocentes: [],
      lista_competencias: [],
      all_student_results: [],
      
      fieldsTableStudentResult: [
        {
          key: "name",
          label: "Resultado del estudiante",
          //  class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          // class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],
    };
  },

  methods: {
    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      if (!this.courseId) {
        console.log("Falta id de curso activo.");
        return;
      }
      const path = url + `process/portfolio/course_active/${this.courseId}/`;

      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          console.log("cursos activos -> ", this.courseActive);
          if (this.courseActive.id_course) {
            this.getCourse();

            // Obtener los nombres de los docentes
            for (const docenteId of this.courseActive.users) {
              this.getDocente(docenteId)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los datos del curso normal
     */
    async getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      axios
        .get(path)
        .then(async (response) => {
          this.course = response.data;
          console.log("curso -> ", this.course);

          if (this.course.semester % 2 == 1) {
            this.semester = "A"
          } else {
            this.semester = "B"
          }

          await this.getCourseCompetences();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas las competencias del curso normal
     */
    async getCourseCompetences() {
      const path =
        url +
        `process/portfolio/course_competence/?id_course=${this.course.id}`;
      await axios
        .get(path)
        .then(async (response) => {
          for (let element of response.data) {
            await this.getCompetence(element.id_competence);
          }

          await this.getAllStudentResults();

          // Preparando datos para la tabla competencias vs resultados
          this.lista_competencias.forEach((item) => {

            let aux = [];

            for (let resultado of this.all_student_results) {
              // Llenar los cards de resultados de cada competencia
              // item.student_results sólo tiene ids
              item.student_results.forEach((e) => {
                if (e == resultado.id) {
                  let auxResult = {
                    name: resultado.name,
                    description: resultado.description,
                  };
                  aux.push(auxResult);
                }
              });
            }
            item["results"] = aux; // se agrega objetos especiales para las tablas de los cards

          });
          this.lista_competencias = [...this.lista_competencias];
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene una competencia del curso normal y lo agrega al arreglo lista_competencias
     * @param {idCompetence} idCompetence es el identificador para la competencia
     */
    async getCompetence(idCompetence) {
      const path = url + `process/portfolio/competence/${idCompetence}`;
      await axios
        .get(path)
        .then((response) => {
          this.lista_competencias.push(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas los resultados del estudiante del recurso
     */
    async getAllStudentResults() {
      const path =
        url +
        `process/portfolio/student_result/?id_resource=${this.course.id_resource}`;
      await axios
        .get(path)
        .then((response) => {
          this.all_student_results = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
.ltable {
  min-height: 50px;
}
</style>
