<template lang="html">
<b-container id="custom-css">
  <b-row>
    <b-col cols="12" class="px-4">
      <b-button
        class="float-left"
        :to="{ name: 'Reports' }"
        variant="secondary">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </b-col>
  </b-row>
  <br />

  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Examen 1</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: ex1AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Continua 1</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: cont1AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Examen 2</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: ex2AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Continua 2</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: cont2AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Examen 3</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: ex3AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
  <b-card border-variant="secondary">
    <b-row class="text-left align-items-center">
      <b-col>Continua 3</b-col>
      <b-col>
        <b-button variant="primary" class="float-right"
          :to="{
              name: 'FormReportStudentResult',
              params: { academicPeriodId: cont3AcademicPeriodId },
            }">
          Realizar Informe
        </b-button>
      </b-col>
    </b-row>
  </b-card>
  <br />
</b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,

      ex1AcademicPeriodId: "",
      cont1AcademicPeriodId: "",
      ex2AcademicPeriodId: "",
      cont2AcademicPeriodId: "",
      ex3AcademicPeriodId: "",
      cont3AcademicPeriodId: "",
    };
  },
  methods: {
    
    /**
     * @description Se obtiene todos los periodos académico del curso activo
     */
    getAcademicPeriods() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.courseActiveId}`;
      axios
        .get(path)
        .then((response) => {
          for (const element of response.data) {
            // se toman los periodos académicos para ser enviados por la url
            if (element.period == 1 && element.modality == 1) {
              this.ex1AcademicPeriodId = element.id;
            } else if (element.period == 1 && element.modality == 2) {
              this.cont1AcademicPeriodId = element.id;
            } else if (element.period == 2 && element.modality == 1) {
              this.ex2AcademicPeriodId = element.id;
            } else if (element.period == 2 && element.modality == 2) {
              this.cont2AcademicPeriodId = element.id;
            } else if (element.period == 3 && element.modality == 1) {
              this.ex3AcademicPeriodId = element.id;
            } else if (element.period == 3 && element.modality == 2) {
              this.cont3AcademicPeriodId = element.id;
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  /**
   * @description Método que se inicia cuando el componente se crea
  */
  created() {
    this.getAcademicPeriods();
  },
};
</script>

<style lang="css" scoped></style>
