<template lang="html">
<b-container id="custom-css">
  <b-row>
    <b-col cols="12" class="px-4">
      <h3 class="text-left py-4">Plan de Estudio</h3>
    </b-col>
  </b-row>
  <b-row>
    <b-col cols="12 " class="px-4">
      <div title="Card Title" no-body>
        <div header-tag="nav">
          <b-nav card-header tabs>
          </b-nav>
        </div>
      </div>
    </b-col>
  </b-row>

  <div class="container">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button :to="{ name:'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>
          &nbsp;Atras
        </b-button>
      </div>
      <br />

      <div class="col-12">
        <h4 class="text-center my-0">Cursos vs Competencias</h4>
      </div>
    </b-row>

    <div class="text-left">
      <b-row class="my-3 mt-4 pt-2">
        <b-col class="my-1">
          <b-button
            variant="secondary"
            class="float-left"
            v-on:click="editarMatch"
            v-if="editPermission()"
            v-bind:class="{ 'd-none': !isActive }">
            <b-icon icon="pencil-square"></b-icon>&nbsp;Editar
          </b-button>
          <div v-bind:class="{ 'd-none': isActive }">
            <b-button class="float-left" v-on:click="cancelarMatch" variant="danger">
              <b-icon icon="x"></b-icon>Cancelar
            </b-button>
            <b-button class="float-right" v-on:click="guardarMatch">
              <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
            </b-button>
          </div>
        </b-col>
        <b-col lg="3" class="my-1">
          <b-button v-b-toggle.collapse-2 class="bsearch">
            <b-icon icon="search" aria-hidden="true"></b-icon>
            Buscar
          </b-button>
        </b-col>
      </b-row>
      <b-collapse id="collapse-2">
        <b-row>
          <b-col lg="6" class="my-1"></b-col>
          <b-col lg="6" class="my-1">
            <b-form-group
              label="Buscar"
              label-cols-sm="3"
              label-align-sm="right"
              label-size="sm"
              label-for="filterInput"
              class="mb-0">
              <b-input-group size="sm">
                <b-form-input
                  v-model="filter"
                  type="search"
                  id="filterInput"
                  placeholder="Escribe para buscar"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-collapse>
    </div>
    <b-card class="scroll">
      <div>
        <b-table
          striped
          hover
          :items="lista_cursos"
          :filter="filter"
          :filter-included-fields="filterOn">
          <template
            v-for="check in lista_competencias"
            v-slot:[gomycell(check)]="row">
            <b-container :key="check.id">
              <input
                v-model="row.item[check.name]"
                v-bind:disabled="isDisabled"
                type="checkbox"
                style="transform: scale(1.5);"
                class="check" />
            </b-container>
          </template>
        </b-table>
      </div>
    </b-card>
  </div>
</b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;
export default {
  data() {
    return {
      studyPlanID: this.$route.params.studyPlanId,
      lista_cursos: [],
      lista_competencias: [],
      cursos: [],
      isDisabled: true,
      totalRows: 1,
      isActive: true,
      filter: null,
      filterOn: ["cursos"],
    };
  },
  computed: {},
  methods: {
    /**
     * @description Método auxiliar para hacer la concatenación de la informacion de las columnas en el v-slot
     */
    gomycell(key) {
      var data = key.name;
      return `cell(${data})`; // simple string interpolation
    },

    /**
     * @description Obtiene la informacion de competencias de un plan de estudio en especifico
     */
    getCompetence() {
      const path =
        url + `process/portfolio/competence/?id_resource=${this.studyPlanID}`;
      axios
        .get(path)
        .then((response) => {
          this.lista_competencias = response.data;
          this.getCourse();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene la informacion de los cursos de un plan de estudio en especifico
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/?id_resource=${this.studyPlanID}`;

      axios
        .get(path)
        .then((response) => {
          this.cursos = response.data;

          this.lista_cursos = [];
          for (let curso of this.cursos) {
            var hlp = {
              cursos: curso.name,
            };
            for (let competencia of this.lista_competencias) {
              hlp[competencia.name] = curso.competences.some(
                (e) => e == competencia.id
              )
                ? true
                : false;
            }
            this.lista_cursos.push(hlp);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Cancela la funcion de editar el match y no guarda los cambios
     */
    cancelarMatch: function () {
      this.getCompetence();
      this.isDisabled = true;
      this.toggleActive();
    },

    /**
     * @description Guarda el match con todos los cambios realizados
     */
    guardarMatch: function () {
      this.lista_cursos.forEach((curso) => {
        const auxCompetencias = [];
        this.lista_competencias.forEach((competencia) => {
          if (curso[competencia.name] == true)
            auxCompetencias.push(competencia.id);
        });

        const cursoEdit = this.cursos.find((e) => e.name == curso.cursos);

        if (cursoEdit) {
          cursoEdit.competences = auxCompetencias;
          this.editarCurso(cursoEdit);
        }
      });
      swal("Match Guardado Exitosamente!", "", "success", {
        button: "Aceptar",
      });

      this.isDisabled = true;
      this.toggleActive();
    },

    /**
     * @description Edita un curso en especifico
     */
    editarCurso(course) {
      const path = url + `process/portfolio/course/${course.id}/`;

      axios
        .put(path, course)
        .then(() => {})
        .catch(() => {
          swal("Error", "", "error");
          this.showAlert();
        });
    },

    /**
     * @description Habilita la funcion de poder editar el match
     */
    editarMatch: function () {
      this.isDisabled = false;
      this.toggleActive();
    },

    /**
     * @description Habilita o desabilita los check del match
     */
    toggleActive: function () {
      this.isActive = !this.isActive;
    },


    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCompetence();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}

.check {
  transform: scale(2);
}

.scroll {
  overflow-x: scroll;
}
</style>
