<template lang="html">
  <b-container>
    <b-row class="text-left">
      <b-col>
        <b-button
          :to="{
            name: 'DetailProcess',
            params: { processId: phase.id_process },
          }"
          >Atrás</b-button
        >
      </b-col>
      <b-col cols="4">
        <h2>Detalles de la fase</h2>
      </b-col>
      <b-col class="text-right">
        <b-button
          variant="outline-primary"
          :to="{ name: 'EditPhase', params: { phaseId: phase.id } }"
        >
          <b-icon icon="pencil-square"></b-icon>
          Editar Fase
        </b-button>
      </b-col>
      <b-col class="text-right">
        <b-button v-b-modal.delete-phase-modal variant="danger">
          <b-icon icon="trash"></b-icon>
          Eliminar
        </b-button>
        <DeletePhase :PhaseInfo="phase"></DeletePhase>
      </b-col>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ phase.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ phase.description }}</b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Criterios</b-col>
            <b-col sm="7">
              <b-button
                v-b-modal.create-criteria-modal
                variant="outline-primary"
              >
                <b-icon icon="plus"></b-icon>Crear Criterio
              </b-button>
              <NewCriteria :PhaseID="phase.id"></NewCriteria>
            </b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col>
              <b-card>
                <ListCriteria :PhaseID="phase.id"></ListCriteria>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import axios from "axios";
import NewCriteria from "@/components/Criteria/NewCriteria";
import ListCriteria from "@/components/Criteria/ListCriteria";
import DeletePhase from "@/components/Phase/DeletePhase";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    NewCriteria,
    ListCriteria,
    DeletePhase,
  },
  data() {
    return {
      phaseId: this.$route.params.phaseId,
      phase: [],
    };
  },
  methods: {
    /**
     * @description Obtiene una fase especifica indicando su id
     * @return {phase}
     */
    getPhase() {
      const path = url + `/process/phase/${this.phaseId}`;
      axios.get(path).then((response) => {
        this.phase = response.data;
      });
    },
  },
  created() {
    this.getPhase();
  },
};
</script>
<style lang="css" scoped></style>
