<template lang="html">
  <b-container>
    <b-row class="mb-3">
      <b-col class="text-left">
        <b-button :to="{ name: 'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </b-col>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col>
              <ListCourse :idresource="studyPlanId"></ListCourse>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import ListCourse from "@/components/Sommeliers/ListCourse";

export default {
  components: {
    ListCourse,
  },
  data() {
    return {
      studyPlanId: this.$route.params.studyPlanId,
    };
  },
  methods: {},
};
</script>
<style lang="css" scoped></style>
