<template lang="html">
<b-container class="text-left">
  <b-row>
    <b-col lg="6" class="my-1"> </b-col>
    <b-col lg="3" class="my-1"></b-col>
    <b-col lg="3" class="my-1">
      <b-button v-b-toggle.collapse-2 class="bsearch">
        <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
      </b-button>
    </b-col>
  </b-row>
  <b-collapse id="collapse-2">
    <b-row>
      <b-col lg="6" class="my-1"></b-col>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Buscar"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Escribe para buscar"></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col lg="6" class="my-1"></b-col>
    </b-row>
  </b-collapse>
  <br />
  <b-table
    hover
    show-empty
    small
    stacked="md"
    :items="cursos"
    :fields="fields"
    :current-page="currentPage"
    :per-page="perPage"
    :filter="filter"
    :filter-included-fields="filterOn"
    :sort-by.sync="sortBy"
    :sort-desc.sync="sortDesc"
    :sort-direction="sortDirection"
    @filtered="onFiltered"
    empty-text="No hay cursos para mostrar"
    empty-filtered-text="No hay cursos para mostrar que coincidan con su solicitud"
    class="ltable">
    <template v-slot:cell(actions)="course">
      <b-container>
        <b-button
          size="sm"
          variant="dark "
          @click="
              info(
                course.item.id,
                course.item.name,
                course.item.description,
                course.item.content,
                $event.target
              )
            "
          class="mr-1">
          Ver mas
        </b-button>
        <!---Editar-->
        <b-button
          size="sm"
          variant="secondary"
          @click="infoEdit(course.item, $event.target)"
          v-if="editPermission()">
          <b-icon icon="pencil-square"></b-icon>Editar
        </b-button>&nbsp;
      </b-container>
    </template>
  </b-table>

  <!-- Info modal -->
  <b-modal
    :id="infoModal.id"
    :title="infoModal.title"
    ok-only
    @hide="resetEditModal"
    ok-title="Aceptar">
    Descripcion: {{ infoModal.description }}<br />
    Contenido: {{ infoModal.content }}
  </b-modal>

  <!-- Editar -->
  <b-modal
    :id="editModal.id"
    :title="editModal.title"
    @ok="handleEditOk"
    @hide="resetEditModal"
    size="lg"
    ok-title="Editar"
    cancel-title="Cancelar">
    <b-form>
      <b-form-group label="Descripción:" label-for="description">
        <b-form-textarea
          id="description"
          v-model="editModal.description"
          :state="sommelierStateDescriptionValidation()"
          required
          rows="5"></b-form-textarea>
        <small>No es obligatorio</small><br />
        <small class="msg" v-if="!onlyTextAndNumber(editModal.description)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(editModal.description, 0, 1000)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Máximo 500 caracteres
        </small>
      </b-form-group>

      <b-form-group label="Contenido:" label-for="contend">
        <b-form-textarea
          id="contenid"
          v-model="editModal.content"
          :state="sommelierStateContentValidation()"
          rows="5"></b-form-textarea>
        <small>No es obligatorio</small><br />
        <small class="msg" v-if="!onlyTextAndNumber(editModal.content)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(editModal.content, 0, 4000)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Máximo 4000 caracteres
        </small>
      </b-form-group>
    </b-form>
  </b-modal>

  <b-row>
    <b-col sm="5" md="6" class="my-1">
      <b-form-group
        label="Por pagina"
        label-cols-sm="6"
        label-cols-md="4"
        label-cols-lg="3"
        label-align-sm="right"
        label-size="sm"
        label-for="perPageSelect"
        class="mb-0">
        <b-form-select
          v-model="perPage"
          id="perPageSelect"
          size="sm"
          :options="pageOptions"></b-form-select>
      </b-form-group>
    </b-col>

    <b-col sm="7" md="6" class="my-1">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="fill"
        size="sm"
        class="my-0"></b-pagination>
    </b-col>
  </b-row>
</b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  props: ["idresource"],
  components: {},
  data() {
    return {
      cursos: [],
      sumilla: {},
      fields: [{
          key: "name",
          label: "Curso",
          //class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
          //class: "text-center",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "name",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name"],
      agregar: false,
      editar: false,
      eliminar: false,

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },

      infoModal: {
        id: "info-modal",
        title: "",
        curse_id: "",
        description: "",
        content: "",
      },

      editModal: {
        id: "edit-modal",
        title: "",
        curse_id: "",
        curse_code: "",
        curse_id_resource: "",
        curse_id_subarea: "",
        curse_name: "",
        description: "",
        content: "",
      },
    };
  },

  methods: {
    getCursos() {
      const path =
        url + `process/portfolio/course/?id_resource=${this.idresource}`;
      axios
        .get(path)
        .then((response) => {
          this.cursos = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /*getSumilla() {
      const path = url + `process/portfolio/sommelier/${this.data.id}`;
      axios.get(path).then((response) => {
        this.sumilla = response.data;
      });
    },*/

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
     * @param {number} id ID del curso
     * @param {String} name Nombre del curso
     * @param {String} description Descripcion de la sumilla del curso
     * @param {String} content Contenido de la sumilla del curso
     * @param {event} button Evento del boton presionado
     * @description Asigna los valores del parametro del metodo a la variable infoModal para luegar generar el modal de informacion
     * @return {boolean}
     */
    info(id, name, description, content, button) {
      this.infoModal.title = `Detalle de sumilla de ${name}`;
      this.infoModal.curse_id = id;
      this.infoModal.description = description;
      this.infoModal.content = content;

      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    /**
     * @description Reinicia los valores del modal de informacion de sumilla del curso
     */
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.curse_id = "";
      this.infoModal.description = "";
      this.infoModal.content = "";
    },

    /**
     * @param {Object} curse Contiene toda la informacion del curso seleccionado
     * @param {event} button Evento del boton presionado
     * @description Asigna los valores del parametro del metodo a la variable editModal para luegar generar el modal de editar
     * @return {boolean}
     */
    infoEdit(curse, button) {
      this.editModal.title = `Editar sumilla de ${curse.name}`;
      this.editModal.description = curse.description;
      this.editModal.content = curse.content;
      this.editModal.curse_id = curse.id;
      (this.editModal.curse_code = curse.code),
      (this.editModal.curse_id_resource = curse.id_resource),
      (this.editModal.curse_id_subarea = curse.id_subarea),
      (this.editModal.curse_name = curse.name),
      this.$root.$emit("bv::show::modal", this.editModal.id, button);
    },

    /**
     * @description Reinicia los valores del modal de editar sumilla del curso
     */
    resetEditModal() {
      this.editModal.title = "";
      this.editModal.description = "";
      this.editModal.content = "";
      this.editModal.curse_id = "";
      this.editModal.curse_code = "";
      this.editModal.curse_id_resource = "";
      this.editModal.curse_id_subarea = "";
      this.editModal.curse_name = "";
    },

    /**
     * @description Verifica que se cumplan las validaciones de la descripcion y contenido
     */
    editSumillaValidation() {
      return (
        this.sommelierDescriptionValidation() &&
        this.sommelierContentValidation()
      );
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal de editar
     * Verifica si se cumplio las validaciones para editar la sumilla
     */
    handleEditOk() {
      if (this.editSumillaValidation()) {
        this.editSommelier();
      } else {
        swal("Datos incorrectos", "", "error", {
          button: "Aceptar",
        });
      }
    },
    editSommelier() {
      const path = url + `process/portfolio/course/${this.editModal.curse_id}/`;
      const datos = {
        code: this.editModal.curse_code,
        id_resource: this.editModal.curse_id_resource,
        id_subarea: this.editModal.curse_id_subarea,
        name: this.editModal.curse_name,
        description: this.editModal.description,
        content: this.editModal.content,
      };
      axios
        .put(path, datos)
        .then(() => {
          swal("Sumilla Actualizada Exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.getCursos();
          });
        })
        .catch(() => {
          swal("La sumilla no se actualizo", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    sommelierStateDescriptionValidation() {
      if (this.textEmpty(this.editModal.description)) {
        return new Boolean(null);
      }
      return this.sommelierDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    sommelierDescriptionValidation() {
      return (
        this.textSize(this.editModal.description, 0, 1000) &&
        this.onlyTextAndNumber(this.editModal.description)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de contenido
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    sommelierStateContentValidation() {
      if (this.textEmpty(this.editModal.content)) {
        return new Boolean(null);
      }
      return this.sommelierContentValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de contenido
     * @return {boolean}
     */
    sommelierContentValidation() {
      return (
        this.textSize(this.editModal.content, 0, 4000) &&
        this.onlyTextAndNumber(this.editModal.content)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Portafolio)) {

        return true
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {

      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (PermissionService.findPermission(
          Permission.Edit,
          Module.Portafolio
        )) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false
    },
  },
  computed: {
    /**
      * @description Metodo que reordena la tabla
    */
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  beforeUpdate() {
    this.totalRows = this.cursos.length;
  },

  created() {
    PermissionService.setUserActive();
    this.getCursos();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}
</style>
