<template lang="html">
  <b-container>
    <b-modal
      id="new-sommeliers-modal"
      ref="modal"
      title="Agregar Sumilla"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <!-- <b-form-group
          :state="roleNameValidation()"
          label="Pre requisitos:"
          label-for="name-role"
        >
          <template>
            <div>
              <b-form-select
                v-model="selected"
                :options="options"
                class=" col-lg-6"
              >
               
                <template v-slot:first>
                  <b-form-select-option :value="null" disabled
                    >-- Please select an option --</b-form-select-option
                  >
                </template>

               
                <b-form-select-option value="C">Option C</b-form-select-option>
                <b-form-select-option value="D">Option D</b-form-select-option>
              </b-form-select>
              <b-button class="ml-4">Agregar</b-button>

              <div class="mt-3">
                Selected: <strong>{{ idSumilla }}</strong>
              </div>
            </div>
          </template>
        </b-form-group> -->

        <b-form-group
          :state="roleNameValidation()"
          label="Descripcion:"
          label-for="name-role"
        >
          <b-form-input
            id="name-role"
            v-model="description"
            :state="roleNameValidation()"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          :state="roleNameValidation()"
          label="Contenido:"
          label-for="name-role"
        >
          <template>
            <div>
              <b-form-textarea
                id="textarea"
                v-model="content"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
              ></b-form-textarea>

              <pre class="mt-3 mb-0">{{ text }}</pre>
            </div>
          </template>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["idcourse"],
  data() {
    return {
      course: [],
      description: "",
      content: "",
      id_course: null,
      validation: {
        onlyText: /^[a-zA-Z ]*$/,
      },
    };
  },
  methods: {
    resetModal() {
      this.description = "";
    },
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.textSize(this.description, 1, 100) &&
        this.onlyText(this.description)
      );
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createSumilla();
      this.$nextTick(() => {
        this.$bvModal.hide("add-role-modal");
      });
    },
    getCourse() {
      const path = url + `process/portfolio/course/${this.idcourse}`;
      axios.get(path).then((response) => {
        this.course = response.data;
      });
    },
    createSumilla() {
      const path = url + `process/portfolio/course/${this.idcourse}`;
      const datos = {
        description: this.description,
        content: this.content,
        id_course: this.course.id,
      };
      axios.put(path, datos).then(() => {
        swal("Sumilla Creada Exitosamente", "", "success", {
          button: "Aceptar",
        });
        location.reload();
      });
    },

    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },
    roleNameValidation() {
      if (this.textEmpty(this.description)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.description, 1, 100) &&
        this.onlyText(this.description)
      );
    },
  },
  created() {
    this.getCourse();
  },
};
</script>

<style lang="css" scoped></style>
