<template lang="html">
  <b-container>
    <b-modal
      id="add-averageDocument-modal"
      ref="modal"
      title="Subir Promedio"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form-group>
        <b-form-file
          id="evidence"
          v-model="form.average"
          accept=".pdf"
          placeholder="Seleccione un archivo or  arrastrelo aquí..."
          drop-placeholder="Arrastrelo aquí..."
        >
        </b-form-file>
      </b-form-group>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      periodAcademic: [],
      form: {
        average: null,
        nameDocument: null,
      },
    };
  },
  methods: {

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo getPeriodAcademic y minimizar el modal
     */
    handleSubmit() {
      this.getPeriodAcademic();
      this.$nextTick(() => {
        this.$bvModal.hide("add-academicAdvisory-modal");
      });
    },

    /**
     * @description Obtener los datos del periodo académico
     * Llama al metodo addEvidenceDocument para agregar la evidencia
     */
    getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.courseId}`;
      console.log(this.courseId);
      axios
        .get(path)
        .then((response) => {
          var periodsAcademics = response.data;
          this.periodAcademic = periodsAcademics.find((i) => i.period === 4);
          this.addEvidenceDocument();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Agregar archivos cargados a la base de datos
     */
    addEvidenceDocument() {
      const path = url + `process/portfolio/evidence_document/`;
      let formData = new FormData();
      formData.append("doc_annexed_filename", this.form.name);
      formData.append("doc_annexed", this.form.average);
      formData.append("id_period_academic", this.periodAcademic.id);
      axios
        .post(path, formData)
        .then(() => {
          swal("Promedio cargado exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Promedio no se ha cargado", "", "error");
        });
    },
  },

  created() {},
};
</script>

<style lang="css" scoped></style>
