<template lang="html">
  <b-container>
    <b-modal
      id="activate-competence-modal"
      ref="modal"
      title="Activar Competencia"
      @ok="ok"
      cancel-title="Cancelar"
      ok-title="Aceptar"
    >
      ¿Está seguro que quiere actiivar la Competencia
      {{ this.CompetenceInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["CompetenceInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.activateCompetence();
      this.$nextTick(() => {
        this.$bvModal.hide("activate-competence-modal");
      });
    },

    /**
     * @description Activa una competencia en especifico
     */
    activateCompetence() {
      const path =
        url + `process/portfolio/competence/${this.CompetenceInfo.id}/`;
      const datos = {
        status: true,
      };

      axios
        .patch(path, datos)
        .then(() => {
          swal("Competencia Activada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCompetence",
            });
          });
        })
        .catch(() => {
          swal("Error al activar Competencia!", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCompetence",
            });
          });
        });
    },
  },
};
</script>

<style></style>
