<template lang="html">
<div class="container">
  <h3 class=" text-left my-4">Nueva Competencia</h3>

  <b-card class="mb-3 text-left">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group label="Nombre:" label-for="input-1">
        <b-form-input
          id="input-1"
          type="text"
          v-model="form.name"
          :formatter="forceLowerCase"
          required
          :state="competenceStateNameValidation()">
        </b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.name, 2, 32)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 2 y máximo 32 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Descripcion:" label-for="input-2">
        <b-form-textarea
          id="input-2"
          type="text"
          name="description"
          v-model.trim="form.description"
          :formatter="forceLowerCase"
          :state="competenceStateDescriptionValidation()">
        </b-form-textarea>
        <small>No es obligatorio</small><br />
        <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="
              !textEmpty(form.description) &&
              !textSize(form.description, 0, 320) &&
              !textEmpty(form.description)
            ">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Máximo 320 caracteres
        </small>
      </b-form-group>
      <b-row>
        <b-col>
          <b-button type="submit" variant="secondary" class="float-right ml-3">Crear</b-button>
          <b-button type="reset" variant="danger" class="float-right ml-3">Reiniciar</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-card>
</div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      form: {
        isrespPro: false,
        name: "",
        description: "",
        id_resource: this.$route.params.studyPlanId,
        status: true,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 .,;:]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego crear la competencia
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createCompetenceValidation()) {
        this.createCompetence();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    /**
     * @description Crea una competencia con sus datos correspondientes
     */
    createCompetence() {
      const path = url + `process/portfolio/competence/`;

      axios
        .post(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          swal("Competencia Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCompetence",
            });
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_resource, name deben formar un conjunto único.",
              "Ya existe una competencia con ese nombre."
            )
          );
          swal(
            "No se creó la competencia",
            this.errorsList.join("\n"),
            "error", {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre y descripcion
     */
    createCompetenceValidation() {
      return (
        this.competenceNameValidation() &&
        this.competenceStateDescriptionValidation()
      );
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    competenceStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.competenceNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    competenceNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    competenceStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.competenceDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    competenceDescriptionValidation() {
      return (
        this.textSize(this.form.description, 0, 320) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.Create, Module.Portafolio)) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");

    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
  },
  computed: {},
};
</script>

<style lang="css" scoped></style>
