<template lang="html">
  <b-container>
    <b-modal
      id="add-role-modal"
      ref="modal"
      title="Agregar rol"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      cancel-title="Cancelar"
      ok-title="Agregar"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="roleNameValidation()"
          label="Nombre:"
          label-for="name-role"
        >
          <b-form-input
            id="name-role"
            v-model="name"
            :state="roleNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyText(name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(name, 2, 32)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 32 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["process"],
  data() {
    return {
      name: "",
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    resetModal() {
      this.name = "";
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones del nombre
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid && this.textSize(this.name, 2, 32) && this.onlyText(this.name)
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear rol y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createRole();
      this.$nextTick(() => {
        this.$bvModal.hide("add-role-modal");
      });
    },
    /**
     * @description Crea el nombre de un rol y lo registra en la BD aun sin asignarle permisos e indicando el
     * proceso al que pertenece
     */
    createRole() {
      const path = url + `user/role/`;
      const datos = {
        id_process: this.process.id,
        name: this.name,
      };
      axios
        .post(path, datos)
        .then(() => {
          swal("Nombre de Rol Creado Exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_process, name deben formar un conjunto único.",
              "Ya existe un rol con ese nombre."
            )
          );

          swal("No se creó el rol", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    roleNameValidation() {
      if (this.textEmpty(this.name)) {
        return new Boolean(null);
      }
      return this.textSize(this.name, 2, 32) && this.onlyText(this.name);
    },
  },
};
</script>

<style lang="css" scoped></style>
