<template lang="html">
  <b-container>
    <b-modal
      id="edit-role-modal"
      ref="modal"
      title="Editar rol "
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      cancel-title="Cancelar"
      ok-title="Guardar"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <!--{{ this.Roleinfo.name }}-->
        <b-form-group :state="roleNameValidation()" label-for="name-role">
          <b-form-input
            id="name-role"
            v-model="name"
            :formatter="forceLowerCase"
            :state="roleNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyText(name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(name, 2, 32)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 32 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["Roleinfo"],
  data() {
    return {
      name: "",
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    resetModal() {
      if(this.Roleinfo.name != null){
        this.name = this.Roleinfo.name;
      }else{
        this.name = "";
      }
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid && this.textSize(this.name, 2, 32) && this.onlyText(this.name)
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de editar rol y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.editRole();
      this.$nextTick(() => {
        this.$bvModal.hide("edit-role-modal");
      });
    },
    /**
     * @description Metodo para editar el nombre y el proceso al que pertenece de un rol
     */
    editRole() {
      const datos = {
        name: this.name,
        id_process: this.Roleinfo.id_process,
      };
      const path = url + `user/role/${this.Roleinfo.id}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Nombre de rol actualizado de manera exitosa", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_process, name deben formar un conjunto único.",
              "Ya existe un rol con ese nombre."
            )
          );
          swal("No se creó el rol", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },
    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    roleNameValidation() {
      if (this.textEmpty(this.name)) {
        return new Boolean(null);
      }
      return this.textSize(this.name, 2, 32) && this.onlyText(this.name);
    },
  } /*
  created() {
    this.name = this.Roleinfo.name;
  },
  beforeCreate() {
    this.name = this.Roleinfo.name;
  },
  mounted() {
    this.name = this.Roleinfo.name;
  },
  beforeMount() {
    this.name = this.Roleinfo.name;
  },*/,
};
</script>

<style lang="css" scoped></style>
