<template>
  <b-container id="custom-css">
    <b-row>
      <b-col cols="12" class="px-4">
        <h3 class="text-left py-4" py-2>Roles</h3>
      </b-col>
    </b-row>

    <b-card title="Card Title" no-body>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {};
  },
  methods: {
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Roles)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },
  },

  created() {
    PermissionService.setUserActive();
    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
