<template>
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <div class>
          <h2>Listado de tareas</h2>
        </div>
        <br />
        <div class="col-md-12">
          <b-table striped hover :items="users" :fields="fields">
            <template v-slot:cell(action)="data">
              <b-button
                size="sm"
                variant="primary"
                :to="{ name: 'EditTask', params: { userId: data.item.id } }"
              >Editar</b-button>
              <b-button
                size="sm"
                variant="danger"
                :to="{ name: 'DeleteTask', params: { userId: data.item.id } }"
              >Eliminar</b-button>
            </template>
          </b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import axios from "axios";
export default {
  data() {
    return {
      fields: [
        { key: "nombre", label: "Nombre" },
        { key: "responsable", label: "Responsable" },
        { key: "action", label: "" },
      ],
      users: [
        { nombre: "Tarea 1", responsable: "Usuario 1", action: "" },
        { nombre: "Tarea 2", responsable: "Usuario 2", action: "" },
        { nombre: "Tarea 3", responsable: "Usuario 3", action: "" },
      ],
    };
  },
  methods: {},
};
</script>

<style lang="css" scoped></style>
