<template>
  <div class="container">
    <h2>Nueva tarea</h2>
    <form class="text-left">
      <div class="form-group">
        <label for="formGroupExampleInput">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Nombre de la tarea"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Detalle</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Detalle de la tarea"
        />
      </div>
      <div class="form-group">
        <label for="inputState">Asignar a:</label>
        <select id="inputState" class="form-control">
          <option selected disabled>Escoger un responsable</option>
          <option>Usuario 1</option>
          <option>Usuario 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Documentos</label>
        <p></p>
        <input type="file" @change="onFileSelected" accept="image/*" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary align-items-center">
          Agregar
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";

export default {
  data() {
    return {};
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      const path = `https://acreditacionbackend.herokuapp.com/api/1.0/users/new/`;

      axios.post(path, this.form).then((response) => {
        this.form.email = response.data.email;
        this.form.password = response.data.password;
        this.form.first_name = response.data.first_name;
        this.form.last_name = response.data.last_name;
        this.form.foto = response.data.foto;
        this.form.is_admin = response.data.is_admin;
        this.form.status = response.data.status;
        swal("Tarea Creado Exitosamente!", "", "success", {
          button: "Aceptar",
        });
      });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>

<style lang="css" scoped></style>
