<template lang="html">
  <b-container>
    <b-modal
      id="activate-curse-modal"
      ref="modal"
      title="Activar Curso"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere activar el curso: {{ this.Curse.name }}?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["Curse"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.activateCurso();
      this.$nextTick(() => {
        this.$bvModal.hide("activate-curse-modal");
      });
    },

    activateCurso() {
      const path = url + `process/portfolio/course/${this.Curse.id}/`;
      const datos = {
        status: true,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Curso Activado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        })
        .catch((error) => {
          console.log(error);
          swal("Error al activar curso!", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        });
    },
  },
};
</script>

<style></style>
