<template lang="html">
  <div class="container">
    <h3 class=" text-left my-4 ">Nuevo Curso de Malla Curricular</h3>
    <b-card class="mb-3 ">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row class="text-center mb-3">
          <b-col>
            <b-row class="text-left mb-1">
              <b-col sm="6">
                <p class="mb-2">Cod. Curso:</p>
                <b-form-group>
                  <b-form-input
                    id="cod-curse"
                    type="number"
                    v-model="code"
                    :state="curseStateCodeValidation()"
                    required
                  ></b-form-input>
                  <small class="msg" v-if="!onlyNumber(code)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(code, 7, 7)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; El tamaño del codigo tiene que ser de 7
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Nombre:</p>
                <b-form-group>
                  <b-form-input
                    id="name-curse"
                    v-model="name"
                    :state="curseStateNameValidation()"
                    :formatter="forceLowerCase"
                    required
                  ></b-form-input>
                  <small class="msg" v-if="!onlyTextAndNumber(name)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(name, 3, 100)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; Minimo 3 y Maximo 100 caracteres
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Semestre:</p>
                <b-form-group>
                  <b-form-input
                    id="semestre-curse"
                    v-model="semester"
                    type="number"
                    :state="curseStateSemesterValidation()"
                    required
                  ></b-form-input>
                  <small class="msg" v-if="!onlyNumber(semester)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!numberSize(semester, 1, 14)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; Solo se acepta numeros del 1 al 14
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Departamentos:</p>
                <b-form-group>
                  <b-form-select
                    v-model="departamento"
                    required
                    id="input-3"
                    multiple
                  >
                    <b-form-select-option :value="[]" disabled>
                      Seleccione uno o varios departamentos
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(departamento, indexOpt) in departamentos"
                      :key="indexOpt"
                      :value="departamento.id"
                    >
                      {{ departamento.code }}
                    </b-form-select-option>
                  </b-form-select>
                  <small class="msg" v-if="!arrayLength(departamento)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; Seleccione uno o mas departamentos
                  </small>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <p class="mb-2">Créditos:</p>
                <b-form-group>
                  <b-form-input
                    id="cred"
                    v-model="credit"
                    type="number"
                    :state="curseStateCreditValidation()"
                    required
                  ></b-form-input>
                  <small class="msg" v-if="!onlyNumber(credit)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!numberSize(credit, 1, 5)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; Solo se acepta numeros del 1 al 5
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6"></b-col>
              <b-col sm="6">
                <p class="mb-2">Areas:</p>
                <b-form-group>
                  <b-form-select
                    v-model="area"
                    @change="getSubAreas"
                    required
                    id="input-5"
                  >
                    <b-form-select-option :value="[]" disabled>
                      Seleccione una area
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(area, indexOpt) in areas"
                      :key="indexOpt"
                      :value="area.id"
                    >
                      {{ area.name }}
                    </b-form-select-option>
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Subareas:</p>
                <b-form-group>
                  <b-form-select v-model="subarea" required id="input-5">
                    <b-form-select-option :value="[]" disabled>
                      Seleccione una subarea
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(subarea, indexOpt) in subareas"
                      :key="indexOpt"
                      :value="subarea.id"
                    >
                      {{ subarea.name }}
                    </b-form-select-option>
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col sm="6"> <b-button @click="getPrerequisitos()">Obtener</b-button>
                <p class="mb-2">Prerequisitos: </p>
                <b-form-group>
                  <b-form-select v-model="prerequisito" id="input-4" multiple>
                    <b-form-select-option :value="[]" disabled>
                      Seleccione uno o varios prerequisitos
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(prerequisito, indexOpt) in prerequisitos"
                      :key="indexOpt"
                      :value="prerequisito.id"
                    >
                      {{ prerequisito.name }}
                    </b-form-select-option>
                  </b-form-select>
                  <small class="msg" v-if="!arrayLength(prerequisito)">
                    <b-icon
                      icon="exclamation-circle"
                      variant="warning"
                    ></b-icon>
                    &nbsp; Seleccione uno o mas prerequisitos
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Tipo:</p>
                <b-form-group>
                  <b-form-select v-model="type" :options="options" required>
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="my-1 text-left">
              <b-col sm="4" class=" mb-2">
                <label for="ht">HT:</label>
                <b-form-input
                  id="ht"
                  type="number"
                  v-model="hours_theory"
                  required
                  :state="curseStateHTValidation()"
                ></b-form-input>
              </b-col>
              <b-col sm="4" class=" mb-2">
                <label for="hs">HS:</label>
                <b-form-input
                  id="hs"
                  type="number"
                  v-model="hours_seminar"
                  required
                  :state="curseStateHSValidation()"
                ></b-form-input>
              </b-col>
              <b-col sm="4" class="mb-2">
                <label for="htp">HTP:</label>
                <b-form-input
                  id="htp"
                  type="number"
                  v-model="hours_theopractice"
                  required
                  :state="curseStateHTPValidation()"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row class="my-1 text-left">
              <b-col sm="4" class="mb-2">
                <label for="hp">HP:</label>
                <b-form-input
                  id="hp"
                  type="number"
                  v-model="hours_practice"
                  required
                  :state="curseStateHPValidation()"
                ></b-form-input>
              </b-col>
              <b-col sm="4" class="mb-2">
                <label for="hl">HL:</label>
                <b-form-input
                  id="hl"
                  type="number"
                  v-model="hours_laboratory"
                  required
                  :state="curseStateHLValidation()"
                ></b-form-input>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <small
                  class="msg"
                  v-if="
                    !(
                      onlyNumber(hours_theory) &&
                      onlyNumber(hours_seminar) &&
                      onlyNumber(hours_theopractice) &&
                      onlyNumber(hours_practice) &&
                      onlyNumber(hours_laboratory)
                    )
                  "
                >
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                  &nbsp; No es un caracter válido
                  <br />
                </small>
                <small
                  class="msg"
                  v-if="
                    !(
                      numberSize(hours_theory, 1, 8) &&
                      numberSize(hours_seminar, 0, 8) &&
                      numberSize(hours_theopractice, 0, 8) &&
                      numberSize(hours_practice, 0, 8) &&
                      numberSize(hours_laboratory, 0, 8)
                    )
                  "
                >
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                  &nbsp; Solo se acepta numeros del 0 al 8 (El numero de horas minimas para teoria es 1)
                </small>
              </b-col>
            </b-row>
            <br />
            <b-row class="text-left mb-1">
              <b-col sm="3">
                <div>Electivo:</div>
                <b-form-group class="mt-2">
                  <b-form-select
                    v-model="elective"
                    :options="options1"
                    required
                  >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button type="submit" variant="secondary" class="float-right ml-3"
              >Crear</b-button
            >
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right"
              >Reiniciar</b-button
            >
          </b-col>
        </b-row>
      </b-form>
    </b-card>
    {{ studyplanId }}
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

import swal from "sweetalert";

export default {
  data() {
    return {
      studyplanId: this.$route.params.studyPlanId,

      options: [
        { value: 0, text: "Control" },
        { value: 1, text: "Capstone" },
      ],
      options1: [
        { value: true, text: "Si" },
        { value: false, text: "No" },
      ],
      type: "",
      elective: "",
      areas: [],
      area: [],
      subareas: [],
      subarea: [],
      componentes: [],
      componente: [],
      departamentos: [],
      departamento: [],
      prerequisitos2: [],
      prerequisitos: [],
      prerequisito: [],
      code: "",
      name: "",
      semester: "",
      credit: "",
      hours_theory: "",
      hours_seminar: "",
      hours_theopractice: "",
      hours_practice: "",
      hours_laboratory: "",
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-ú0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },

      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el curso
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createCourseValidation()) {
        this.createCourse();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    createCourse() {
      const path = url + `process/portfolio/course/`;
      const datos = {
        code: this.code,
        name: this.name,
        semester: this.semester,
        credit: this.credit,
        type: this.type,
        hours_theory: this.hours_theory,
        hours_seminar: this.hours_seminar,
        hours_theopractice: this.hours_theopractice,
        hours_practice: this.hours_practice,
        hours_laboratory: this.hours_laboratory,
        id_resource: this.studyplanId,
        id_subarea: this.subarea,
        elective: this.elective,
        components: this.componente,
        departments: this.departamento,
        competences: [],
        student_results: [],
        pre_requirements: this.prerequisito,
      };
      axios
        .post(path, datos)
        .then(() => {
          swal("Curso Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_resource, code deben formar un conjunto único.",
              "Ya existe un curso con ese código."
            )
          );

          swal("No se creó el curso", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },
    getDepartamentos() {
      const path =
        url + `process/portfolio/department/?id_resource=${this.studyplanId}`;
      axios.get(path).then((response) => {
        this.departamentos = response.data;
      });
    },
    getPrerequisitos() {
      const path =
        url + `process/portfolio/course/?id_resource=${this.studyplanId}`;
      axios.get(path).then((response) => {
        this.prerequisitos2 = response.data;
        
        this.prerequisitos = this.prerequisitos2.filter(prerequisito => prerequisito.semester > this.semester );


        for(var i = 0; i < this.prerequisitos.length; i++){
            console.log(this.prerequisitos[i].semester + " " + this.prerequisitos[i].code + " " + this.prerequisitos[i].name);
        }
      });
    },

    getSubAreas() {
      const path =
        url + `process/portfolio/subarea/?id_formation_area=${this.area}`;
      axios.get(path).then((response) => {
        this.subareas = response.data;
      });
    },
    getAreas() {
      const path =
        url +
        `process/portfolio/formation_area/?id_resource=${this.studyplanId}`;
      axios.get(path).then((response) => {
        this.areas = response.data;
        //this.getSubAreas();
      });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @param {Array} value Arreglo ingresado
     * @description Metodo para obtener el tamaño de un arreglo
     * @return {number}
     */
    arrayLength(array) {
      return array.length;
    },

    /**
     * @description Verifica que se cumplan las validaciones del
     * codigo, nombre, semestre, creditos y horas
     */
    createCourseValidation() {
      return (
        this.curseCodeValidation() &&
        this.curseNameValidation() &&
        this.curseSemesterValidation() &&
        this.curseCreditValidation() &&
        this.curseHTValidation() &&
        this.curseHSValidation() &&
        this.curseHTPValidation() &&
        this.curseHPValidation() &&
        this.curseHLValidation()
      );
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.code = "";
      this.name = "";
      this.semester = "";
      this.departamento = [];
      this.credit = "";
      this.prerequisito = [];
      this.subarea = [];
      this.hours_theory = "";
      this.hours_seminar = "";
      this.hours_theopractice = "";
      this.hours_practice = "";
      this.hours_laboratory = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de codigo
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateCodeValidation() {
      if (this.textEmpty(this.code)) {
        return new Boolean(null);
      }
      return this.curseCodeValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del codigo y los caracteres ingresados
     * del input del codigo
     * @return {boolean}
     */
    curseCodeValidation() {
      return this.textSize(this.code, 7, 7) && this.onlyNumber(this.code);
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateNameValidation() {
      if (this.textEmpty(this.name)) {
        return new Boolean(null);
      }
      return this.curseNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    curseNameValidation() {
      return (
        this.textSize(this.name, 3, 100) && this.onlyTextAndNumber(this.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Semestre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateSemesterValidation() {
      if (this.textEmpty(this.semester)) {
        return new Boolean(null);
      }
      return this.curseSemesterValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input del semestre
     * @return {boolean}
     */
    curseSemesterValidation() {
      return (
        this.numberSize(this.semester, 1, 14) && this.onlyNumber(this.semester)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de los creditos
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateCreditValidation() {
      if (this.textEmpty(this.credit)) {
        return new Boolean(null);
      }
      return this.curseCreditValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input de los creditos
     * @return {boolean}
     */
    curseCreditValidation() {
      return this.numberSize(this.credit, 1, 5) && this.onlyNumber(this.credit);
    },

    /**
     * @description Metodo especifico para la propiedad state del input de HT
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateHTValidation() {
      if (this.textEmpty(this.hours_theory)) {
        return new Boolean(null);
      }
      return this.curseHTValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input de HT
     * @return {boolean}
     */
    curseHTValidation() {
      return (
        this.numberSize(this.hours_theory, 1, 8) &&
        this.onlyNumber(this.hours_theory)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de HS
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateHSValidation() {
      if (this.textEmpty(this.hours_seminar)) {
        return new Boolean(null);
      }
      return this.curseHSValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input del HS
     * @return {boolean}
     */
    curseHSValidation() {
      return (
        this.numberSize(this.hours_seminar, 0, 8) &&
        this.onlyNumber(this.hours_seminar)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de HTP
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateHTPValidation() {
      if (this.textEmpty(this.hours_theopractice)) {
        return new Boolean(null);
      }
      return this.curseHTPValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input de HTP
     * @return {boolean}
     */
    curseHTPValidation() {
      return (
        this.numberSize(this.hours_theopractice, 0, 8) &&
        this.onlyNumber(this.hours_theopractice)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de HP
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateHPValidation() {
      if (this.textEmpty(this.hours_practice)) {
        return new Boolean(null);
      }
      return this.curseHPValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input del HP
     * @return {boolean}
     */
    curseHPValidation() {
      return (
        this.numberSize(this.hours_practice, 0, 8) &&
        this.onlyNumber(this.hours_practice)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de HL
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    curseStateHLValidation() {
      if (this.textEmpty(this.hours_laboratory)) {
        return new Boolean(null);
      }
      return this.curseHLValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input del HL
     * @return {boolean}
     */
    curseHLValidation() {
      return (
        this.numberSize(this.hours_laboratory, 0, 8) &&
        this.onlyNumber(this.hours_laboratory)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },

  computed: {},
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getDepartamentos();
    //this.getPrerequisitos();
    this.getAreas();
  },
};
</script>

<style lang="css" scoped></style>
