<template lang="html">
  <b-container>
    <b-modal
      id="deactivate-curse-modal"
      ref="modal"
      title="Desactivar Curso"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere desactivar el curso: {{ this.Curse.name }}?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["Curse"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deactivateCurso();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-curse-modal");
      });
    },

    deactivateCurso() {
      const path = url + `process/portfolio/course/${this.Curse.id}/`;
      const datos = {
        status: false,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Curso Desactivado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        })
        .catch((error) => {
          console.log(error);
          swal("Error al desactivar curso!", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        });
    },
  },
};
</script>

<style></style>
