<template>
  <div id="portada">
    <b-navbar class="menuup" toggleable="md" type="dark" variant="dark">
      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">HSPA</b-navbar-brand>
      </b-container>
    </b-navbar>
    <div class="modal-dialog text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          <div class="col-12 py-4">
            <h2 class="my-1 title"><strong>Sistema de Acreditación</strong></h2>
            <h4 class="my-2 mt-4">Recuperar contraseña</h4>
          </div>
          <div class="col-12 form-input">
            <b-form @submit="onSubmit" @reset="onReset">
              <b-form-group>
                <b-form-input
                  type="email"
                  placeholder="Email"
                  v-model="email"
                  required
                  :state="emailValidation"
                ></b-form-input>
                <small class="msg" v-if="!onlyEmail(email)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un correo válido
                </small>
              </b-form-group>
              <b-button type="submit" variant="success" block>Enviar</b-button>
              <b-button type="reset" variant="danger" block>Reiniciar</b-button>
              <b-alert
                :show="dismissCountDown"
                dismissible
                fade
                variant="danger"
                @dismiss-count-down="countDownChanged"
                >Datos incorrectos</b-alert
              >
            </b-form>
          </div>
          <br />
          <div class="col-12 forgot pb-5">
            <router-link to="/login"
              >¿Ya tienes una cuenta? <br />
              Iniciar sesión</router-link
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";
import "axios";
import swal from "sweetalert";
export default {
  data() {
    return {
      email: "",
      validation: {
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    /**
     * @description Metodo que rerifica las validaciones para pasar al metodo de recuperar contraseña
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.emailValidation) {
        this.recovery();
      }
    },

    /**
     * @description Metodo que vuelve el campo email vacio
     */
    onReset(evt) {
      evt.preventDefault();
      this.email = "";
    },
    /**
     * @description Metodo par recuperar contraseña donde se envia un email al correo electronico ingresado
     */
    async recovery() {
      var respones;
      try {
        let credentials = new FormData();
        respones = credentials.append("email", this.email);
        await AuthService.request_reset_email(credentials);
        swal(
          "Se envió un correo a su email para recuperar la contraseña",
          "",
          "success",
          {
            button: "Aceptar",
          }
        );
      } catch (error) {
        this.showAlert();
        console.log("Error" + respones);
      }
    },
    /**
     * @description Metodo de cuenta regresiva para la duracion de la vista de la alerta
     */
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    /**
     * @description Metodo para mostrar la alerta de datos incorrectos
     */
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable validation.email
     * @return {boolean}
     */
    onlyEmail(text) {
      return this.validation.email.test(text);
    },
  },
  computed: {
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del email
     * @return {boolean}
     */
    emailValidation() {
      if (this.textEmpty(this.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.email);
    },
  },
  async created() {
    await this.$store.dispatch("logout");
  },
};
</script>
<style scoped>
body {
  font-family: "Roboto", sans-serif;
  background: url("../../assets/fondo.jpg");
  background-size: cover;
}
.main-section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
.modal-content {
  /*background-color: #61000b;
  opacity: 0.8;*/
  background-color: #fff;
  color: #333;
  padding: 0 15px;
  border-radius: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
.title {
  color: #ffe8e8;
  color: #64001d;
  font-family: "Quicksand", sans-serif;
}
.icon {
  position: relative;
  width: 29px;
  padding: 9px 10px 10px 0;
  color: red;
  fill: red;
}

.icon svg {
  fill: red;
}
.forgot {
  font-size: 90%;
}

.forgot a {
  color: #ffe8e8;
  color: #64001d;
}
.msg {
  color: #ffeb3b;
  color: #dc3545;
  font-weight: bold;
}
.menuup {
  bottom: 56px;
}

#portada {
  background: url("../../assets/fondo2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

#portada::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 0, 0, 0.4);
}

.btn-success {
  color: #fff;
  background-color: #2f3d57;
  border-color: #2f3d57;
}

.btn-success:focus,
.btn-success:active {
  color: #fff !important;
  background-color: #2f3d57 !important;
  border-color: #2f3d57 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
</style>
