<template>
  <div id="portada">
    <b-navbar class="menuup" toggleable="md" type="dark" variant="dark">
      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">HSPA</b-navbar-brand>
      </b-container>
    </b-navbar>

    <div class="modal-dialog text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          <div class="col-12 py-4">
            <h2 class="my-1 title"><strong>Sistema de Acreditación</strong></h2>
            <h4 class="my-2 mt-4">Restablecer la contraseña</h4>
          </div>
          <div class="col-12 form-input">
            <b-form @submit="onSubmit" @reset="onReset">
              <b-form-group>
                <b-form-input
                  type="password"
                  placeholder="Contraseña"
                  v-model="password"
                  required
                  :state="passwordValidation"
                ></b-form-input>
                <small class="msg" v-if="!onlyTextAndNumber(password)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un caracter válido
                  <br />
                </small>
                <small class="msg" v-if="!textSize(password, 8, 15)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Mínimo 8 y máximo 15 caracteres
                </small>
              </b-form-group>
              <b-form-group>
                <b-form-input
                  type="password"
                  placeholder="Repita Contraseña"
                  v-model="password_repeat"
                  required
                  :state="passwordRepeatValidation"
                ></b-form-input>
                <small class="msg" v-if="!onlyTextAndNumber(password_repeat)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un caracter válido
                  <br />
                </small>
                <small class="msg" v-if="!textSize(password_repeat, 8, 15)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Mínimo 8 y máximo 15 caracteres
                  <br />
                </small>
                <small class="msg" v-if="password != password_repeat">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es la misma contraseña
                </small>
              </b-form-group>
              <b-button type="submit" variant="success" block>Enviar</b-button>
              <b-alert
                :show="dismissCountDown"
                dismissible
                fade
                variant="danger"
                @dismiss-count-down="countDownChanged"
                >Datos incorrectos</b-alert
              >
            </b-form>
          </div>
          <div class="col-12 forgot pb-5">
            <br />
            <label>¿Ya tienes una cuenta?</label>
            <br />
            <router-link to="/login">Login</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";
import "axios";
import swal from "sweetalert";

export default {
  data() {
    return {
      uidb64: this.$route.params.uidb64,
      tokenReset: this.$route.params.tokenReset,
      password: "",
      password_repeat: "",

      validation: {
        onlyText: /^[a-zA-Z ]*$/,
        onlyTextAndNumber: /^[a-zA-Z0-9]*$/,
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      },

      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  /**
   * @description Al iniciar esta vista se ejecutara este metodo para ingresar un password nuevo
   */
  async created() {
    try {
      await this.$store.dispatch("logout");
      await AuthService.validationTokenChangePassword(
        this.uidb64,
        this.tokenReset
      );
    } catch (error) {
      console.log("Token ya utilizado");
      this.showAlert();
      this.$router.push("/");
    }
  },

  methods: {
    /**
     * @description Metodo que verifica las validaciones y luego loguea al sistema

     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.passwordValidation && this.passwordRepeatValidation) {
        this.signUp();
      }
    },
    /**
     * @description Metodo que setea los campos a vacios
     */
    onReset(evt) {
      evt.preventDefault();
      this.password = "";
      this.password_repeat = "";
    },
    async signUp() {
      try {
        let credentials = new FormData();
        credentials.append("password", this.password);
        credentials.append("token", this.tokenReset);
        credentials.append("uidb64", this.uidb64);
        await AuthService.changePassword(credentials);
        swal("Cambio de contraseña exitoso", "", "success", {
          button: "Aceptar",
        });
        this.$router.push("/");
      } catch (error) {
        console.log("No se pudo realizar el cambio");
        this.showAlert();
      }
    },

    /**
     * @description Metodo de cuenta regresiva para la duracion de la vista de la alerta
     */
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    /**
     * @description Metodo para mostrar la alerta de datos incorrectos
     */
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

  },
  computed: {
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del password
     * @return {boolean}
     */
    passwordValidation() {
      if (this.textEmpty(this.password)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.password, 8, 15) &&
        this.onlyTextAndNumber(this.password)
      );
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del password_repeat
     * @return {boolean}
     */
    passwordRepeatValidation() {
      if (this.textEmpty(this.password_repeat)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.password, 8, 15) &&
        this.onlyTextAndNumber(this.password) &&
        this.password == this.password_repeat
      );
    },
  },
};
</script>
<style scoped>
body {
  font-family: "Roboto", sans-serif;
  background: url("../../assets/fondo.jpg");
  background-size: cover;
}
.main-section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
.modal-content {
  /*background-color: #61000b;
  opacity: 0.8;*/
  background-color: #fff;
  color: #333;
  padding: 0 15px;
  border-radius: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
.title {
  color: #ffe8e8;
  color: #64001d;
  font-family: "Quicksand", sans-serif;
}
.icon {
  position: relative;
  width: 29px;
  padding: 9px 10px 10px 0;
  color: red;
  fill: red;
}

.icon svg {
  fill: red;
}
.forgot {
  font-size: 90%;
}

.forgot a {
  color: #ffe8e8;
  color: #64001d;
}
.msg {
  color: #ffeb3b;
  color: #dc3545;
  font-weight: bold;
}
.menuup {
  bottom: 56px;
}

#portada {
  background: url("../../assets/fondo2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

#portada::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 0, 0, 0.4);
}

.btn-success {
  color: #fff;
  background-color: #2f3d57;
  border-color: #2f3d57;
}
</style>
