<template lang="html">
<b-container>
  <b-modal
    id="add-academicAdvisory-modal"
    ref="modal"
    title="Agregar Incidencia"
    @ok="handleOk"
    ok-title="Agregar"
    cancel-title="Cancelar">
    <b-form ref="form" @submit="handleSubmit">
      <b-row>
        <b-col>
          <b-form-group label="Fecha:">
            <b-form-datepicker
              id="date"
              v-model="form.selectDate"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="academicAdvisoryStateDateValidation()"
              @context="contextDate"></b-form-datepicker>
          </b-form-group>
          <small class="msg" v-if="textEmpty(form.selectDate)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
          </small>
        </b-col>

        <b-col>
          <b-form-group label="Hora:">
            <b-form-timepicker
              id="time"
              v-model="form.selectTime"
              now-button
              reset-button
              locale="en"
              placeholder="Escoge una hora"
              required
              :state="academicAdvisoryStateTimeValidation()"
              @context="contextTime"></b-form-timepicker>
          </b-form-group>
          <small class="msg" v-if="textEmpty(form.selectTime)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una hora
          </small>
        </b-col>
      </b-row>
      <br />
      <b-form-group label="Número de alumnos:">
        <b-form-input
          type="number"
          id="quantity"
          v-model="form.quantity"
          required
          :state="academicAdvisoryStateQuantityValidation()"></b-form-input>
        <small class="msg" v-if="!onlyNumber(form.quantity)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!numberSize(form.quantity, 1, 40)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; Mínimo 1 y máximo 40 alumnos
        </small>
      </b-form-group>
      <b-form-group label="Nombre de alumno(referencia):">
        <b-form-select v-model="student" id="student" required>
          <b-form-select-option :value="null" disabled>
            Seleccione un alumno
          </b-form-select-option>
          <b-form-select-option
            v-for="(student, indexOpt) in listStudent"
            :key="indexOpt"
            :value="student">
            {{ student.full_name }}
          </b-form-select-option>
        </b-form-select>
        <small class="msg" v-if="!student">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; Seleccione un alumno
        </small>
      </b-form-group>
      <b-form-group label="Incidencia:">
        <b-form-input
          type="text"
          id="incidence"
          v-model="form.incidence"
          :formatter="forceLowerCase"
          :state="academicAdvisoryStateIncidenceValidation()"
          required></b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber(form.incidence)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.incidence, 5, 100)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; Mínimo 5 y máximo 100 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Accion y/o solución de propuesta:">
        <b-form-input
          type="text"
          id="solution"
          v-model="form.solution"
          required
          :formatter="forceLowerCase"
          :state="academicAdvisoryStateSolutionValidation()"></b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber(form.solution)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.solution, 5, 100)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>
          &nbsp; Mínimo 5 y máximo 100 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Evidencia:">
        <b-form-file
          id="evidence"
          v-model="form.evidence"
          accept=".pdf"
          placeholder="Seleccione un archivo or  arrastrelo aquí..."
          drop-placeholder="Arrastrelo aquí...">
        </b-form-file>
        <small>No es obligatorio</small><br />
      </b-form-group>
    </b-form>
  </b-modal>
</b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      listStudent: [],
      student: "",

      form: {
        incidence: "",
        solution: "",
        quantity: "",
        date: "",
        selectDate: "",
        selectTime: "",
        evidence: null,
        status: true,
      },
      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones de fecha, incidencia, solucion y numero de alumnos
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.academicAdvisoryDateValidation() &&
        this.academicAdvisoryTimeValidation() &&
        this.academicAdvisoryIncidenceValidation() &&
        this.academicAdvisorySolutionValidation() &&
        this.academicAdvisoryQuantityValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.setDatesAndTimes();

      if (this.form.evidence == null) {
        this.createAcademicAdvisoryWithoutPDF();
      } else {
        this.createAcademicAdvisoryWithPDF();
      }
      this.$nextTick(() => {
        this.$bvModal.hide("add-academicAdvisory-modal");
      });
    },

    /**
     * @description Obtiene informacion de los estudiante de un curso en especifico
     */
    getUsers() {
      const path =
        url + `process/portfolio/student/?id_course_active=${this.courseId}`;
      axios
        .get(path)
        .then((response) => {
          this.listStudent = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Crea una incidencia con una evidencia(documento pdf)
     */
    createAcademicAdvisoryWithPDF() {
      const path = url + `process/portfolio/incidence/`;
      let formData = new FormData();
      formData.append("incidence", this.form.incidence);
      formData.append("solution", this.form.solution);
      formData.append("quantity", this.form.quantity);
      formData.append("date", this.form.date.toISOString());
      formData.append("id_student", this.student.id);
      formData.append("evidence", this.form.evidence);

      axios
        .post(path, formData)
        .then(() => {
          swal("Incidencia Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Incidencia no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @description Crea una incidencia sin tener una evidencia(documento pdf)
     */
    createAcademicAdvisoryWithoutPDF() {
      const path = url + `process/portfolio/incidence/`;
      let formData = new FormData();
      formData.append("incidence", this.form.incidence);
      formData.append("solution", this.form.solution);
      formData.append("quantity", this.form.quantity);
      formData.append("date", this.form.date.toISOString());
      formData.append("id_student", this.student.id);
      formData.append("evidence", "");
      axios
        .post(path, formData)
        .then(() => {
          swal("Incidencia Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Incidencia no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @description Guarda los datos obtenidos del input time en la variable form.date
     */
    setDatesAndTimes() {
      this.form.date = this.context.content.date.selectedDate;
      this.form.date.setHours(this.context.content.time.hours);
      this.form.date.setMinutes(this.context.content.time.minutes);
      this.form.date.setSeconds(this.context.content.time.hours);
    },

    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },

    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    academicAdvisoryStateDateValidation() {
      if (this.textEmpty(this.form.selectDate)) {
        return new Boolean(null);
      }
      return this.academicAdvisoryDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input fecha
     * @return {boolean}
     */
    academicAdvisoryDateValidation() {
      return !this.textEmpty(this.form.selectDate);
    },

    /**
     * @description Metodo especifico para la propiedad state del input hora
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    academicAdvisoryStateTimeValidation() {
      if (this.textEmpty(this.form.selectTime)) {
        return new Boolean(null);
      }
      return this.academicAdvisoryTimeValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input hora
     * @return {boolean}
     */
    academicAdvisoryTimeValidation() {
      return !this.textEmpty(this.form.selectTime);
    },

    /**
     * @description Metodo especifico para la propiedad state del input incidencia
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    academicAdvisoryStateIncidenceValidation() {
      if (this.textEmpty(this.form.incidence)) {
        return new Boolean(null);
      }
      return this.academicAdvisoryIncidenceValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input incidencia
     * @return {boolean}
     */
    academicAdvisoryIncidenceValidation() {
      return (
        this.textSize(this.form.incidence, 5, 100) &&
        this.onlyTextAndNumber(this.form.incidence)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input solucion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    academicAdvisoryStateSolutionValidation() {
      if (this.textEmpty(this.form.solution)) {
        return new Boolean(null);
      }
      return this.academicAdvisorySolutionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input solucion
     * @return {boolean}
     */
    academicAdvisorySolutionValidation() {
      return (
        this.textSize(this.form.solution, 5, 100) &&
        this.onlyTextAndNumber(this.form.solution)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de numero de alumnos
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    academicAdvisoryStateQuantityValidation() {
      if (this.textEmpty(this.form.quantity)) {
        return new Boolean(null);
      }
      return this.academicAdvisoryQuantityValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de numeros de alumnos
     * @return {boolean}
     */
    academicAdvisoryQuantityValidation() {
      return (
        this.numberSize(this.form.quantity, 1, 40) &&
        this.onlyNumber(this.form.quantity)
      );
    },
  },

  created() {
    this.getUsers();
  },
};
</script>

<style lang="css" scoped></style>
