<template lang="html">
  <b-container>
    <b-modal
      id="create-excel-student-modal"
      ref="modal"
      title="Agregar estudiante"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      size="lg"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <upload-excel-component
        :on-success="handleSuccess"
        :before-upload="beforeUpload"
      />
      <br />
      <b-card bg-variant="danger" text-variant="white" v-if="validationAlert">
        <th>
          1. CUI: Solo se aceptan numeros de 8 digitos<br />
          2. Nombre: Solo se aceptan caracteres basicos de hasta 100 de
          longitud.
        </th>
      </b-card>
      <br />
      <b-table
        striped
        hover
        show-empty
        small
        :items="alumnos2"
        :fields="fields"
        empty-text="No hay alumnos para mostrar"
        empty-filtered-text="No hay alumnos para mostrar que coincidan con su solicitud"
      >
      </b-table>
    </b-modal>
  </b-container>
</template>

<script>
import UploadExcelComponent from "@/components/Student/upload-excel";

import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  name: "UploadExcel",
  components: { UploadExcelComponent },
  props: ["CourseID"],
  data() {
    return {
      form: {
        id_course: "",
        name: "",
        cui: "",
      },
      alumnos1: [],
      alumnos2: [],
      fields: [
        {
          key: "cui",
          label: "CUI",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "full_name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "_rowVariant",
          label: "Estado",
          formatter: (value) => {
            return value == "danger" ? "Datos incorrectos" : "Datos correctos";
          },
        },
      ],
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      validationAlert: false,
      errors: {
        name: "",
      },
    };
  },
  methods: {
    /**
     * @param {File} file Archivo excel que se sube
     * @description Metodo que actualiza el archivo
     * @return {boolean}
     */
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1;
      if (isLt1M) {
        return true;
      }
      this.$message({
        message: "Please do not upload files larger than 1m in size.",
        type: "warning",
      });
      return false;
    },

    /**
     * @param {Array} results Arreglo del contido del excel
     * @param {Array} header Arreglo con las cabeceras del excel
     * @description Metodo que obtiene el contenido y cabecera del excel y almacena
     * el contenido en las variables alumno1 y alumno2
     * @return {boolean}
     */
    handleSuccess({ results, header }) {
      this.tableData = results;
      this.tableHeader = header;

      for (var i = 7; i < this.tableData.length - 1; i++) {
        this.alumnos1.push({
          cui: this.tableData[i].__EMPTY.toString(),
          full_name: this.setupNameStudentFromExcel(
            this.tableData[i].__EMPTY_1
          ),
        });
      }
      for (var j = 0; j < this.alumnos1.length; j++) {
        this.alumnos2.push({
          cui: this.alumnos1[j].cui,
          full_name: this.alumnos1[j].full_name,
          _rowVariant: this.validationStudent(
            this.alumnos1[j].cui,
            this.alumnos1[j].full_name
          ),
        });
      }
    },

    /**
     * @param {String} name Nombre ingresado
     * @description Le da un formato al texto con caracteres simples
     * @return {String}
     */
    setupNameStudentFromExcel(name) {
      var final_name = name;
      final_name = final_name.toLowerCase();
      final_name = final_name.replace("/", " ");
      final_name = final_name.replace(",", "");
      final_name = final_name.replace("ã‘", "ñ");

      return final_name;
    },

    /**
     * @param {String} name Nombre ingresado
     * @param {number} cui Numero ingresado
     * @description verifica que se cumplan las validaciones del nombre y cui del estudiante
     * @return {String}
     */
    validationStudent(cui, name) {
      if (this.studentNameValidation(name) && this.studentCuiValidation(cui)) {
        return "success";
      } else {
        this.validationAlert = true;
        return "danger";
      }
    },

    /**
     * @param {boolean} status Estado ingresado
     * @description Devuelve un mensaje dependiendo del estado de los datos ingresados del excel
     * @return {String}
     */
    formatTableStatus(status) {
      return status == "danger" ? "Datos incorrectos" : "Datos correctos";
    },

    /**
     * @description Reinicia los valores del modal agregar estudiantes a traves de un excel
     */
    resetModal() {
      this.alumnos1 = [];
      this.alumnos2 = [];
      this.validationAlert = false;
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk() {
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear estudiantes y minimizar el modal
     */
    handleSubmit() {
      if (!this.validationAlert) {
        this.addExcelStudents();
        this.$nextTick(() => {
          this.$bvModal.hide("create-excel-student-modal");
        });
      } else {
        swal("Los estudiantes no se cargaron", "", "error", {
          button: "Aceptar",
        });
      }
    },

    /**
     * @description Crea los estudiantes con sus datos correspondientes
     */
    addExcelStudents() {
      const datos = {
        students: this.alumnos2,
      };
      const path =
        url + `process/portfolio/course_active_students/${this.CourseID}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Estudiantes cargados exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Los estudiantes no se cargaron", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Numero ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentNameValidation(name) {
      return this.textSize(name, 1, 100) && this.onlyText(name);
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentCuiValidation(cui) {
      return this.textSize(cui, 8, 8) && this.onlyNumber(cui);
    },
  },
  beforeUpdate() {
    this.form.id_course = this.CourseID;
  },
};
</script>

<style lang="css" scoped></style>
