<template>
  <b-container>
    <!--<upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload" />
    <br>
    -->
    <!--<ul id="example-1">
      <li v-for="item in alumnos" :key="item">
        {{ item }}
      </li>
    </ul>-->

    <b-row class="my-3" v-if="createPermission()">
      <div class="col-12">
        <div class="float-left mr-3">
          <b-button
            v-b-modal.create-excel-student-modal
            variant="outline-primary"
          >
            <b-icon icon="plus"></b-icon>Importar excel</b-button
          >
          <AddExcelStudent :CourseID="courseId"></AddExcelStudent>
        </div>
        <div class="float-left">
          <b-button
            v-b-modal.create-one-student-modal
            variant="outline-primary"
          >
            <b-icon icon="plus"></b-icon>Agregar estudiante</b-button
          >
          <AddOneStudent :CourseID="courseId"></AddOneStudent>
        </div>
      </div>
    </b-row>

    <b-row>
      <b-col class="my-1 text-right">
        <b-col lg="6" class="my-1 d-inline-block">
          <b-form-group
            label="Ordenar por"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="sortBySelect"
            class="forder ms-0"
          >
            <b-input-group size="sm">
              <b-form-select
                v-model="sortBy"
                id="sortBySelect"
                :options="sortOptions"
                class="w-75"
              >
                <template v-slot:first>
                  <option value="">-- Ninguno --</option>
                </template>
              </b-form-select>
              <b-form-select
                v-model="sortDesc"
                size="sm"
                :disabled="!sortBy"
                class="w-25"
              >
                <option :value="false">Asc</option>
                <option :value="true">Desc</option>
              </b-form-select>
            </b-input-group>
          </b-form-group>
        </b-col>

        <div class="my-1 d-inline-block">
          <b-button v-b-toggle.collapse-2 class="bsearch">
            <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
          </b-button>
        </div>
      </b-col>
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar por:"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="Deje todo sin marcar para filtrar todos los datos"
            class="mb-0"
          >
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="cui">CUI</b-form-checkbox>
              <b-form-checkbox value="full_name">Nombre</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
    <br />
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="alumnos"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      empty-text="No hay alumnos para mostrar"
      empty-filtered-text="No hay alumnos para mostrar que coincidan con su solicitud"
      class="ltable"
    >
      <template v-slot:cell(actions)="student">
        <b-container>
          <b-button
            size="sm"
            variant="secondary"
            @click="infoEdit(student.item, $event.target)"
            v-if="editPermission()"
          >
            <b-icon icon="pencil-square"></b-icon>&nbsp;Editar
          </b-button>
          &nbsp;
          <b-button
            size="sm"
            variant="danger"
            @click="infoDelete(student.item, $event.target)"
            v-if="deletePermission()"
          >
            <b-icon icon="x"></b-icon>Eliminar
          </b-button>
        </b-container>
      </template>
    </b-table>

    <b-row>
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <!--editar-->
    <b-modal
      :id="editModal.id"
      :title="editModal.title"
      @ok="handleEditOk"
      @hide="resetEditModal"
      ok-title="Editar"
      cancel-title="Cancelar"
    >
      <b-form>
        <b-form-group
          label="CUI:"
          label-for="cui-student"
          :state="studentStateCuiValidation()"
        >
          <b-form-input
            type="text"
            id="cui-student"
            v-model="editModal.cui"
            :state="studentStateCuiValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyNumber(editModal.cui)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(editModal.cui, 8, 8)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Debe contener 8 caracteres
          </small>
        </b-form-group>
        <b-form-group label="Apellidos y Nombres:" label-for="name">
          <b-form-input
            id="name"
            v-model="editModal.full_name"
            :state="studentStateNameValidation()"
            :formatter="forceLowerCase"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyText(editModal.full_name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(editModal.full_name, 1, 100)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Máximo 100 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>

    <b-modal
      :id="deleteModal.id"
      :title="deleteModal.title"
      @ok="handleDeleteOk"
      @hide="resetDeleteModal"
      ok-title="Eliminar"
      cancel-title="Cancelar"
    >
      ¿Esta seguro que desea eliminar el estudiante {{ deleteModal.full_name }}?
    </b-modal>

  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

//import UploadExcelComponent from '@/components/Student/upload-excel'
import AddOneStudent from "@/components/Student/AddOneStudent";
import AddExcelStudent from "@/components/Student/AddExcelStudent";
export default {
  name: "UploadExcel",
  components: {
    //UploadExcelComponent,
    AddOneStudent,
    AddExcelStudent,
  },
  data() {
    return {
      courseId: this.$route.params.courseId,
      alumnos: [],
      alumnos2: [],
      tableData: [],
      tableHeader: [],

      fields: [
        {
          key: "cui",
          label: "CUI",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "full_name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        { key: "actions", label: "Acción", class: "text-center" },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 50,
      pageOptions: [10, 25, 50],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["full_name"],

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },

      editModal: {
        id: "edit-modal",
        title: "",
        student_id: "",
        curse_id: "",
        cui: "",
        full_name: "",
      },
      deleteModal: {
        id: "delete-modal",
        title: "",
        student_id: "",
        full_name: "",
      },
    };
  },
  methods: {
    getStudents() {
      const path =
        url + `process/portfolio/student/?id_course_active=${this.courseId}`;
      axios
        .get(path)
        .then((response) => {
          this.alumnos = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @param {Object} item Objeto de alumno
     * @param {event} button Evento del boton presionado
     * @description Asigna los valores del parametro del metodo a la variable editModal para luegar generar el modal de editar
     * @return {boolean}
     */
    infoEdit(item, button) {
      this.editModal.title = `Editar estudiante`;
      this.editModal.student_id = item.id;
      this.editModal.curse_id = item.id_course_active;
      this.editModal.full_name = item.full_name;
      this.editModal.cui = item.cui.toString();

      this.$root.$emit("bv::show::modal", this.editModal.id, button);
    },

    /**
     * @description Reinicia los valores del modal de editar informacion del estudiante
     */
    resetEditModal() {
      this.editModal.title = "";
      this.editModal.student_id = "";
      this.editModal.curse_id = "";
      this.editModal.full_name = "";
      this.editModal.cui = "";
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal de editar
     * Verifica si se cumplio las validaciones para editar la informacion del estudiante
     */
    handleEditOk() {
      if (this.editStudentValidation()) {
        this.editStudent();
        console.log("DONE ");
      } else {
        swal("Datos incorrectos", "", "error", {
          button: "Aceptar",
        });
      }
    },

    editStudent() {
      const datos = {
        id_course_active: this.editModal.curse_id,
        full_name: this.editModal.full_name,
        cui: parseInt(this.editModal.cui),
      };
      const path =
        url + `process/portfolio/student/${this.editModal.student_id}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Estudiante actualizado exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("No se logro actualizar el estudiante", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {Object} item Objeto de alumno
     * @param {event} button Evento del boton presionado
     * @description Asigna los valores del parametro del metodo a la variable deleteModal para luegar generar el modal de eliminar
     * @return {boolean}
     */
    infoDelete(item, button) {
      this.deleteModal.title = `Eliminar estudiante`;
      this.deleteModal.student_id = item.id;
      this.deleteModal.full_name = item.full_name;

      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },

    /**
     * @description Reinicia los valores del modal de reiniciar informacion del estudiante
     */
    resetDeleteModal() {
      this.deleteModal.title = "";
      this.deleteModal.student_id = "";
      this.deleteModal.full_name = "";
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal de eliminar
     * la informacion del estudiante
     */
    handleDeleteOk() {
      this.deleteStudent();
    },

    deleteStudent() {
      const path =
        url + `process/portfolio/student/${this.deleteModal.student_id}`;
      axios.delete(path);
      swal("Estudiante eliminado", "", "success", {
        button: "Aceptar",
      }).then(() => {
        location.reload();
      });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Numero ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones de nombre y cui
     */
    editStudentValidation() {
      return this.studentNameValidation() && this.studentCuiValidation();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentStateNameValidation() {
      if (this.textEmpty(this.editModal.full_name)) {
        return new Boolean(null);
      }
      return this.studentNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentNameValidation() {
      return (
        this.textSize(this.editModal.full_name, 1, 100) &&
        this.onlyText(this.editModal.full_name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentStateCuiValidation() {
      if (this.textEmpty(this.editModal.cui)) {
        return new Boolean(null);
      }
      return this.studentCuiValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentCuiValidation() {
      return (
        this.textSize(this.editModal.cui, 8, 8) &&
        this.onlyNumber(this.editModal.cui)
      );
    },

    /**
      * @description Metodo para filtrar las tablas
    */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false;
    },
  },
  computed: {
    /**
      * @description Metodo que reordena la tabla
    */
    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  beforeUpdate() {
    this.totalRows = this.alumnos.length;
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getStudents();
  },
};
</script>

<style>
.radio-label {
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 30px;
}
</style>
