<template>
  <b-container class="py-3">
    <div v-if="successAlert" class="alert alert-success alert-dismissible">
      <a href="#" class="close" aria-label="close" @click="successAlert = false"
        >&times;</a
      >
      Archivo guardado
    </div>

    <div v-if="errorAlert" class="alert alert-danger alert-dismissible">
      <a href="#" class="close" aria-label="close" @click="errorAlert = false"
        >&times;</a
      >
      Archivo no guardado
    </div>

    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p><strong>Curso:</strong> {{ curso.name }}</p>
      </b-col>
    </b-row>

    <b-row class="mb-4 text-left border p-3" v-if="editPermission()">
      <b-col cols="9">
        <b-form-file
          id="pdf-upload-input"
          v-model="fileSelectedExam"
          accept=".pdf"
          :state="Boolean(fileSelectedExam)"
          @change="onFileSelected"
          placeholder="Seleccione un archivo or  arrastrelo aquí..."
          drop-placeholder="Arrastrelo aquí..."
        >
        </b-form-file>
        <div class="mt-3">
          Archivo Seleccionado:
          {{ fileSelectedExam ? fileSelectedExam.name : "" }}
        </div>
      </b-col>
      <b-col cols="2">
        <b-button variant="secondary" @click="upload">Guardar</b-button>
      </b-col>
    </b-row>
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <div class="mt-3">
          Archivo Cargado:<br />
          <a
            v-if="`${isDocumentUpload ? isDocumentUpload : ''}`"
            :href="`${isDocumentUpload}`"
            target="_blank"
            >EXAMEN DE ENTRADA 2020{{ letraSemestre }}
            {{ curso.name }}_ENUNCIADO.pdf</a
          >
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      idCourseActive: this.$route.params.courseId,
      cursoActive: null,
      curso: { name: "" },
      letraSemestre: "",
      fileSelectedExam: null,
      successAlert: false,
      errorAlert: false,
      isDocumentUpload: null,
    };
  },
  methods: {
    /**
     * @description Cuando el documento sea seleccionado se utilizará el evento para obtener el archivo
     */
    onFileSelected(event) {
      let aux = event.target.files[0];

      // Validar el tamaño del archivo menor a 5mb
      if (aux.size > 5000000) {
        swal("Ingrese un archivo menor a 5mb", "", "warning", {
          button: "Aceptar",
        });
        document.getElementById("pdf-upload-input").value = "";
        return;
      }

      if (
        aux.name !=
        `EXAMEN DE ENTRADA 2020${this.letraSemestre} ${this.curso.name}_ENUNCIADO.pdf`
      ) {
        swal(
          "El archivo debe llamarse: ",
          `EXAMEN DE ENTRADA 2020${this.letraSemestre} ${this.curso.name}_ENUNCIADO`,
          "warning",
          {
            button: "Aceptar",
          }
        );
        document.getElementById("pdf-upload-input").value = "";
        return;
      }

      this.fileSelectedExam = aux;
    },

    /**
     * @description Los archivos se deben mandar mediante un FormData y mandar los atributos en dicho form como id_course_active
     */
    upload() {
      const path =
        url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;

      let formData = new FormData();
      formData.append("id_course_active", this.idCourseActive);
      formData.append("doc_exam", this.fileSelectedExam);

      if (this.fileSelectedExam == null) {
        swal("Debe seleccionar un archivo", "", "warning", {
          button: "Aceptar",
        });
      } else {
        axios.get(path).then(() => {
          this.updateExamen(formData);
        });
      }
    },

    /**
     * @description Utilizar y consumir el método update para que sea almacenado en la bd actualizando el archivo
     * @param {FormData} form El archivo que se actualizará
     */
    updateExamen(form) {
      const path =
        url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;

      axios
        .put(path, form, {
          header: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          (this.successAlert = true),
            swal("El archivo se ha guardado correctamente", "", "success", {
              button: "Aceptar",
            });
          this.getExam();
        })
        .catch(() => {
          this.errorAlert = true;
          swal("El archivo no se ha guardado", "", "error", {
            button: "Aceptar",
          });
          this.showAlert();
        });
    },

    /**
     * @description Obtener el archivo del examen desde la bd con el método get
     * @return {String} doc_exam, el archivo del examen de entrada
     */
    getExam() {
      const path =
        url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;

      axios.get(path).then((response) => {
        this.isDocumentUpload = response.data.doc_exam;
      });
    },

    /**
     * @description Se obtiene el curso activo con el método get
     * @return {Object} cursoActive, el curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}`;
      axios.get(path).then((response) => {
        this.cursoActive = response.data;
        this.getCourse();
      });
    },

    /**
     * @description Se obtiene el curso general con el método get
     * @return {Object} curso, el curso general
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.cursoActive.id_course}`;
      axios.get(path).then((response) => {
        this.curso = response.data;

        // A o B de semestre
        if (this.curso.semester % 2 == 0) {
          this.letraSemestre = "A";
        } else {
          this.letraSemestre = "B";
        }
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    this.getExam();
  },
};
</script>

<style lang="css" scoped></style>
