<template lang="html">
  <b-container>
    <b-modal
      size="lg"
      id="create-subarea-modal"
      ref="modal"
      title="Crear Conocimiento"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" class='mt-3'>

        <b-row class='mb-4'>
          <b-col cols="3">
            <p>Conocimiento</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
            type="text"
            id="name-phase"
            v-model="items.conocimiento"
            required
          ></b-form-input>
          </b-col>
        </b-row>



      </b-form>
    </b-modal>
  </b-container>
</template>

<script>

export default {
  props: ["ProcessID"],
  data() {
    return {
      items: {
        title: 'title-modal',
        id: 'edit-modal',
        conocimiento: '',
       
      },  
 
       
    };
  },
  methods: {
    resetModal() {
      this.items.name = "";
      this.items.description = "";
    },
    handleOk() {
      //evt.preventDefault();
      this.handleSubmit();
    },
  }
};
</script>

<style lang="css" scoped></style>
