<template lang="html">
  <b-container>
    <b-modal
      id="activate-process-modal"
      ref="modal"
      title="Activar Proceso"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere activar el proceso:
      {{ this.ProcessInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["ProcessInfo"],
  data() {
    return {
      form: {
        id: "",
        name: "",
        description: "",
        started: "",
        closed: "",
        status: "",
        id_owner: "",
        id_user: "",
      },
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.activateProcess();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-process-modal");
      });
    },
    /**
     * @description Elimina un proceso de manera fisica
     */
    activateProcess() {
      const path = url + `process/process/${this.ProcessInfo.id}/`;
      const datos = {
        status: true,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Proceso Activado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/process/list");
            location.reload();
          });
        })
        .catch(() => {
          swal("Error al Desactivar Proceso", "", "error", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        });
    },
    getProcess() {
      const path = url + `process/process/${this.ProcessInfo.id}/`;
      axios.get(path).then((response) => {
        this.form.id = response.data.id;
        this.form.name = response.data.name;
        this.form.description = response.data.description;
        this.form.closed = response.data.closed;
        this.form.status = response.data.status;
        this.form.id_owner = response.data.id_owner;
        this.form.id_user = response.data.id_user;
      });
    },
  },
};
</script>

<style></style>
