<template lang="html">
  <div class="container">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button
          class="mr-4"
          :to="{
            name: 'DetailProcess',
            params: { processId: this.$route.params.processId },
          }"
        >
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <br />
      <div class="col-12">
        <h3 class="text-center my-0">Editar proceso</h3>
      </div>
    </b-row>
    <b-card class="mb-3">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row class="text-left mb-1">
          <b-col sm="3">Nombre:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-input
                id="input-1"
                type="text"
                v-model="form.name"
                :formatter="forceLowerCase"
                required
                :state="processStateNameValidation()"
              ></b-form-input>
              <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.name, 2, 30)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Mínimo 2 y máximo 30 caracteres
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1">
          <b-col sm="3">Descripción:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-textarea
                id="input-2"
                type="text"
                name="description"
                v-model.trim="form.description"
                :formatter="forceLowerCase"
                :state="processStateDescriptionValidation()"
                >{{ process.description }}</b-form-textarea
              >
              <small>No es obligatorio</small><br />
              <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.description, 8, 100)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Mínimo 8 y máximo 100 caracteres
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1">
          <b-col sm="3">Responsable:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-select v-model="responsible" required id="input-3">
                <b-form-select-option :value="null" disabled>
                  Seleccione un rol
                </b-form-select-option>
                <b-form-select-option
                  v-for="(responsible, indexOpt) in users"
                  :key="indexOpt"
                  :value="responsible"
                >
                  {{ responsible.email }}
                </b-form-select-option>
              </b-form-select>
              <b-card>
                <b-row>
                  <b-col class="text-center">
                    <b-icon icon="person-lines-fill" font-scale="5"></b-icon>
                  </b-col>
                  <b-col md="2">
                    <b-row>
                      Nombres:
                    </b-row>
                    <b-row>
                      Correo:
                    </b-row>
                    <b-row>
                      Rol:
                    </b-row>
                  </b-col>
                  <b-col>
                    <b-row>
                      {{ responsible.first_name }} {{ responsible.last_name }}
                    </b-row>
                    <b-row>
                      {{ responsible.email }}
                    </b-row>
                    <b-row>
                      {{ getNameOfRole(responsible.id_role) }}
                    </b-row>
                  </b-col>
                </b-row>
              </b-card>

              <small class="msg" v-if="!responsible">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Seleccione un responsable
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1">
          <b-col sm="3">Fecha de inicio:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-datepicker
                id="input-4"
                v-model="form.startDate"
                placeholder="Escoge una fecha"
                local="en"
                required
                :state="processStateStartDateValidation()"
                @context="contextStartDate"
              ></b-form-datepicker>
            </b-form-group>
            <small class="msg" v-if="textEmpty(form.startDate)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Debe escoger una fecha </small
            ><br />
          </b-col>
          <b-col sm="3">Hora de inicio:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-timepicker
                id="input-5"
                v-model="form.startTime"
                now-button
                reset-button
                locale="en"
                placeholder="Escoge una hora"
                required
                :state="processStateStartTimeValidation()"
                @context="contextStartTime"
              ></b-form-timepicker>
            </b-form-group>
            <small class="msg" v-if="textEmpty(form.startTime)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Debe escoger una hora
            </small>
          </b-col>
        </b-row>
        <b-row class="py-4">
          <div class="col-12">
            <div class="text-right float-right ml-3">
              <b-button type="submit" variant="secondary" class="float-left">
                <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
              </b-button>
            </div>
            <div class="text-right float-right ml-3">
              <b-button type="reset" variant="danger" class="float-right">
                <b-icon icon="x"></b-icon>
                Limpiar
              </b-button>
            </div>
          </div>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      processId: this.$route.params.processId,
      process: [],
      selected: "",
      options: [],
      users: [],
      responsible: "null",
      owner: "",
      roles: "",
      form: {
        name: "",
        description: "",
        percentage: 0,
        started: "",
        startDate: "",
        startTime: "",
        finished: "",
        id_user: "",
        id_owner: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },

      errorsList: [],

      context: {
        start: {
          date: "",
          time: "",
        },
      },
      state: [
        { value: true, text: "Activo" },
        { value: false, text: "Inactivo" },
      ],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el proceso
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editProcessValidation()) {
        this.setProcessInputs();
        this.editProcess();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    editProcess() {
      const path = url + `process/process/${this.processId}/`;

      axios
        .put(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.form.id_user = response.data.id_user;
          this.form.id_owner = response.data.id_owner;
          swal("Proceso Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/process/" + this.processId + "/detail");
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.name.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Ya existe proceso con este nombre.",
              "Ya existe un proceso con ese nombre."
            )
          );

          swal("No se editó el proceso", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },
    getUsers() {
      const path = url + `user/user/`;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUserResponsible() {
      const path = url + `user/user/${this.form.id_user}`;
      axios.get(path).then((response) => {
        this.responsible = response.data;
      });
    },
    getProcess() {
      const path = url + `process/process/${this.processId}/`;
      axios
        .get(path)
        .then((response) => {
          (this.form.name = response.data.name),
            (this.form.description = response.data.description),
            (this.form.percentage = response.data.percentage),
            (this.form.started = response.data.started),
            (this.form.finished = response.data.finished),
            (this.form.id_user = response.data.id_user);
          this.form.id_owner = response.data.id_owner;

          this.updateDatesAndTimes();
          this.getUserResponsible();
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @description Guarda los datos obtenidos del input time en la variable form.started
     * ademas establece un objeto date a la variable form.finished
     */
    setDatesAndTimes() {
      this.form.started = this.context.start.date.selectedDate;
      this.form.started.setHours(this.context.start.time.hours);
      this.form.started.setMinutes(this.context.start.time.minutes);
      this.form.started.setSeconds(this.context.start.time.hours);
      this.form.finished = new Date(0, 0, 0, 0, 0, 0, 0);
    },

    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextStartDate(ctx) {
      this.context.start.date = ctx;
    },

    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextStartTime(ctx) {
      this.context.start.time = ctx;
    },

    /**
     * @description Actualiza las variables form.startDate y orm.startTime como
     * objetos de tipo Date
     */
    updateDatesAndTimes() {
      this.form.startDate = new Date(this.form.started);
      this.form.startTime = new Date(this.form.started)
        .toTimeString()
        .split(" ")[0];
    },
    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          return this.roles[i].name;
        }
      }
      return;
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, descripcion, fecha y hora
     */
    editProcessValidation() {
      return (
        this.processNameValidation() &&
        this.processStateDescriptionValidation() &&
        this.processStartDateValidation() &&
        this.processStartTimeValidation()
      );
    },

    /**
     * @description Metodo que establece las fechas y horas y guarda los IDs del usuario responsable
     */
    setProcessInputs() {
      this.setDatesAndTimes();
      this.form.id_user = this.responsible.id;
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
      this.form.startDate = "";
      this.form.startTime = "";
      this.responsible = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.processNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    processNameValidation() {
      return (
        this.textSize(this.form.name, 2, 30) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.processDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    processDescriptionValidation() {
      return (
        this.textSize(this.form.description, 8, 100) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la fecha de inicio
     * Verifica si la fecha esta vacio
     * @return {boolean}
     */
    processStateStartDateValidation() {
      if (this.textEmpty(this.form.startDate)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fecha de inicio
     * @return {boolean}
     */
    processStartDateValidation() {
      return !this.textEmpty(this.form.startDate);
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la hora de inicio
     * Verifica si la hora esta vacio
     * @return {boolean}
     */
    processStateStartTimeValidation() {
      if (this.textEmpty(this.form.startTime)) {
        return new Boolean(null);
      }
      return this.processStartTimeValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de hora de inicio
     * @return {boolean}
     */
    processStartTimeValidation() {
      return !this.textEmpty(this.form.startTime);
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      //if( PermissionService.findPermission(Permission.View, Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  async created() {
    this.viewPermission();
    this.getProcess();
    this.getUsers();
    this.getRoles();
  },
};
</script>
