<template lang="html">
  <div class="text-left">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Procesos</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>

        <b-form-group
          label="Ordenar por"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="forder ms-0"
        >
          <b-input-group size="sm">
            <b-form-select
              v-model="sortBy"
              id="sortBySelect"
              :options="sortOptions"
              class="w-75"
            >
              <template v-slot:first> 
                <option value="">-- Ninguno --</option>
              </template>
            </b-form-select>
            <b-form-select
              v-model="sortDesc"
              size="sm"
              :disabled="!sortBy"
              class="w-25"
            >
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar por:"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="Deje todo sin marcar para filtrar todos los datos"
            class="mb-0"
          >
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="name">Nombre</b-form-checkbox>
              <b-form-checkbox value="status">Activo</b-form-checkbox>
              <b-form-checkbox value="id_user">Responsable</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
    <br />

    <b-table
      striped
      hover
      show-empty
      small
      stacked="md"
      :items="process"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      empty-text="No hay procesos para mostrar"
      empty-filtered-text="No hay procesos para mostrar que coincidan con su solicitud"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark"
            :to="{
              name: 'DetailProcess',
              params: { processId: data.item.id },
            }"
            >Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-row>
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { PermissionService } from "@/services";
export default {
  data() {
    return {
      process: [],
      user: [],
      responsable: [],
      fields: [
        {
          key: "name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "started",
          label: "Fecha de inicio",
          formatter: (value) => {
            return new Date(value).toLocaleDateString();
          },
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "id_user",
          label: "Responsable",
          class: "text-center",
          sortable: true,
          formatter: (value) => {
            return this.getUserName(value);
          },
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        { key: "actions", label: "Acción", class: "text-center" },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name"],

      users: [],
      userActive: [],
    };
  },
  computed: {
    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  beforeUpdate() {
    this.totalRows = this.process.length;
  },
  methods: {
    /**
     * @description Obtiene todos los procesos registrados en la BD
     * @return {process}
     */
    getProcess() {
      const path = url + `process/process/`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Filtra los procesos mediante el id del usuario logueado para saber si es creador
     * @return {process}
     */
    getProcessOwner() {
      const path =
        url + `process/process/?id_owner=${this.$store.getters.getId}`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
          if (this.process == "") {
            this.getProcessResponsable();
          }
        })
        .catch(() => {
          this.$router.push({
            name: "DetailProcess",
            params: {
              userNormal: true,
              processId: this.userActive.role.id_process,
            },
          });
        });
    },
    /**
     * @description Filtra los procesos mediante el id del usuario logueado para saber si es responsable
     * @return {process}
     */
    getProcessResponsable() {
      const path =
        url + `process/process/?id_user=${this.$store.getters.getId}`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch(() => {
          this.$router.push({
            name: "DetailProcess",
            params: {
              userNormal: true,
              processId: this.userActive.role.id_process,
            },
          });
          
        });
    },
    /**
     * @description Obtiene todos los usuarios registrados en la BD
     * @return {users}
     */
    getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.users = response.data;
      });
    },
    getUserName(idUserName) {
      for (var i = 0; i < this.users.length; i++) {
        if (this.users[i].id == idUserName) {
          return this.users[i].first_name + " " + this.users[i].last_name;
        }
      }
      return;
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
  //he quitado async
  created() {
    //this.isrespPro = await PermissionService.isRespProcesos();
    //this.viewPermission();
      //el await de aqui
    this.userActive = AuthService.getUser();
    PermissionService.setUserActive();

    //if (this.userActive.superadmin == true) {
    if (this.$store.getters.isSuperadmin == true) {
      this.getProcess();
      this.getUsers();
    } else {

      this.$router.push({ name: 'DetailProcess', params: {processId: this.$store.getters.idProceso }})
      this.getProcessOwner(); //en realidad no sevan ejecutar esto.....
      this.getUsers();
    }
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
