<template>
  <b-container id="custom-css">
    <b-row>
      <b-col cols="12" class="px-4">
        <h3 class="text-left py-4">Procesos</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 " class="px-4">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                v-if="listPermission()"
                :to="{ name: 'ListProcess' }"
                exact
                exact-active-class="active"
                >Lista</b-nav-item
              >
              <b-nav-item
                :to="{ name: 'NewProcess' }"
                exact
                exact-active-class="active"
                v-if="createPermission()"
                >Agregar</b-nav-item
              >
            </b-nav>
          </div>
          <div>
            <router-view></router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import AuthService from "@/services/AuthService.js";
import { PermissionService } from "@/services";
export default {
  data() {
    return {
      superadmin: "",
    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      //if(  PermissionService.findPermission(Permission.Create,Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return false;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      //if( PermissionService.findPermission(Permission.View,Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      //if( PermissionService.findPermission(Permission.View, Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }
    },
  },
  async created() {
    PermissionService.setUserActive();
    const response = await AuthService.getUser();
    this.viewPermission();

    if (response.superadmin == true) {
      this.superadmin = true;
    }
  },
};
</script>

<style lang="css" scoped></style>
