<template lang="html">
  <b-container>
    <b-modal
      id="delete-studyPlan-modal"
      ref="modal"
      title="Eliminar Plan de Estudio"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el {{ this.StudyPlanInfo.name }} ?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancelar
        </b-button>
        <b-button size="sm" variant="success" @click="ok()">
          Confirmar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["StudyPlanInfo", "Process"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteStudyPlan();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-studyPlan-modal");
      });
    },

    /**
     * @description Elimina un plan de estudio en especifico
     */
    deleteStudyPlan() {
      const path = url + `process/portfolio/resource/${this.StudyPlanInfo.id}`;
      axios.delete(path);
      swal("Plan de Estudio Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push({
          name: "ListStudyPlan",
        });
      });
    },
  },
};
</script>

<style></style>
