<template lang="html">
  <div class="container ">
    <b-row class="py-4 mt-2">
      <div>
        <b-button :to="{ name: 'ListStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <div class="col-12 mt-3">
        <h3>Detalles del {{ studyPlan.name }}</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"> <strong>Nombre:</strong> </b-col>
            <b-col sm="6">{{ studyPlan.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Descripción:</strong></b-col
            >
            <b-col sm="3">{{ studyPlan.description }}</b-col>
          </b-row>
          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Porcentaje:</strong></b-col
            >
            <b-col sm="6">{{ studyPlan.percent_due }}</b-col>
          </b-row>
          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Malla Curricular</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'ListCCurse',
                  params: { studyPlanId: studyPlan.id },
                }"
              >
                Ver Malla Curricular
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Áreas de formación</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'ListFormationArea',
                  params: { studyPlanId: studyPlan.id },
                }"
              >
                Ver Áreas de formación
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Competencias</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'ListCompetence',
                  params: { studyPlanId: studyPlan.id },
                }"
              >
                Ver Competencias
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Resultados del estudiante</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'ListStudentResult',
                  params: { studyPlanId: studyPlan.id },
                }"
              >
                Ver Resultados del Estudiante
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"><strong>Sumilla</strong></b-col>
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'ListSommeliers',
                  params: { studyPlanId: studyPlan.id },
                }"
              >
                Ver Sumilla
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Match Cursos vs Resultados</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{ name: 'MatchCourseVsResults', params: { studyPlanId } }"
              >
                Ver Match Cursos vs Resultados
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3"
              ><strong>Match Cursos vs Competencias</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'MatchCourseVsCompetence',
                  params: { studyPlanId },
                }"
              >
                Ver Match Cursos vs Competencias
              </b-button>
            </b-col>
          </b-row>

          <b-row class="text-left mb-4">
            <b-col sm="3" class="offset-sm-3">
              <strong>Match Competencias vs Resultados</strong></b-col
            >
            <b-col sm="6">
              <b-button
                variant="outline-primary"
                :to="{
                  name: 'MatchCompetencesVsResults',
                  params: { studyPlanId },
                }"
              >
                Ver Match Competencias vs Resultados
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{
              name: 'EditStudyPlan',
              params: { studyPlanId: studyPlan.id, processId: process.id },
            }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Plan de Estudio
          </b-button>
        </div>
        <div v-if="disablePermission()">
          <div class="text-right float-right ml-3">
            <b-button
              v-if="this.studyPlan.status"
              v-b-modal.deactivate-studyPlan-modal
              variant="warning"
            >
              <b-icon icon="x-circle"></b-icon>
              Desactivar Plan de Estudio
            </b-button>
            <DeactivateStudyPlan
              :StudyPlanInfo="studyPlan"
              :Process="process"
            ></DeactivateStudyPlan>
          </div>
          <div class="text-right float-right ml-3">
            <b-button
              v-if="!this.studyPlan.status"
              v-b-modal.activate-studyPlan-modal
              variant="success"
            >
              <b-icon icon="check-circle"></b-icon>
              Activar Plan de Estudio
            </b-button>
            <ActivateStudyPlan
              :StudyPlanInfo="studyPlan"
              :Process="process"
            ></ActivateStudyPlan>
          </div>
        </div>
        <div class="text-right float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-studyPlan-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar Plan de Estudio
          </b-button>
          <DeleteStudyPlan
            :StudyPlanInfo="studyPlan"
            :Process="process"
          ></DeleteStudyPlan>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import DeleteStudyPlan from "@/components/StudyPlan/DeleteStudyPlan";
import DeactivateStudyPlan from "@/components/StudyPlan/DeactivateStudyPlan";
import ActivateStudyPlan from "@/components/StudyPlan/ActivateStudyPlan";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteStudyPlan,
    DeactivateStudyPlan,
    ActivateStudyPlan,
  },
  data() {
    return {
      processId: this.$route.params.processId,
      studyPlanId: this.$route.params.studyPlanId,
      studyPlan: [],
      user: [],
      process: [],
    };
  },
  methods: {

    /**
     * @description Obtiene la informacion de un proceso en especifico
     */
    getProcess() {
      const path = url + `process/process/${this.processId}/`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene la informacion de un plan de estudio en especifico
     */
    getStudyPlan() {
      const path = url + `process/portfolio/resource/${this.studyPlanId}/`;

      axios
        .get(path)
        .then((response) => {
          this.studyPlan = response.data;
          //this.getUser();
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @description Obtiene la informacion de un usuario en especifico
     */
    getUser() {
      const path = url + `user/user/${this.studyPlan.id_user}/`;
      axios.get(path).then((response) => {
        this.user = response.data;
        //this.getRole();
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  computed: {},
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getStudyPlan();
    this.getProcess();
    //this.getUser();
  },
};
</script>

<style lang="css" scoped></style>
