<template lang="html">
  <div class="text-left">
    <b-row class="py-3">
      <div class="col-12 text-left">
        <b-button :to="{ name: 'DetailProcess' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>

      <div class="col-12 mt-3">
        <h5>Listado de Plan de Estudios del proceso de {{ process.name }}</h5>
      </div>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>
      </b-col>
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
      </b-row>
    </b-collapse>
    <br />
    <b-table
      v-if="disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="studyPlan"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay plan de estudios para mostrar"
      empty-filtered-text="No hay plan de estudios para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailStudyPlan',
              params: { studyPlanId: data.item.id, processId: processId },
            }"
            >Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>
    <b-table
      v-if="!disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="studyPlan"
      :fields="fields2"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay plan de estudios para mostrar"
      empty-filtered-text="No hay plan de estudios para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailStudyPlan',
              params: { studyPlanId: data.item.id, processId: processId },
            }"
            >Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-row>
      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      processId: this.$route.params.processId,
      process: [],
      studyPlan: [],
      fields: [
        {
          key: "name",
          label: "Plan de Estudios",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estados",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
        },
      ],
      fields2: [
        {
          key: "name",
          label: "Plan de Estudios",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name"],
    };
  },
  computed: {

    /**
     * @description Ordena los datos que este en la variable  fields
     */
    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return {
            text: f.label,
            value: f.key,
          };
        });
    },
  },

  /**
   * @description Establece la cantidad de filas de plan de estudios
   */
  beforeUpdate() {
    // Set the initial number of items
    this.totalRows = this.studyPlan.length;
  },
  methods: {

    /**
     * @description Obtiene los datos un proceso en especifico
     */
    getProcess() {
      const path = url + `process/process/${this.processId}/`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obitene los datos los plan de estudios de un proceso en especifico
     * @return {process}
     */
    getStudyPlans() {
      const path =
        url + `process/portfolio/resource/?id_process=${this.processId}`;

      axios
        .get(path)
        .then((response) => {
          this.studyPlan = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Activa la paginación para actualizar el número de botones / páginas debido al filtrado
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    await this.getProcess();
    await this.getStudyPlans();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}
</style>
