<template lang="html">
  <b-container>
    <b-modal
      id="delete-formationArea-modal"
      ref="modal"
      title="Eliminar Area de formacion"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el area de formacion
      {{ this.FormationAreaInfo.name }}?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" @click="cancel()">
          Cancelar
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()">
          Aceptar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["FormationAreaInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteFormationArea();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-formationArea-modal");
      });
    },

    /**
     * @description Elimina una area de formacion en especifico
     */
    deleteFormationArea() {
      const path =
        url + `process/portfolio/formation_area/${this.FormationAreaInfo.id}`;
      axios.delete(path);
      swal("Area de formacion Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push({
          name: "ListFormationArea",
        });
      });
    },
  },
};
</script>

<style></style>
