<template lang="html">
  <b-container>
    <b-modal
      id="delete-criteria-modal"
      ref="modal"
      title="Eliminar Criterio"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el criterio: {{ CriteriaInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["CriteriaInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteCriteria();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-criteria-modal");
      });
    },
    deleteCriteria() {
      const path = url + `process/criteria/${this.CriteriaInfo.id}`;
      axios.delete(path);
      swal("Criterio Eliminado Exitosamente!", "", "success");
      this.$router.push("/phase/" + this.CriteriaInfo.id_phase + "/detail");
    },
  },
};
</script>

<style></style>
