<template lang="html">
  <b-container>
    <b-modal
      id="create-criteria-modal"
      ref="modal"
      title="Crear Criterio"
      size="lg"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="criteriaNameValidation()"
          label="Nombre:"
          label-for="name-phase"
        >
          <b-form-input
            type="text"
            id="name-phase"
            v-model="form.name"
            :state="criteriaNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 1, 100)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 1 y máximo 100 caracteres
          </small>
        </b-form-group>
        <b-form-group
          :state="criteriaDescriptionValidation()"
          label="Descripción:"
          label-for="description-phase"
        >
          <b-form-input
            id="description-phase"
            v-model="form.description"
            :state="criteriaDescriptionValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.description)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.description, 1, 100)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 1 y máximo 100 caracteres
          </small>
        </b-form-group>
      </b-form>

      <b-form-group label="Responsable:" label-for="input-3">
        <b-form-select v-model="responsible" required id="input-3">
          <b-form-select-option
            v-for="(responsible, indexOpt) in users"
            :key="indexOpt"
            :value="responsible"
          >
            {{ responsible.email }}
          </b-form-select-option>
        </b-form-select>
        <b-card>
          <b-row>
            <b-col sm="2">
              Nombres:
            </b-col>
            <b-col sm="2">
              {{ responsible.first_name }} {{ responsible.last_name }}
            </b-col>
            <b-col sm="2">
              Coreo:
            </b-col>
            <b-col sm="3">
              {{ responsible.email }}
            </b-col>
            <b-col sm="1">
              Rol:
            </b-col>
            <b-col sm="2">
              {{ responsible.id_role }}
            </b-col>
          </b-row>
        </b-card>

        <small class="msg" v-if="!responsible">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Seleccione un responsable
        </small>
      </b-form-group>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["PhaseID"],
  data() {
    return {
      users: [],
      responsible: "",
      form: {
        name: "",
        description: "",
        status: true,
        id_phase: null,
      },
      validation: {
        onlyTextAndNumber: /^[a-zA-Z0-9 ]*$/,
      },
    };
  },
  methods: {
    resetModal() {
      this.name = "";
    },
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.textSize(this.form.name, 1, 100) &&
        this.onlyTextAndNumber(this.form.name) &&
        this.textSize(this.form.description, 1, 100) &&
        this.onlyTextAndNumber(this.form.description) &&
        !this.textEmpty(this.responsible)
      );
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createCriteria();
      this.$nextTick(() => {
        this.$bvModal.hide("create-criteria-modal");
      });
    },
    getUsers() {
      const path = url + `user/user/`;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    createCriteria() {
      const path = url + `process/criteria/`;
      const datos = {
        name: this.form.name,
        description: this.form.description,
        status: this.form.status,
        id_phase: this.form.id_phase,
        id_user: this.responsible.id,
      };
      axios
        .post(path, datos)
        .then(() => {
          swal("Criterio Creado Correctamente!", "", "success");
          this.$router.push("/phase/" + this.form.id_phase + "/detail");
        })
        .catch(() => {
          swal("El criterio no se ha creado", "", "error");
        });
    },

    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    criteriaNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.name, 1, 100) &&
        this.onlyTextAndNumber(this.form.name)
      );
    },
    criteriaDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.description, 1, 100) &&
        this.onlyTextAndNumber(this.form.description)
      );
    },
  },
  beforeUpdate() {
    this.form.id_phase = this.PhaseID;
  },
  created() {
    this.getUsers();
  },
};
</script>

<style lang="css" scoped></style>
