<template>
  <b-container class="py-5">
    <b-row>
      <b-col cols="10">
        <h2 class="text-left" py-2>Criterio</h2>
      </b-col>
    </b-row>

    <b-card title="Card Title" no-body>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="css" scoped></style>
