<template lang="html">
  <b-container>
    <b-row class="text-center mb-3">
      <b-col sm="6" md="4">
        <b-row class="mb-3">
          <b-col> </b-col>
        </b-row>
        <b-row class="mb-3" align-h="center">
          <b-img
            thumbnail
            fluid
            :src= "this.user.photo? this.user.photo: 'https://clubdeescritura.com/wp-content/uploads/users-56/user-55640/2017/05/photo-300x300.png'"
            alt="Image 1"
            class="imgPhoto"
          ></b-img>
        </b-row>
      </b-col>
      <b-col sm="12" md="8">
        <b-row class="text-left mb-3">
          <b-col sm="3">Nombre:</b-col>
          <b-col sm="9">{{ this.user.first_name }}</b-col>
        </b-row>
        <b-row class="text-left mb-3">
          <b-col sm="3">Apellido:</b-col>
          <b-col sm="9">{{ this.user.last_name }}</b-col>
        </b-row>
        <b-row class="text-left mb-3">
          <b-col sm="3">Email:</b-col>
          <b-col sm="9">{{ this.user.email }}</b-col>
        </b-row>
        <b-row class="text-left mb-3">
          <b-col sm="3">Estado:</b-col>
          <b-col sm="9">{{ this.formatterState() }}</b-col>
        </b-row>
        <b-row
          v-if="this.user.role && !this.user.superadmin"
          class="text-left mb-3"
        >
          <b-col sm="3">Rol:</b-col>
          <b-col sm="9"
            >{{ this.user.role.name }} de {{ this.user.role.process }}</b-col
          >
        </b-row>
        <b-row class="text-left mb-3">
          <b-col sm="3">Firma:</b-col>
          <b-col sm="9"
            ><b-img
              thumbnail
              fluid
              :src="this.user.signature"
              class="firma"
            ></b-img
          ></b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row>
      <b-col align-self="center">
        <b-button
          variant="primary"
          :to="{ name: 'EditProfileUser', params: { userId: user.id } }"
        >
          <b-icon icon="pencil-square"></b-icon>&nbsp;Editar cuenta
        </b-button>
      </b-col>
      <b-col>
        <b-button v-b-modal.desactivate-user-modal variant="warning">
          <b-icon icon="x-circle"></b-icon>
          Desactivar cuenta
        </b-button>
        <DesactivateUser :UserInfo="user"></DesactivateUser>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from "axios";
import AuthService from "@/services/AuthService.js";
import DesactivateUser from "@/components/ProfileUser/DesactivateUser";
import { PermissionService } from "@/services";
export default {
  components: {
    DesactivateUser,
  },
  data() {
    return {
      user: "",
    };
  },
  methods: {
    formatterState() {
      return this.user.status ? "Activo" : "Inactivo";
    },
  },
  /**
   * @description Obtiene los datos del usuario loguerado al iniciar esta vista
   * @return {user}
   */
  async created() {
    if (!this.$store.getters.isLoggedIn) {
      this.$router.push("/login");
    } else {
      PermissionService.setUserActive();
      axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.$store.getters.isLoggedIn}`;
      this.user = await AuthService.getUser();
    }
  },
};
</script>
<style lang="css" scoped>
.firma {
  max-width: 140px;
}
.imgPhoto {
  max-width: 70%;
  max-height: 70%;
}
</style>
