<template>
  <div class="container" id="custom-css">
    <b-row class="py-4">
      <b-col cols="12">
        <h3 v-if="!this.$store.getters.isSuperadmin" class="text-center" py-2>
          Perfil de Usuario
        </h3>
        <h3 v-if="this.$store.getters.isSuperadmin" class="text-center" py-2>
          Perfil de Usuario del SuperAdministrador
        </h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card class="mb-3">
          <router-view to="/"></router-view>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script></script>

<style lang="css" scoped></style>
