<template lang="html">
  <b-container>
    <br />
    <b-row class="py-1" align-v="center">
      <b-col sm="4">Semestre:</b-col>
      <b-col sm="8">
        <b-form-group>
          <b-form-select
            required
            v-model="semester"
            :options="options"
            id="id_Semester"
            @change="getCourses"
          ></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="py-1" align-v="center">
      <b-col cols="4">
        Curso:
      </b-col>
      <b-col cols="8">
        <b-form-select v-model="course" required id="id_Course">
          <b-form-select-option
            v-for="(course, indexOpt) in courses"
            :key="indexOpt"
            :value="course"
          >
            {{ course.name }} - {{ course.resource }}
          </b-form-select-option>
        </b-form-select>
      </b-col>
    </b-row>
    <b-row class="py-3" align-v="center">
      <b-col cols="4">
        Fecha de inicio
      </b-col>
      <b-col cols="8">
        <b-form-datepicker
          id="id_StartDate"
          v-model="start_date"
          placeholder="Escoge una fecha"
          required
          local="en"
          :state="processStateStartDateValidation()"
          @context="contextStartDate"
        ></b-form-datepicker>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button
          type="submit"
          variant="secondary"
          @click="createCourseActive"
          class="float-right ml-3"
          >Crear</b-button
        >
        <b-button
          type="reset"
          variant="danger"
          class="btn-large-space float-right"
          >Reiniciar</b-button
        >
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      portfolioId: this.$route.params.portfolioId,
      courses: [],
      course: [],
      student_results: [],
      selectedStudentResults: [],
      competences: [],
      selectedCompetences: [],
      start_date: "",
      semester: "",
      year: "",
      options: [
        { value: 0, text: "A" },
        { value: 1, text: "B" },
        { value: 2, text: "C" },
      ],
      context: {
        start: {
          date: "",
        },
      },
    };
  },
  methods: {
    textEmpty(text) {
      return text == "";
    },
    processStateStartDateValidation() {
      if (this.textEmpty(this.start_date)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },
    processStartDateValidation() {
      return !this.textEmpty(this.start_date);
    },
    contextStartDate(ctx) {
      this.context.start.date = ctx;
    },
    createCourseActive() {
      const datos = {
        id_course: this.course.id,
        start_date: this.start_date,
        id_portfolio: this.portfolioId,
      };
      const path = url + `process/portfolio/course_active/`;
      axios
        .post(path, datos)
        .then(() => {
          swal("Curso activo creado exitosamente", "", "success", {
            button: "Aceptar",
          });
        })
        .catch(() => {
          swal("El curso activo no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },
    getCourses() {
      console.log("getCouses")
      if (
        this.$store.getters.isResProceso ||
        this.$store.getters.isRespPortCurso
      ) {
        this.getCursosXProcesos(this.$store.getters.idProceso);

        return true;
      }
      console.log(this.semester);

      const path =
        url +
        `process/portfolio/course/?id_resource=&id_subarea=&semester=${this.semester}`;
      axios.get(path).then((response) => {
        this.courses = response.data;
      });
    },
    getCursosXProcesos(idprocess){

        //process/portfolio/resource/?id_process=1
        const path = url + 'process/portfolio/resource/?id_process='+idprocess;
        //const path = url + 'process/portfolio/resource/?id_process='+this.$store.getters.idProceso;
        axios.get(path).then(async (response) => {
          //this.courses = response.data;//muesttra los planes y desaprece al recibir todo
            this.courses = [];
            let idsRecursos=[];
            for (let item of response.data) {
              idsRecursos.push(item.id);
            }
            let tmpfullcursos=[];

            for(let id of idsRecursos){
              console.log(id)

              const path = url + 'process/portfolio/course/?id_resource='+id;
              await axios.get(path).then((response) => {
                //this.courses = response.data;
                //let tmpcursos = response.data;
                //console.log(tmpcursos);
                for(let item of response.data){
                  tmpfullcursos.push(item);
                }
              });

            }
            //console.log(tmpfullcursos)

            if (this.semester == 0) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 !== 0 );
                tmpfullcursos = listFilter;
              //return;
            }
            if (this.semester == 1) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 == 0 );
                tmpfullcursos = listFilter;
                  //return;
            }
            //this.courses = response.data;


            idsRecursos=[];
            //console.log(tmpfullcursos)
            this.courses = tmpfullcursos;

          //console.log(idsRecursos);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
