
<template>
  <div class="container">
    <div class="row mb-4">
      <b-button :to="{ name: 'responsableCourses' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </div>
    <br />
    <b-form @submit="onSubmit" @reset="onReset" class="row">
      <h2>
        Esta seguro que desea eliminar al docente {{ this.responsable.user }}
      </h2>
      <div class="col-12">
        <b-button type="submit" variant="primary" class="float-right"
          >Eliminar</b-button
        >
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";
import swal from "sweetalert";

export default {
  data() {
    return {
      responsableId: this.$route.params.responsableId,
      responsable: {},
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.deleteResponsable();
    },
    onReset(evt) {
      evt.preventDefault();
    },
    getResponsable() {
      const path =
        url + `process/portfolio/course_active_user/${this.responsableId}`;
      axios.get(path).then((response) => {
        this.responsable = response.data;
      });
    },
    deleteResponsable() {
      const path =
        url + `process/portfolio/course_active_user/${this.responsable.id}/`;
      axios.delete(path).then(() => {
        swal("Docente eliminado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.$router.push({ name: "responsableCourses" });
        });
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();
    this.getResponsable();
  },
};
</script>

<style></style>
