<template>
  <b-container>
    <div class='row mb-4'>
      <b-button :to="{ name: 'stages' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </div>
    <b-form @submit="onSubmit" @reset="onReset">
      <div v-for="stage in stages" :key="stage.stage">
        <div v-if="
          (stage.stage==1 && validateDatesFirstPhase() ) ||
          (stage.stage==2 && validateDatesSecondPhase() ) ||
          (stage.stage==3 && validateDatesThirdPhase() ) ||
          (stage.stage==4 && validateDatesFourthPhase() ) ">
          <b-row>
            <b-col>
              <b-form-group id="fase" label="Fase:" label-for="input-1"
                ><h2>{{ stage.stage }}</h2>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="observacion"
                label="Observacion:"
                label-for="input-2"
              >
                <b-form-textarea
                  id="input-2"
                  v-model="stage.observation"
                  rows="5"
                  placeholder="Ingrese Observacion"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="input-group-3"
                label="Estado:"
                label-for="input-3"
              >
                <b-icon
                  class="h3 mb-2"
                  v-if="stage.status"
                  icon="exclamation-circle-fill"
                  variant="success"
                ></b-icon>
                <b-icon
                  v-if="!stage.status"
                  class="h3 mb-2"
                  icon="exclamation-circle-fill"
                  variant="danger"
                ></b-icon>
                <b-form-checkbox
                  v-model="stage.status"
                  name="checkbox-1"
                >
                  Aprobado
                </b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </div>
      <b-button type="submit" variant="secondary" class="float-center ml-3">
        <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
      </b-button>&nbsp;
      <b-button
        type="reset"
        variant="danger"
        class="btn-large-space float-center"
      >
        <b-icon icon="x"></b-icon>
        Reiniciar</b-button
      >
    </b-form>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import { Module, Permission, PermissionService, CourseDatesService} from "@/services";

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      courseActive: [],
      stages: [],
      stagesEdited: [],
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.editStages();
    },
    onReset(evt) {
      evt.preventDefault();
      if(this.validateDatesFirstPhase()){
        this.stages[0].observation="";
      }
      if(this.validateDatesSecondPhase()){
        this.stages[1].observation="";
      }
      if(this.validateDatesThirdPhase()){
        this.stages[2].observation="";
      }
      if(this.validateDatesFourthPhase()){
        this.stages[3].observation="";
      }
    },
    getStatus(value) {
      if (value == true) return "Activo";
      else return "Inactivo";
    },
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.courseActiveId}`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          this.getStages();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    getStages() {
      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .get(path)
        .then((response) => {
          this.stages = response.data.stages;
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    editStages() {
      for (var i = 0; i < this.stages.length; i++) {
        this.stagesEdited.push({
          stage: this.stages[i].stage,
          observation: this.stages[i].observation,
          status: this.stages[i].status,
        });
      }
      const datos = {
        stages: this.stagesEdited,
      };

      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Observaciones editadas con exito", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
                name: "stages",
              });
          });
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
       if (PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ){
        return true
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if ( this.$store.getters.isRespPortCurso ){
         return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
        this.$router.push("/");


    },
    
    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    validateDatesFirstPhase() {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return CourseDatesService.isUserColab() && CourseDatesService.isFirstPhase();
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la segunda fase
    */
    validateDatesSecondPhase() {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return CourseDatesService.isUserColab() && CourseDatesService.isSecondPhase();
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la tercera fase
    */
    validateDatesThirdPhase() {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return CourseDatesService.isUserColab() && CourseDatesService.isThirdPhase();
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la cuarta fase
    */
    validateDatesFourthPhase() {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return CourseDatesService.isUserColab() && CourseDatesService.isFourthPhase();
      }
    },
  },

  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
  },
};
</script>

<style></style>
