<template lang="html">
  <b-container id="custom-css" class="p-4">
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-2 pb-4">
          <b-button class="mr-4" :to="{ name: 'listCourses' }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
          </b-button>
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="10">
        <a
          ><h2 class="text-left py-2 pb-3">CURSO: {{ this.course.course.toUpperCase() }}</h2></a
        >
      </b-col>
    </b-row>

    <b-card
      border-variant=""
      header="Sílabo ABET"
      header-bg-variant=""
      header-text-variant=""
      align="left"
      class="mb-5"
    >
      <b-row>
        <b-col align="center" cols="6">
          <b-img
            class="img"
            thumbnail
            fluid
            src="http://acreditacion.uni.edu.pe/wp-content/uploads/2019/08/abetlogo.jpg"
            alt="Image"
            bottom
          ></b-img>
        </b-col>
        <b-col cols="4">
          <br />
          <b-row
            ><b-button
              variant="primary"
              :to="{ name: 'SilaboABET', params: { courseId: course.id } }"
              ><b-icon icon="eye"></b-icon>&nbsp;Ver</b-button
            ></b-row
          >
        </b-col>
      </b-row>
    </b-card>

    <b-card
      border-variant=""
      header="Sílabo DUFA"
      header-bg-variant=""
      header-text-variant=""
      align="left"
      class="mb-5"
    >
      <b-row>
        <b-col align="center">
          <img
            class="img2"
            thumbnail
            fluid
            src="../../assets/unsa.png"
            alt="Image"
            bottom
          />
        </b-col>
        <b-col class="text-left" cols="6">
          <br />
          <b-row v-if="editPermission()">
            <b-col>
              <b-form-file
                v-model="fileSelected"
                accept=".pdf"
                :state="Boolean(fileSelected)"
                @change="onFileSelected"
                placeholder="Seleccione un archivo o arrastrelo aquí..."
                drop-placeholder="Arrastrelo aquí..."
                id="id_SylaboDufa"
              >
              </b-form-file>
            </b-col>
          </b-row>
          <br />
          <b-row v-if="editPermission()">
            <b-col>
              <b-button class="m-1" variant="primary" @click="Subir"
                >Guardar</b-button
              >
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              Archivo seleccionado:
              <b-link
                v-if="course.silabus_dufa != null"
                :href="course.silabus_dufa"
                >Silabo DUFA del curso {{ course.id }}</b-link
              >
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-card
      border-variant=""
      header="Anexo DUFA"
      header-bg-variant=""
      header-text-variant=""
      align="left"
      class="mb-5"
    >
      <b-row>
        <b-col class="img2" align="center">
          <img
            class="img2"
            thumbnail
            fluid
            src="../../assets/unsa.png"
            alt="Image"
            bottom
          />
        </b-col>
        <b-col>
            <b-button
              variant="primary"
              :to="{ name: 'SilaboDufa', params: { courseId: course.id } }"
              ><b-icon icon="eye"></b-icon>&nbsp;Ver</b-button
            >
        </b-col>
      </b-row>
    </b-card>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {
  Module,
  Permission,
  PermissionService,
  CourseDatesService,
} from "@/services";

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      course: [],
      silabus_dufa: null,
      fileSelected: null,
    };
  },
  methods: {
    onFileSelected(event) {
      this.fileSelected = event.target.files[0];
    },
    Subir() {

      const path = url + `process/portfolio/course_active/${this.courseId}/`;
      let formData = new FormData();
      formData.append("silabus_dufa", this.fileSelected);
      formData.append("id_portfolio", this.course.id_portfolio);

      axios
        .patch(path, formData)
        .then(() => {
          swal("El archivo se ha guardado correctamente", "", "success", {
            button: "Aceptar",
          });
        })
        .catch(() => {
          swal("Error al subir el archivo!", "", "error", {
            button: "Aceptar",
          });
        });
    },

    onFileSelected2(event) {
      const path = url + `process/portfolio/course_active/${this.courseId}/`;
      const file = event.target.files[0];
      const formData = new FormData();
      formData.append("silabus_dufa", file);
      formData.append("id_portfolio", this.course.id_portfolio);
      axios.http
        .put(path, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(
          () => {
            swal("Archivo Subido Exitosamente!", "", "success", {
              button: "Aceptar",
            });
          },
          () => {
            swal("Error al subir el archivo!", "", "error", {
              button: "Aceptar",
            });
          }
        );
    },

    updateSilabus(form) {
      const path = url + `process/portfolio/course_active/${this.courseId}/`;

      axios
        .put(path, form)
        .then(() => {
          swal("El archivo se ha guardado correctamente", "", "success", {
            button: "Aceptar",
          });
        })
        .catch(() => {
          swal("El archivo no se ha guardado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    eliminar() {
      this.silabus_dufa = null;
    },
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseId}/`;
      axios.get(path).then((response) => {
        this.course = response.data;
      });
    },


    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates() {
      if (CourseDatesService.isUserSeeEveything()) {
        return;
      }
      if (
        !(CourseDatesService.isUserColab() && CourseDatesService.isFirstPhase())
      ) {
        this.$router.push("/");
      }
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.viewDates();
    CourseDatesService.getPortfolioDates(this.portfolioId);

    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
.img {
  width: 40%;
  scale: 1;
}
.img2 {
  width: 290px;
  align-items: center;
  margin: 20px;
}
.img3 {
  width: 35%;
  position: relative;
  align-items: flex-end;
  margin-left: 80px;
}
</style>
