<template lang="html">
  <b-container>
    <b-row v-for="courseActive in coursesActives" :key="courseActive.id">
      <b-card border-variant="primary">
        <b-row>
          <b-col v-if="superadmin" cols="2" align="left">
            <b-button
              variant="primary"
              size="sm"
              :to="{
                name: 'ListStudents',
              }"
              >Alumnos</b-button
            >
          </b-col>
          <b-col cols="8">
            <b-card-text
              ><h2>Curso {{ courseActive.id }}</h2></b-card-text
            >
          </b-col>
          <b-col v-if="superadmin" cols="2" align="left">
            <b-button
              variant="primary"
              size="sm"
              :to="{
                name: 'editCourses',
                params: { courseId: courseActive.id },
              }"
              >Editar</b-button
            >
            <b-button
              variant="primary"
              size="sm"
              :to="{
                name: 'responsableCourses',
                params: { courseId: courseActive.id },
              }"
              >Responsables</b-button
            >
          </b-col>
        </b-row>

        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'listSyllabus', params: { courseId: courseActive.id } }"
          >Sílabo</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{
            name: 'CurriculumVitae',
            params: { courseId: courseActive.id },
          }"
          >Curriculum Vitae</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'ExamMenu', params: { courseId: courseActive.id } }"
          >Examen de Entrada</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'Fperiod', params: { courseId: courseActive.id } }"
          >Primer Periodo</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'Speriod', params: { courseId: courseActive.id } }"
          >Segundo Periodo</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'Tperiod', params: { courseId: courseActive.id } }"
          >Tercer Periodo</b-link
        >
        <b-link
          href="#"
          class="card-link"
          :to="{ name: 'Reports', params: { courseId: courseActive.id } }"
          >Semestre y Reporte</b-link
        >
      </b-card>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
export default {
  data() {
    return {
      superadmin: false,
      user: "",
      coursesActives: [],
    };
  },
  methods: {
    getCourseActiveFilter() {
      const path =
        url +
        `process/portfolio/course_active/?id_course=&users=${this.user.id}`;
      axios.get(path).then((response) => {
        this.coursesActives = response.data;
      });
    },
    getCourseActive() {
      const path = url + `process/portfolio/course_active/`;
      axios.get(path).then((response) => {
        this.coursesActives = response.data;
        console.log(this.coursesActives);
      });
    },
  },
  async created() {
    this.user = await AuthService.getUser();
    if (this.user.superadmin == true) {
      this.superadmin = true;
      this.getCourseActive();
    } else {
      this.superadmin = false;
      this.getCourseActiveFilter();
    }
  },
};
</script>

<style lang="css" scoped></style>
