<template lang="html">
  <b-container>
    <!--<b-col class="text-left">
      <b-button :to="{ name: 'listCourses' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </b-col>-->
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="responsables"
      :fields="fields"
      empty-text="No hay responsables para mostrar"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="secondary"
            v-if="editPermission()"
            :to="{
              name: 'editResponsable',
              params: { responsableId: data.item.id },
            }"
            ><b-icon icon="pencil-square"></b-icon> Editar</b-button
          >
          &nbsp;
          <b-button
            size="sm"
            variant="danger"
            v-if="editPermission()"
            :to="{
              name: 'deleteResponsable',
              params: { responsableId: data.item.id },
            }"
            ><b-icon icon="x"></b-icon> Eliminar</b-button
          >
        </b-container>
      </template>
    </b-table>
    <div v-if="createPermission()">
      <h4>Asignar Docentes</h4>
      <br />
      <b-row class="vh-10 text-right py-2" align-v="center">
        <b-col cols="4">
          <strong>Grupo de Teoria:</strong>
        </b-col>
        <b-col cols="8">
          <b-form-input
            type="text"
            v-model="group_thery"
            required
            id="id_GroupThery"
          ></b-form-input>
        </b-col>
      </b-row>
      <b-row class="vh-10 text-right py-2" align-v="center">
        <b-col cols="4">
          <strong>Grupo de Laboratorio:</strong>
        </b-col>
        <b-col cols="8">
          <b-form-input
            type="text"
            v-model="group_laboratory"
            required
            id="group_laboratory"
          ></b-form-input>
        </b-col>
      </b-row>
      <b-row class="vh-10 text-right py-2" align-v="center">
        <b-col cols="8">
          <b-row>
            <b-col cols="6">
              <strong>Responsables:</strong>
            </b-col>
            <b-col cols="6">
              <b-form-select v-model="teacher" required id="id_Teacher">
                <b-form-select-option
                  v-for="(teacher, indexOpt) in teachers"
                  :key="indexOpt"
                  :value="teacher.id"
                >
                  {{ teacher.first_name }} {{ teacher.last_name }}
                </b-form-select-option>
              </b-form-select>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    
      <b-row>
          <b-col>
            <b-button type="submit" variant="secondary"  @click="editCourseActive"  class="float-right ml-3"
              >Asignar</b-button
            >
            <b-button
              type="reset"
              variant="danger"
               @click="limpiar"
              class="btn-large-space float-right"
              >Limpiar</b-button
            >
          </b-col>
        </b-row>
      </div>
    
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";
import swal from "sweetalert";

export default {
  data() {
    return {
      processId: this.$route.params.processId,
      courseId: this.$route.params.courseId,
      context: {
        start: {
          date: "",
          time: "",
        },
      },
      fields: [
        {
          key: "user",
          label: "Docente",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "group_thery",
          label: "Grupo Teoria",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "group_laboratory",
          label: "Grupo Laboratorio",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        { key: "actions", label: "Acción", class: "text-center" },
      ],
      user: [],
      courses: [],
      course: {},
      teachers: [],
      teacher: [],
      responsables: [],
      group_thery: "",
      group_laboratory: "",
      id_course_active: null,
    };
  },
  methods: {
    limpiar() {
      this.teacher = "";
      this.group_thery = "";
      this.group_laboratory = "";
    },
    editCourseActive() {
      const datos = {
        group_thery: this.group_thery,
        group_laboratory: this.group_laboratory,
        id_course_active: this.courseId,
        id_user: this.teacher,
      };
      const path = url + `process/portfolio/course_active_user/`;
      axios
        .post(path, datos)
        .then(() => {
          swal("Datos guardados de manera exitosa", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Error al guardar los datos", "", "error", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        });
    },
    getTeachers() {
      const path =
        url + `user/user/?id_role__id_process=${this.user.role.id_process}`;
      axios.get(path).then((response) => {
        this.teachers = response.data;
      });
    },
    getResponsables() {
      const path =
        url +
        `process/portfolio/course_active_user/?id_course_active=${this.courseId}`;
      axios.get(path).then((response) => {
        this.responsables = response.data;
      });
    },
    contextStartDate(ctx) {
      this.context.start.date = ctx;
    },
    processStateStartDateValidation() {
      if (this.textEmpty(this.start_date)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },
    processStartDateValidation() {
      return !this.textEmpty(this.start_date);
    },
    textEmpty(text) {
      return text == "";
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      return false;
    },
  },
  async created() {
    this.user = await AuthService.getUser();
    this.getTeachers();
    this.getResponsables();
  },
};
</script>

<style lang="css" scoped></style>
