<template>
  <b-container>
    <b-table
      striped
      hover
      show-empty
      small
      stacked="md"
      :items="stages"
      :fields="fields"
      empty-text="No hay observaciones para mostrar"
      class="ltable"
    >
    </b-table>
    <b-button
      :to="{
        name: 'editStages',
        params: { courseId: this.courseActive.id },
      }"
      variant="primary"
      size="sm"
      >
      <b-icon icon="pencil-square"></b-icon>&nbsp;Editar Observaciones</b-button
    >
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      courseActive: [],
      stages: [],
      fields: [
        {
          key: "stage",
          label: "Fase",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "observation",
          label: "Observaciones",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          class: "text-center",
          sortable: true,
          formatter: (value) => {
            return value ? "Aprobado" : "Desaprobado";
          },
          sortDirection: "desc",
        },
      ],
    };
  },
  methods: {
    getStatus(value) {
      if (value == true) return "Activo";
      else return "Inactivo";
    },
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseId}`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          this.getStages();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    getStages() {
      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .get(path)
        .then((response) => {
          this.stages = response.data.stages;
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {


      if( this.$store.getters.isSuperadmin ){
        return true;
      }
       if (PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ){
        return true
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if ( this.$store.getters.isRespPortCurso ){
         return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
        this.$router.push("/");
    },
  },

  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
  },
};
</script>

<style></style>
