<template lang="html">
  <b-container>
    <b-modal
      id="uploadSyllabus-modal"
      ref="modal"
      title="Subir Sílabo"
      hide-footer
    >
      <b-form>
        <b-row>
          <b-col>
            <img
              class="imglogo"
              thumbnail
              fluid
              src="../../assets/unsa.png"
              alt="Image"
              bottom
            />
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4"> Silabo {{ this.course.id }}: </b-col>
          <b-col class="text-center">
            <b-form-file
              v-model="silabus_dufa"
              :state="Boolean(silabus_dufa)"
              placeholder="Elige un archivo o arrastralo aquí"
              drop-placeholder="Suelta aquí..."
            ></b-form-file>
            <div class="mt-3">
              Selected file: {{ silabus_dufa ? silabus_dufa.name : "" }}
            </div>
          </b-col>
          <b-col>
            <b-button variant="danger">Eliminar</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <img class="icon" src="../../assets/icon/pdf.svg" />
          </b-col>
        </b-row>
        <br />
        <b-row>
          <b-button class="icon" variant="success" @click="subirSilabo"
            >Subir</b-button
          >
        </b-row>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
export default {
  props: ["course"],
  data() {
    return {
      silabus_dufa: null,
    };
  },
  methods: {
    /**
      * @description Metodo para subir el archivo del silabo al servidor
    */
    subirSilabo() {
      try {
        let credentials = new FormData();
        credentials.append("silabus_dufa", this.silabus_dufa);
        const path = url + `process/portfolio/course_active/${this.course.id}`;
        axios.patch(path, credentials).then(() => {}),
          swal("Archivo Subido Exitosamente!", "", "success", {
            button: "Aceptar",
          });
      } catch (error) {
        swal("Error al subir el archivo", "", "error", {
          button: "Aceptar",
        });
      }
    },
  },
};
</script>

<style lang="css" scoped>
.imglogo {
  width: 50%;
  margin: 0 110px 0 110px;
}
.icon {
  width: 40%;
  margin: 0 25% 0 25%;
}
</style>
