<template>
  <b-container id="custom-css" class="p-4">
    <b-row>
      <div class="col-12 mt-1 ">
        <h2 class="text-left py-0 pb-1">Observaciones</h2>
      </div>

      <!--<div class="my-2 pl-3 ">
        <b-button :to="{ name: 'listCourses' }">
          <b-icon icon="arrow-left"></b-icon>
          &nbsp;Atrás
        </b-button>
      </div>-->
    </b-row>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-2 pb-4" >
          <b-button class="mr-4" :to="{ name: 'listCourses' }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-card>
      <router-view></router-view>
    </b-card>
  </b-container>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      portfolioId: this.$route.params.portfolioId,
    };
  },
  methods: {
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      this.$router.push("/");
    },
  },

  created() {
    PermissionService.setUserActive();
    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>