<template lang="html">
  <b-container>
    <b-modal
      id="add-continuousImprovement-modal"
      ref="modal"
      title="Agregar Mejora Continua"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" @submit="handleSubmit">
        <b-form-group label="Deficiencia a ser superada:">
          <b-form-input
            type="text"
            id="deficiency"
            v-model="form.deficiency"
            required
            :formatter="forceLowerCase"
            :state="continuousImprovementStateDeficiencyValidation()"
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.deficiency)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.deficiency, 5, 50)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 5 y máximo 50 caracteres
          </small>
        </b-form-group>
        <b-form-group label="Mejora implementada:">
          <b-form-input
            type="text"
            id="improvement"
            v-model="form.improvement"
            required
            :formatter="forceLowerCase"
            :state="continuousImprovementStateImprovementValidation()"
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.improvement)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.improvement, 5, 50)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 5 y máximo 50 caracteres
          </small>
        </b-form-group>
        <b-form-group label="Resultados(indicar la evidencia del resultado):">
          <b-form-input
            type="text"
            id="result"
            v-model="form.result"
            required
            :formatter="forceLowerCase"
            :state="continuousImprovementStateResultValidation()"
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.result)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.result, 5, 50)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 5 y máximo 50 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      form: {
        deficiency: "",
        improvement: "",
        result: "",
        id_course_active: this.$route.params.courseId,
        status: true,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
    };
  },
  methods: {
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones de deficiencia a ser superada y mejora implementada, resultados
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.continuousImprovementDeficiencyValidation() &&
        this.continuousImprovementImprovementValidation() &&
        this.continuousImprovementResultValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una mejora continua y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createContinuousImprovement();
      this.$nextTick(() => {
        this.$bvModal.hide("add-continuousImprovement-modal");
      });
    },

    /**
     * @description Crea una mejora continua con sus datos correspondientes
     */
    createContinuousImprovement() {
      const path = url + `process/portfolio/continuous_improvement/`;

      console.log(path);
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.deficiency = response.data.deficiency;
          this.form.improvement = response.data.improvement;
          this.form.result = response.data.result;
          swal("Mejora Continua Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Mejora Continua no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la deficiencia a ser superada
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    continuousImprovementStateDeficiencyValidation() {
      if (this.textEmpty(this.form.deficiency)) {
        return new Boolean(null);
      }
      return this.continuousImprovementDeficiencyValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de deficiencia a ser superada
     * @return {boolean}
     */
    continuousImprovementDeficiencyValidation() {
      return (
        this.textSize(this.form.deficiency, 5, 50) &&
        this.onlyTextAndNumber(this.form.deficiency)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la mejora implementada
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    continuousImprovementStateImprovementValidation() {
      if (this.textEmpty(this.form.improvement)) {
        return new Boolean(null);
      }
      return this.continuousImprovementImprovementValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de la mejora implementada
     * @return {boolean}
     */
    continuousImprovementImprovementValidation() {
      return (
        this.textSize(this.form.improvement, 5, 50) &&
        this.onlyTextAndNumber(this.form.improvement)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de los resultados
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    continuousImprovementStateResultValidation() {
      if (this.textEmpty(this.form.result)) {
        return new Boolean(null);
      }
      return this.continuousImprovementResultValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de los resultados
     * @return {boolean}
     */
    continuousImprovementResultValidation() {
      return (
        this.textSize(this.form.result, 5, 50) &&
        this.onlyTextAndNumber(this.form.result)
      );
    },
  },
};
</script>

<style lang="css" scoped></style>
