<template lang="html">
<b-container>
  <b-modal
    id="add-proposalImprovement-modal"
    ref="modal"
    title="Agregar Propuesta de Mejora Futura"
    @ok="handleOk"
    ok-title="Agregar"
    cancel-title="Cancelar">
    <b-form ref="form" @submit="handleSubmit">
      <b-form-group label="Alcance:">
        <b-form-input
          type="text"
          id="scope"
          v-model="form.scope"
          :formatter="forceLowerCase"
          :state="proposalImprovementStateScopeValidation()"
          required></b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber(form.scope)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.scope, 5, 50)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 5 y máximo 50 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Propuesta de mejora:">
        <b-form-input
          type="text"
          id="proposal"
          v-model="form.proposal"
          required
          :formatter="forceLowerCase"
          :state="proposalImprovementStateProposalValidation()"></b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber(form.proposal)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.proposal, 5, 50)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 5 y máximo 50 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Resultados esperados:">
        <b-form-input
          type="text"
          id="expected_results"
          v-model="form.expected_results"
          :formatter="forceLowerCase"
          :state="proposalImprovementStateExpected_resultsValidation()">
        </b-form-input>
        <small>No es obligatorio</small><br />
        <small class="msg" v-if="!onlyTextAndNumber(form.expected_results)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="
              !textEmpty(form.expected_results) &&
              !textSize(form.expected_results, 0, 50)
            ">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 y máximo 50 caracteres
        </small>
      </b-form-group>
    </b-form>
  </b-modal>
</b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      form: {
        scope: "",
        proposal: "",
        expected_results: "",
        id_course_active: this.$route.params.courseId,
        status: true,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
    };
  },
  methods: {
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones de alcance, propuesta de mejora y resultados esperados
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.proposalImprovementScopeValidation() &&
        this.proposalImprovementProposalValidation() &&
        this.proposalImprovementExpected_resultsValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una propuesta de mejora y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createProposalImprovement();
      this.$nextTick(() => {
        this.$bvModal.hide("add-proposalImprovement-modal");
      });
    },

    /**
     * @description Crea una propuesta de mejora con sus datos correspondientes
     */
    createProposalImprovement() {
      const path = url + `process/portfolio/proposal_improvement/`;

      console.log(path);
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.scope = response.data.scope;
          this.form.proposal = response.data.proposal;
          this.form.expected_results = response.data.expected_results;
          swal(
            "Propuesta de Mejora Continua Creado Exitosamente!",
            "",
            "success", {
              button: "Aceptar",
            }
          ).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Propuesta de Mejora Continua no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },
    /**
     * @description Metodo especifico para la propiedad state del input del alcance
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    proposalImprovementStateScopeValidation() {
      if (this.textEmpty(this.form.scope)) {
        return new Boolean(null);
      }
      return this.proposalImprovementScopeValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input del alcance
     * @return {boolean}
     */
    proposalImprovementScopeValidation() {
      return (
        this.textSize(this.form.scope, 5, 50) &&
        this.onlyTextAndNumber(this.form.scope)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la propuesta de mejora
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    proposalImprovementStateProposalValidation() {
      if (this.textEmpty(this.form.proposal)) {
        return new Boolean(null);
      }
      return this.proposalImprovementProposalValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de la propuesta de mejora
     * @return {boolean}
     */
    proposalImprovementProposalValidation() {
      return (
        this.textSize(this.form.proposal, 5, 50) &&
        this.onlyTextAndNumber(this.form.proposal)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de los resultados esperados
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    proposalImprovementStateExpected_resultsValidation() {
      if (this.textEmpty(this.form.expected_results)) {
        return new Boolean(null);
      }
      return this.proposalImprovementExpected_resultsValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de los resultados esperados
     * @return {boolean}
     */
    proposalImprovementExpected_resultsValidation() {
      return (
        this.textSize(this.form.expected_results, 0, 50) &&
        this.onlyTextAndNumber(this.form.expected_results)
      );
    },
  },
};
</script>

<style lang="css" scoped></style>
