<template>
  <div class="container">
    <b-form @submit="onSubmit">
      <h5 class="text-center mt-3 mb-3">
        ¿Estas seguro que desea desactivar el portafolio {{ portfolio.year }}?
      </h5>
      <b-button type="submit" variant="warning">Desactivar</b-button>
      &nbsp;&nbsp;
      <b-button :to="{ name: 'listPortfolios' }" type="submit" variant="primary"
        >Cancelar</b-button
      >
    </b-form>
  </div>
</template>

<script>
const url = process.env.VUE_APP_RUTA_API;
import axios from "axios";
import swal from "sweetalert";
export default {
  data() {
    return {
      portfolio: [],
      portfolioId: this.$route.params.portfolioId,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.deactivatePortfolio();
    },
    getPortfolio() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.get(path).then((response) => {
        this.portfolio = response.data;
      });
    },
    deactivatePortfolio() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}/`;
      const datos = {
        id: this.portfolioId,
        status: false,
      };
      axios.patch(path, datos).then(() => {
        swal("Portafolio desactivado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.$router.push({ name: "listPortfolios" });
        });
      });
    },
  },
  created() {
    this.getPortfolio();
  },
};
</script>
