<template lang="html">
  <div class="container">
    <div class="my-2 pl-2" align="left">
      <b-button :to="{ name: 'listPortfolios' }">
        <b-icon icon="arrow-left"></b-icon>
        &nbsp;Atrás
      </b-button>
    </div>
    <h4 class="text-center mt-1 mb-3">Editar portafolio</h4>
    <b-card class="mb-3">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row
          v-if="this.user.superadmin"
          class="text-left mb-1"
          align-v="center"
        >
          <b-col cols="3">
            Proceso:
          </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="processSelected"
              required
              id="id_Process"
              @change="getUsers"
            >
              <b-form-select-option
                v-for="(processSelected, indexOpt) in process"
                :key="indexOpt"
                :value="processSelected.id"
              >
                {{ processSelected.name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row  v-if="!this.$store.getters.isRespPortCurso" class="text-left mb-1" align-v="center">
          <b-col sm="3">Año:</b-col>
          <b-col sm="9">
            <div>
              <b-form-input
                required
                type="number"
                :state="yearStateValidation()"
                v-model="year"
                placeholder="Ingrese Año"
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(year)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(year, 2000, 2050)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; El año tiene que estar dentro del rango de 2000 y 2050
              </small>
            </div>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col sm="3">Semestre:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-select
                required
                v-model="semester"
                :options="options"
                @change="getCourses"
                id="id_Semester"
              ></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row
          v-if="this.mostrarCursos"
          class="text-left mb-1"
          align-v="center"
        >
          <b-col cols="3"> Cursos: </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="coursesSelected"
              required
              id="id_Course"
              :select-size="20"
              multiple
            >
              <b-form-select-option
                v-for="(coursesSelected, indexOpt) in courses"
                :key="indexOpt"
                :value="coursesSelected.id"
              >
                {{ coursesSelected.name }} {{ coursesSelected.resource }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center" >
          <b-col cols="3">
            Responsable:
          </b-col>
          <b-col cols="9">
            <b-form-select v-model="id_user" required id="id_Course">
              <b-form-select-option
                v-for="(id_user, indexOpt) in users"
                :key="indexOpt"
                :value="id_user.id"
              >
                {{ id_user.first_name }} {{ id_user.last_name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Colaboradores:
          </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="usersSelected"
              id="id_Course"
              :select-size="20"
              multiple
            >
              <b-form-select-option
                v-for="(usersSelected, indexOpt) in users"
                :key="indexOpt"
                :value="usersSelected.id"
              >
                {{ usersSelected.first_name }} {{ usersSelected.last_name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Fecha de inicio
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_StartDate"
              v-model="start_date"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateStartDateValidation()"
              @context="contextStartDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la primera etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase1"
              v-model="end_phase1"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateFirstEndDateValidation()"
              @context="contextFirstEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la segunda etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase2"
              v-model="end_phase2"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateSecondEndDateValidation()"
              @context="contextSecondEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la tercera etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase3"
              v-model="end_phase3"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateThirdEndDateValidation()"
              @context="contextThirdEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la cuarta etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase4"
              v-model="end_phase4"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateFourthEndDateValidation()"
              @context="contextFourthEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="msg" v-if="!datesValidation()">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Las fechas no tienen que ser mayor a una fase siguiente.
            </small>
          </b-col>
        </b-row>
        <b-row class="py-4">
          <div class="col-12">
            <div class="text-right float-right ml-3">
              <b-button type="submit" variant="secondary" class="float-left"
                ><b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button
              >
            </div>
            <div class="text-right float-right ml-3">
              <b-button
                type="reset"
                variant="danger"
                class="text-right float-right ml-3"
              >
                <b-icon icon="x"></b-icon>Reiniciar</b-button
              >
            </div>
          </div>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      mostrarCursos: false,
      portfolioId: this.$route.params.portfolioId,
      semester: null,
      year: null,
      start_date: null,
      end_phase1: null,
      end_phase2: null,
      end_phase3: null,
      end_phase4: null,
      id_user: null,
      resources: [],
      resourceSelected: [],
      user: [],
      users: [],
      usersSelected: [],
      responsable: [],
      courses: [],
      coursesSelected: [],
      process: [],
      processSelected: [],
      options: [
        { value: 0, text: "A" },
        { value: 1, text: "B" },
        { value: 2, text: "C" },
      ],
      context: {
        start: "",
        firstEnd: "",
        secondEnd: "",
        thirdEnd: "",
        fourthEnd: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-ú0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
    };
  },
  methods: {
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el portafolio
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editPortfolioValidation()) {
        this.editPortafolio();
      }
    },
    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },


    /**
      * @description Metodo que setea los inputs a vacio
    */
    clear() {
      this.start_date = "";
      this.end_phase1 = "";
      this.end_phase2 = "";
      this.end_phase3 = "";
      this.end_phase4 = "";
      this.processSelected = "null";
      this.year = "";
      this.semester = null;
      this.coursesSelected = [];
      this.id_user = null;
      this.usersSelected = [];
      this.courses = [];
    },

    /**
      * @description Verifica que la fecha de una fase siguiente no sea menor a una anterior
    */
    datesValidation() {
      return (
        this.processStartDateValidation() &&
        this.processFirstEndDateValidation() &&
        this.processSecondEndDateValidation() &&
        this.processThirdEndDateValidation() &&
        this.processFourthEndDateValidation()
      );
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    editPortfolioValidation() {
      return (
        this.yearValidation() &&
        this.processStartDateValidation() &&
        this.processFirstEndDateValidation() &&
        this.processSecondEndDateValidation() &&
        this.processThirdEndDateValidation() &&
        this.processFourthEndDateValidation()
      );
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input del año
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    yearStateValidation() {
      if (this.textEmpty(this.year)) {
        return new Boolean(null);
      }
      return this.yearValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    yearValidation() {
      return (
        this.numberSize(this.year, 2000, 2050) && this.onlyNumber(this.year)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateStartDateValidation() {
      if (this.textEmpty(this.start_date)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    processStartDateValidation() {
      return !this.textEmpty(this.start_date);
    },

    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 1
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateFirstEndDateValidation() {
      if (this.textEmpty(this.end_phase1)) {
        return new Boolean(null);
      }
      return this.processFirstEndDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 1
     * @return {boolean}
     */
    processFirstEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase1) && this.end_phase1 > this.start_date
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 2
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateSecondEndDateValidation() {
      if (this.textEmpty(this.end_phase2)) {
        return new Boolean(null);
      }
      return this.processSecondEndDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 2
     * @return {boolean}
     */
    processSecondEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase2) && this.end_phase2 > this.end_phase1
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 3
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateThirdEndDateValidation() {
      if (this.textEmpty(this.end_phase3)) {
        return new Boolean(null);
      }
      return this.processThirdEndDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 3
     * @return {boolean}
     */
    processThirdEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase3) && this.end_phase3 > this.end_phase2
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 4
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateFourthEndDateValidation() {
      if (this.textEmpty(this.end_phase4)) {
        return new Boolean(null);
      }
      return this.processFourthEndDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 4
     * @return {boolean}
     */
    processFourthEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase4) && this.end_phase4 > this.end_phase3
      );
    },

    /**
     * @description Metodo que obtiene el contexto de un input date de la fecha de inicio
     */
    contextStartDate(ctx) {
      this.context.start = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 1
     */
    contextFirstEndDate(ctx) {
      this.context.firstEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 2
     */
    contextSecondEndDate(ctx) {
      this.context.secondEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 3
     */
    contextThirdEndDate(ctx) {
      this.context.thirdEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 4
     */
    contextFourthEndDate(ctx) {
      this.context.fourthEnd = ctx;
    },

    editPortafolio() {
      const datos = {
        courses: this.coursesSelected,
        semester: this.semester,
        year: this.year,
        start_date: this.start_date,
        end_phase1: this.end_phase1,
        end_phase2: this.end_phase2,
        end_phase3: this.end_phase3,
        end_phase4: this.end_phase4,
        users: this.usersSelected,
        id_user: this.id_user,
        id_process: this.processSelected,
      };
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios
        .put(path, datos)
        .then(() => {
          /** 
          swal("Portafolio editado exitosamente", "", "success", {
            button: "Aceptar",
          });
          //ViewPortfolio/41/EditPortfolio
          this.$router.push({ name: "ListPortfolios" });
*/
          swal("Portafolio editado exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            //this.$router.push("/process/" + this.processId + "/detail");
            //location.reload();
            this.$router.push({ name: "listPortfolios" });

          });


        })
        .catch(() => {
          swal("El portafolio no se ha editado", "", "error", {
            button: "Aceptar",
          });
        });
    },
    getPortafolio() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.get(path).then((response) => {
        this.semester = response.data.semester;
        this.year = response.data.year;
        this.start_date = response.data.start_date;
        this.end_phase1 = response.data.end_phase1;
        this.end_phase2 = response.data.end_phase2;
        this.end_phase3 = response.data.end_phase3;
        this.end_phase4 = response.data.end_phase4;
        this.usersSelected = response.data.users;
        this.id_user = response.data.id_user;
        this.coursesSelected = response.data.courses;
      });
    },
    getPortafolioSuperAdmin() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.get(path).then((response) => {
        this.semester = response.data.semester;
        this.year = response.data.year;
        this.start_date = response.data.start_date;
        this.end_phase1 = response.data.end_phase1;
        this.end_phase2 = response.data.end_phase2;
        this.end_phase3 = response.data.end_phase3;
        this.end_phase4 = response.data.end_phase4;
        this.processSelected = response.data.id_process;
        this.usersSelected = response.data.users;
        this.id_user = response.data.id_user;
        this.coursesSelected = response.data.courses;

        this.getUsersColabxProcess(this.processSelected);

        console.log( this.processSelected )
      });
    },
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    getCourses() {
      console.log("getCourses")
      console.log(this.processSelected)
      console.log(this.$store.getters.idProceso)
      this.mostrarCursos = true;
      if (this.$store.getters.isSuperadmin) {
        this.getCursosXProcesos(this.processSelected);
      
        return true;
      }
      if ( this.$store.getters.isResProceso ||
           this.$store.getters.isRespPortCurso
      ) {
        this.getCursosXProcesos(this.$store.getters.idProceso);
        return ;

      }


    },
    // getCourses() {
    //   this.mostrarCursos = true;
    //   const path = url + `process/portfolio/course/?semester=${this.semester}`;
    //   axios.get(path).then((response) => {
    //     this.courses = response.data;
    //   });
    // },
    getCursosXProcesos(idprocess){

        //process/portfolio/resource/?id_process=1
        const path = url + 'process/portfolio/resource/?id_process='+idprocess;
        //const path = url + 'process/portfolio/resource/?id_process='+this.$store.getters.idProceso;
        axios.get(path).then(async (response) => {
          this.courses = response.data;//muesttra los planes y desaprece al recibir todo

            let idsRecursos=[];
            for (let item of response.data) {
              idsRecursos.push(item.id);
            }
            let tmpfullcursos=[];

            for(let id of idsRecursos){
              console.log(id)

              const path = url + 'process/portfolio/course/?id_resource='+id;
              await axios.get(path).then((response) => {
                //this.courses = response.data;
                //let tmpcursos = response.data;
                //console.log(tmpcursos);
                for(let item of response.data){
                  tmpfullcursos.push(item);
                }
              });

            }
            //console.log(tmpfullcursos)

            if (this.semester == 0) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 !== 0 );
                tmpfullcursos = listFilter;
              //return;
            }
            if (this.semester == 1) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 == 0 );
                tmpfullcursos = listFilter;
                  //return;
            }
            //this.courses = response.data;


            idsRecursos=[];
            //console.log(tmpfullcursos)
            this.courses = tmpfullcursos;

          //console.log(idsRecursos);
        });
    },


    getUsers() {
      console.log("seleciono procesooo");
        this.getUsersColabxProcess(this.processSelected);
      
    },

    getUsersColabxProcess(idProcess){

      //api/user/user/?id_role__id_process=1
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.users = response.data;
      });


    },
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        this.$router.push("/");
      }

      this.$router.push("/");
    },
  },
  async created() {
    PermissionService.setUserActive();

    this.viewPermission();

    this.user = await AuthService.getUser();
    if (this.user.superadmin == true) {
       this.getProcess();
       this.getPortafolioSuperAdmin();
      //console.log(this.processSelected)
      //this.getUsersColabxProcess(this.processSelected);
     // this.getUsers();
    } else {
      this.getPortafolio();
      //this.getUsersColabxProcess(this.processSelected);
      //this.getUsers();
       this.getUsersColabxProcess(this.$store.getters.idProceso);
    }
  },
};
</script>

<style lang="css" scoped></style>
