<template lang="html">
  <b-container>
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p><strong>Curso: </strong>{{ curso.name }}</p>
      </b-col>
    </b-row>

    <b-row class="mb-4 text-left border p-3">
      <b-col cols="9" v-if="createPermission()">
        <b-form-file
          v-model="selectedFiles"
          :state="Boolean(selectedFiles)"
          accept=".pdf, .doc, .docx"
          multiple
          @change="handleFilesUpload"
          placeholder="Seleccione un archivo or  arrastrelo aquí..."
          drop-placeholder="Arrastrelo aquí..."
        >
        </b-form-file>

        <div class="mt-3">
          <strong>Archivos Seleccionados:</strong>

          <li v-for="lista of selectedFiles" :key="lista">
            {{ lista.name }}
          </li>
        </div>
      </b-col>

      <b-col class="2">
        <b-button
          variant="primary"
          v-on:click="submitFiles()"
          v-if="createPermission()"
          >Subir</b-button
        >
      </b-col>

      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document.item.id)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />

      <template>
        <div>
          <b-table striped hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
//import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {},
  data() {
    return {
      idCourseActive: this.$route.params.courseId,
      cursoActive: null,
      curso: { name: "" },
      periodAcademic: null,
      document: [],
      documents: [],
      labels: [
        {
          key: "name",
          label: "Nombre de documento",
          sortable: true,
        },
        {
          key: "acc",
          label: "Accion",
        },
      ],

      currentFile: undefined,
      progress: 0,
      message: "",
      fileInfos: [],
      items: [],
      selectedFiles: "",
      nombres: [],
    };
  },

  methods: {
    /**
     * @description esto es para seleccionar los archivos y tener la información
     */
    handleFilesUpload(event) {
      this.selectedFiles = event.target.files;

      for (var i = 0; i < this.selectedFiles.length; i++) {
        this.fileInfos.push(this.selectedFiles[i]);
      }
      console.log(this.fileInfos);
    },

    submitFiles() {
      for (var i = 0; i < this.selectedFiles.length; i++) {
        let formData = new FormData();
        formData.append("id_period_academic", this.periodAcademic.id);
        formData.append("doc_annexed", this.selectedFiles[i]);
        this.createdEvidenceDocument(formData);
      }
    },
    eliminateFiles(id) {
      console.log(id);
      this.deleteCreatedEvidenceDocument(id);
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == 3
        );

        this.periodAcademic = encontrado;
      });
      this.getCreatedEvidenceDocument();
    },

    /**
     * @description Agregar archivos cargados a la base de datos
     */
    createdEvidenceDocument(data) {
      const path = url + `process/portfolio/evidence_document/`;

      axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument();
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
    },
    /**
     * @description Listando archivos cargados de la base de datos
     */
    getCreatedEvidenceDocument() {
      const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademic.id}`;
      axios.get(path).then((response) => {
        console.log("hola");
        console.log(response.data);
        this.documents = response.data;
        this.document = [];

        //Mostrando los documentos ya cargados en una tabla
        for (var i = 0; i < this.documents.length; i++) {
          this.document.push({
            name: this.documents[i].doc_annexed_filename,
            id: this.documents[i].id,
            url: this.documents[i].doc_annexed,
          });
        }
      });
    },

    /**
     * @description Eliminar archivo de la base de datos  por el id
     */
    deleteCreatedEvidenceDocument(id) {
      const path = url + `process/portfolio/evidence_document/${id}/`;
      axios.delete(path).then(() => {
        console.log("Se elimino");
        this.getCreatedEvidenceDocument();
      });
    },

    /**
     * @description Se obtiene el curso activo con el método get
     * @return {Object} cursoActive, el curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}`;
      axios.get(path).then((response) => {
        this.cursoActive = response.data;
        this.getCourse();
      });
    },

    /**
     * @description Se obtiene el curso general con el método get
     * @return {Object} curso, el curso general
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.cursoActive.id_course}`;
      axios.get(path).then((response) => {
        this.curso = response.data;
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */

    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
    },
  },

  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    await this.getPeriodAcademic();
  },
};
</script>

<style lang="css" scoped></style>
