<template>
  <b-container class="p-4" id='custom-css'>
    <b-row class='mb-4'>
      <b-col cols="10">
        <h2 class="text-left" py-2>ACADEMIC WORK</h2>
      </b-col>
      <b-col cols="2">
        <b-icon icon="person-fill" font-scale="2"></b-icon>
      </b-col>
    </b-row>

    <div title=" Title" no-body>
      <div header-tag="nav">
        <b-nav card-header tabs class='justify-content'>
          <b-nav-item :to="{name:'Fperiod'}" exact exact-active-class="active">FIRST PERIOD</b-nav-item>
          <b-nav-item :to="{name:'Speriod'}" exact exact-active-class="active">SECOND PERIOD</b-nav-item >
          <b-nav-item :to="{name:'Tperiod'}" exact exact-active-class="active">THIRD PERIOD</b-nav-item >
        </b-nav>
      </div>
      <div>
        <router-view></router-view>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="css" scoped></style>
