<template>
  <b-container class="p-4" id='custom-css'>
   <b-row class='mb-4'>
      <b-col cols="10">
        <h2 class="text-left  py-2">Segundo Periodo</h2>
      </b-col>
      <b-col cols="2">
        <b-icon icon="person-fill" font-scale="2"></b-icon>
      </b-col>
      <div class='my-3'>
          <b-button class="float-left ml-3" :to="{ name: 'listCourses' }" >
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
          </b-button>
        </div>
    </b-row>


    <div title="Title" no-body>
      <div header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item :to= "{name: 'ExamEvidencesSecond'}" exact exact-active-class="active"
            >Evidencias del Examen</b-nav-item>
          <b-nav-item :to= "{name:'ContinuosEvidencesSecond'}" exact exact-active-class="active"
            >Evidencias de Evaluación Continua</b-nav-item>
          <b-nav-item :to= "{name: 'CourseEvidencesSecond'}" exact exact-active-class="active"
            >Evidencias del curso</b-nav-item>
          <b-nav-item :to= "{name:'EvaluationReportSecond'}" exact exact-active-class="active"
            >Reportes de Evaluación</b-nav-item>       
          
        </b-nav>
      </div>
      <div class='mt-4'>
        <router-view></router-view>
      </div>
    </div>
  </b-container>
</template>

<script>
import { Module, Permission,PermissionService, CourseDatesService } from '@/services';

export default {
  data() {
    return {};
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if ((PermissionService.findPermission(Permission.View, Module.Portafolio) )) {
          // validacion de responsable en caso hubiera
          return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },
    
    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates(){
      if(CourseDatesService.isUserSeeEveything()){
        return;
      } 
      if(!(CourseDatesService.isUserColab() && CourseDatesService.isThirdPhase())) {
        this.$router.push("/");
      }
    }
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.viewDates();
    CourseDatesService.getPortfolioDates(this.portfolioId);
  },
};
</script>

<style lang="css" scoped></style>
