<template lang="html">
  <b-container>
    <b-modal
      id="activate-phase-modal"
      ref="modal"
      title="Activar Fase"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere activar la fase: {{ this.PhaseInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["PhaseInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.activatePhase();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-phase-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    activatePhase() {
      const path = url + `process/phase/${this.PhaseInfo.id}/`;
      const datos = {
        status: true,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Fase Activada Exitosamente!", "", "success", {
            button: "Aceptar",
          });
          this.$router.push(
            "/process/" + this.PhaseInfo.id_process + "/detail"
          );
        })
        .catch(() => {
          swal("Error al activar la fase!", "", "error", {
            button: "Aceptar",
          });
          this.$router.push(
            "/process/" + this.PhaseInfo.id_process + "/detail"
          );
        });
    },
  },
};
</script>

<style></style>
