<template>
  <b-container>
    <b-row class="text-left mb-3">
      <b-col>
        <h2>Detalles de la Fase</h2>
      </b-col>
    </b-row>
    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group label="Nombre:" label-for="input-1">
          <b-form-input
            id="input-1"
            type="text"
            v-model="form.name"
            :formatter="forceLowerCase"
            required
            :state="phaseStateNameValidation()"
            >{{ phase.name }}</b-form-input
          >
          <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 2, 20)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 20 caracteres
          </small>
        </b-form-group>

        <b-form-group label="Descripción:" label-for="input-2">
          <b-form-textarea
            id="input-2"
            type="text"
            name="description"
            v-model.trim="form.description"
            :formatter="forceLowerCase"
            :state="phaseStateDescriptionValidation()"
            >{{ phase.description }}</b-form-textarea
          >
          <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small
            class="msg"
            v-if="
              !textEmpty(form.description) &&
                !textSize(form.description, 8, 100)
            "
          >
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 8 y máximo 100 caracteres
          </small>
        </b-form-group>
        <b-button type="submit" variant="success" block>Editar</b-button>
        <b-button type="reset" variant="danger" block>Reiniciar</b-button>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      phaseId: this.$route.params.phaseId,
      phase: [],
      isrespPro: false,
      form: {
        name: "",
        description: "",
        percentage: 0,
        id_process: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      errorList: [],

      state: [
        { value: true, text: "Activo" },
        { value: false, text: "Inactivo" },
      ],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego
     * crear la fase
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editPhaseValidation()) {
        this.editPhase();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Edita la fase especifica indicando su id con el nombre descripcion y estado
     */
    editPhase() {
      const path = url + `process/phase/${this.phaseId}/`;
      axios
        .put(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          swal("Fase Actualizada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/phase/" + this.phaseId + "/detail");
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_process, name deben formar un conjunto único.",
              "Ya existe una fase con ese nombre."
            )
          );

          swal("No se creó la fase", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },
    /**
     * @description Obtiene datos de una fase especifica segun su id
     */
    getPhase() {
      const path = url + `process/phase/${this.phaseId}/`;
      axios
        .get(path)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.form.percentage = response.data.percentage;
          this.form.id_process = response.data.id_process;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre y descripcion
     */
    editPhaseValidation() {
      return (
        this.phaseNameValidation() && this.phaseStateDescriptionValidation()
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    phaseStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.phaseNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    phaseNameValidation() {
      return (
        this.textSize(this.form.name, 2, 20) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    phaseStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.phaseDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    phaseDescriptionValidation() {
      return (
        this.textSize(this.form.description, 8, 100) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.Edit, Module.Fases)) {
        return true;
      }

      if (this.isrespPro) {
        return true;
      }

      this.$router.push("/");
    },
  },
  async created() {
    PermissionService.setUserActive();
    this.isrespPro = await PermissionService.isRespProcesos();
    this.viewPermission();

    this.getPhase();
  },
  computed: {},
};
</script>
