<template lang="html">
  <b-container>
    <b-modal
      id="create-phase-modal"
      ref="modal"
      title="Crear Fase"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" @submit="handleSubmit">
        <b-form-group
          :state="phaseStateNameValidation()"
          label="Nombre:"
          label-for="name-phase"
        >
          <b-form-input
            type="text"
            id="name-phase"
            v-model="form.name"
            :formatter="forceLowerCase"
            :state="phaseStateNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 2, 20)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 20 caracteres
          </small>
        </b-form-group>
        <b-form-group
          :state="phaseStateDescriptionValidation()"
          label="Descripción:"
          label-for="description-phase"
        >
          <b-form-input
            type="text"
            id="description-phase"
            v-model="form.description"
            :formatter="forceLowerCase"
            :state="phaseStateDescriptionValidation()"
          ></b-form-input>
          <small>No es obligatorio</small><br />
          <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small
            class="msg"
            v-if="
              !textEmpty(form.description) &&
                !textSize(form.description, 8, 100)
            "
          >
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 8 y máximo 100 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["ProcessID"],
  data() {
    return {
      form: {
        id: "",
        name: "",
        description: "",
        percentage: 0,
        status: true,
        id_process: null,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    resetModal() {
      this.form.name = "";
      this.form.description = "";
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, descripcion
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.phaseNameValidation() &&
        this.phaseStateDescriptionValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear fase y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createPhase();
      this.$nextTick(() => {
        this.$bvModal.hide("create-phase-modal");
      });
    },
    /**
     * @description Crea una fase con sus datos correspondientes
     */
    createPhase() {
      const path = url + `process/phase/`;
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.name = response.data.name;
          this.form.description = response.data.descripcion;
          this.form.percentage = response.data.percentage;
          this.form.status = response.data.status;
          this.form.id_process = response.data.id_process;
          swal("Fase Creada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_process, name deben formar un conjunto único.",
              "Ya existe una fase con ese nombre."
            )
          );

          swal("No se creó la fase", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    phaseStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.phaseNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    phaseNameValidation() {
      return (
        this.textSize(this.form.name, 2, 20) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    phaseStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.phaseDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    phaseDescriptionValidation() {
      return (
        this.textSize(this.form.description, 8, 100) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },
  },
  beforeUpdate() {
    this.form.id_process = this.ProcessID;
  },
};
</script>

<style lang="css" scoped></style>
