<template>
  <b-container class="bv-example-row px-5 py-5 bg-light">
    <b-row>
      <b-col cols="10">
        <h2 class="text-left" py-2>Panel de Control</h2>
      </b-col>
    </b-row>
    <b-row py-1>
      <b-col cols="4">
        <select
          v-model="processSelected"
          class="form-control"
          id="processSelected"
        >
          <b-form-select-option
            v-for="(processSelected, indexOpt) in process"
            :key="indexOpt"
            :value="processSelected"
            >{{ processSelected.name }}</b-form-select-option
          >
        </select>
      </b-col>
    </b-row>
    <br />
    <b-row py-2>
      <b-col cols="4">
        <b-card
          border-variant="secondary"
          header="Proceso en marcha"
          header-border-variant="secondary"
          align="left"
        >
          <b-card-text>
            <b-icon icon="person-fill"></b-icon>&nbsp;Propietario:
            {{ processSelected.id_owner }}
            <br />
            <b-icon icon="clock-fill"></b-icon>&nbsp;Fecha de creación:
            {{ processSelected.started }}
            <br />
            <b-icon icon="text-indent-left"></b-icon>&nbsp;Descripción:
            {{ processSelected.description }}
            <br />
            <b-icon icon="inbox-fill"></b-icon>&nbsp;Usuarios:
            {{ processSelected.id_user }}
            <br />
            <b-container>
              <b-button size="sm">Ver más</b-button>
              &nbsp;
            </b-container>
          </b-card-text>
        </b-card>
      </b-col>
      <b-col cols="3">
        <b-card
          border-variant="secondary"
          header="Fases"
          header-border-variant="secondary"
          align="left"
        >
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      processSelected: {},
      process: [],
    };
  },
  methods: {
    /**
     * @description Obtiene los datos de todos los procesos proporcionados por el API de backend
     * @return {process}
     */
    getProcess() {
      const path = url + `process/process/`;
      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Filtra los procesos para ver si el usuario logueado es el creador de un proceso
     * @return {process}
     */
    getProcessOwner() {
      const path =
        url + `process/process/?id_owner=${this.$store.getters.getId}`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
          if (this.process == "") {
            this.getProcessResponsable();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Filtra los procesos para ver si el usuario logueado es el responsable de un proceso
     * @return {process}
     */
    getProcessResponsable() {
      const path =
        url + `process/process/?id_user=${this.$store.getters.getId}`;

      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  /**
   * @description Verifica si el usuario actual tiene una sesion activa o no, luego obtiene sus datos
   * y finalmente verifica si es superusuario o no para filtrar los datos correspondientes
   */
  async created() {
    if (!this.$store.getters.isLoggedIn) {
      this.$store.dispatch("logout");
      this.$router.push("/login");
    } else {
      axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.$store.getters.isLoggedIn}`;
      const response = await AuthService.getUser();
      if (response.superadmin == true) {
        //this.getProcess();
      } else {
        //this.getProcessOwner();
      }
      //this.getPrueba();
    }
  },
};
</script>
<style lang="css" scoped></style>
